---
title: 'Les Cast Codeurs Podcast - Episode 9 - Tout le monde rachète tout le monde'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 9
mp3_length: 33890098
---
<p>Enregistré le 25 septembre 2009
</p>
<p>JBoss Community Asylum Podcast
</p>
<a href='http://asylum.libsyn.com/'>http://asylum.libsyn.com/</a>
<p>Sortie de XWiki 2.0
</p>
<a href='http://www.xwiki.org'>http://www.xwiki.org</a>
<h1>Nouvelles</h1>
<h2>Les programmeurs et la trentaine en France</h2>
<a href='http://www.touilleur-express.fr/2009/07/27/senior/'>http://www.touilleur-express.fr/2009/07/27/senior/</a>
<a href='http://blog.loof.fr/2009/07/35-ans-presque-mort.html'>http://blog.loof.fr/2009/07/35-ans-presque-mort.html</a>
<a href='http://olamy.blogspot.com/2009/07/evoluer-pour-un-informaticien-ca-veut.html'>http://olamy.blogspot.com/2009/07/evoluer-pour-un-informaticien-ca-veut.html</a>
<a href='http://codingly.com/2008/12/29/degage-sale-programmeur/'>http://codingly.com/2008/12/29/degage-sale-programmeur/</a>
<a href='http://sunchic.free.fr/wordpress/index.php/archives/2009/08/02/crise-quelle-crise/'>http://sunchic.free.fr/wordpress/index.php/archives/2009/08/02/crise-quelle-crise/</a>
<a href='http://www.computerworld.com/s/article/9137708/Opinion_The_unspoken_truth_about_managing_geeks?taxonomyId=14&amp;pageNumber=1'>http://www.computerworld.com/s/article/9137708/Opinion_The_unspoken_truth_about_managing_geeks?taxonomyId=14&amp;pageNumber=1</a>
<a href='http://agoncal.wordpress.com/2009/09/20/are-students-getting-brainwashed-to-become-project-managers/'>http://agoncal.wordpress.com/2009/09/20/are-students-getting-brainwashed-to-become-project-managers/</a>
<h2>Java trademark</h2>
<h3>JRebel</h3>
<a href='http://www.zeroturnaround.com/javarebel/'>http://www.zeroturnaround.com/javarebel/</a>
<a href='http://www.zeroturnaround.com/blog/community-renames-javarebel-to-jrebel/'>http://www.zeroturnaround.com/blog/community-renames-javarebel-to-jrebel/</a>
<h3>Devoxx</h3>
<a href='http://www.devoxx.com'>http://www.devoxx.com</a>
<h2>SpringSource racheté par VMWare</h2>
<a href='http://www.infoq.com/news/2009/08/vmware-springsource'>http://www.infoq.com/news/2009/08/vmware-springsource</a>
<a href='http://www.theserverside.com/news/thread.tss?thread_id=55430'>http://www.theserverside.com/news/thread.tss?thread_id=55430</a>
<a href='http://blogs.sun.com/theaquarium/entry/vmware_to_acquire_springsource'>http://blogs.sun.com/theaquarium/entry/vmware_to_acquire_springsource</a>
<a href='http://www.developpez.net/forums/d791767/club-professionnels-informatique/actualites/rachat-springsource-vmware-projet-dacquisition-signe-protocole-daccord/'>http://www.developpez.net/forums/d791767/club-professionnels-informatique/actualites/rachat-springsource-vmware-projet-dacquisition-signe-protocole-daccord/</a>
<a href='http://blog.ippon.fr/node/1336'>http://blog.ippon.fr/node/1336</a>
<a href='http://thecodersbreakfast.net/index.php?post/2009/08/10/VMWare-acquiert-SpringSource'>http://thecodersbreakfast.net/index.php?post/2009/08/10/VMWare-acquiert-SpringSource</a>
<a href='http://www.touilleur-express.fr/2009/08/11/springsource-rachete-par-vmware/'>http://www.touilleur-express.fr/2009/08/11/springsource-rachete-par-vmware/</a>
<h2>Spring Source rachète CloudFoundry</h2>
<h3>Spring Source CloudFoundry</h3>
<a href='http://www.cloudfoundry.com/'>http://www.cloudfoundry.com/</a>
<h3>Elastic Grid</h3>
<a href='http://www.elastic-grid.com/'>http://www.elastic-grid.com/</a>
<h3>UShare Soft</h3>
<a href='http://www.usharesoft.com/'> http://www.usharesoft.com/</a>
<h2>Intallio Rachète Jetty (le cloud, toujours le cloud)</h2>
<a href='http://blog.xebia.fr/2009/09/03/java-cloud-apres-tomcat-cest-au-tour-de-jetty'>http://blog.xebia.fr/2009/09/03/java-cloud-apres-tomcat-cest-au-tour-de-jetty</a>
<h2>MuleSoft sort TCat server</h2>
<a href='http://www.mulesoft.com/tcat-server-enterprise-tomcat-application-server'>http://www.mulesoft.com/tcat-server-enterprise-tomcat-application-server</a>
<a href='http://www.theserverside.com/news/thread.tss?thread_id=57531'>http://www.theserverside.com/news/thread.tss?thread_id=57531</a>
<a href='http://www.cbronline.com/news/mulesoft_releases_tcat_server_beta_with_ibeans_090922'>http://www.cbronline.com/news/mulesoft_releases_tcat_server_beta_with_ibeans_090922</a>
<h2>Bonitasoft</h2>
<a href='http://www.bonitasoft.com/'>http://www.bonitasoft.com/</a>
<h2>JBoss et Rest-*</h2>
<a href='http://blogs.sun.com/alexismp/entry/thoughts_on_rest'> http://blogs.sun.com/alexismp/entry/thoughts_on_rest</a>
<a href='http://www.rest-star.org'>http://www.rest-star.org</a>
<a href='http://apsblog.burtongroup.com/2009/09/rest-ive-got-a-bad-feeling-about-this.html'>http://apsblog.burtongroup.com/2009/09/rest-ive-got-a-bad-feeling-about-this.html</a>
<h2>Divers</h2>
<p>Sortie de Google Andriod 1.6
</p>
<a href='http://developer.android.com/sdk/android-1.6-highlights.html'>http://developer.android.com/sdk/android-1.6-highlights.html</a>
<p>Sortie de Google Frame
</p>
<a href='http://code.google.com/intl/fr-FR/chrome/chromeframe/'>http://code.google.com/intl/fr-FR/chrome/chromeframe/</a>
<p>Les librairies Guava open-sourcées
</p>
<a href='http://code.google.com/p/guava-libraries/'>http://code.google.com/p/guava-libraries/</a>
<p>Fusion JBoss Portal et eXo Portal = GateIn
</p>
<a href='http://www.gatein.org'>http://www.gatein.org</a>
<h1>Les JUGs et conferences</h1>
<p>Mars JUG qui inaugure le 15 octobre avec Emmanuel
</p>
<a href='http://www.marsjug.org/evenements'>http://www.marsjug.org/evenements</a>
<h1>Les mains dans le cambouis</h1>
<p>CITCON à Paris :
</p>
<a href='http://citconf.com/paris2009/'>http://citconf.com/paris2009/</a>
<p>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-9.mp3'>LesCastCodeurs-Episode-9.mp3</a></p>
