---
title: 'Les Cast Codeurs Episode 13 - Interview de Jean-Francois Arcand sur Atmosphere'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 13
mp3_length: 33158667
---
<div>
<div>Enregistre le mardi 19 novembre 2009</div>
</div>
<p>Jean Francois Arcand
</p>
<div><a href='http://www.java.net/blogs/jfarcand/'>http://www.java.net/blogs/jfarcand/</a>
<div><a href='http://twitter/jfarcand'>@jfarcand</a></div>
<div/>
<div/>
<div>
<div>Grizzly <a href='https://grizzly.dev.java.net/'>https://grizzly.dev.java.net/</a></div>
<div>Tomcat <a href='http://tomcat.apache.org'>http://tomcat.apache.org</a></div>
<div>Atmosphere <a href='https://atmosphere.dev.java.net/'>https://atmosphere.dev.java.net/</a></div>
<div>Netty <a href='http://www.jboss.org/netty/'>http://www.jboss.org/netty/</a></div>
<div>Mina <a href='http://mina.apache.org/'>http://mina.apache.org/</a></div>
<div>Comet <a href='http://en.wikipedia.org/wiki/Comet_(programming)'>http://en.wikipedia.org/wiki/Comet_(programming)</a></div>
<div>spdy protocol <a href='http://sites.google.com/a/chromium.org/dev/spdy/spdy-whitepaper'>http://sites.google.com/a/chromium.org/dev/spdy/spdy-whitepaper</a></div>
<div>NIO <a href='http://en.wikipedia.org/wiki/New_I/O'>http://en.wikipedia.org/wiki/New_I/O</a></div>
<div>Apache Portable Runtime <a href='http://apr.apache.org/'>http://apr.apache.org/</a></div>
<div>Jersey <a href='https://jersey.dev.java.net/'>https://jersey.dev.java.net/</a></div>
<div>Google App Engine <a href='http://code.google.com/appengine/'>http://code.google.com/appengine/</a></div>
<div>Tasks <a href='http://googleappengine.blogspot.com/2009/06/new-task-queue-api-on-google-app-engine.html'>http://googleappengine.blogspot.com/2009/06/new-task-queue-api-on-google-app-engine.html</a></div>
<div>Suivez-nous sur twitter <a href='http://twitter/lescastcodeurs'>@lescastcodeurs</a> ou sur notre forum, voir <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com</a></div>
<div/>
<div>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-13.mp3'>LesCastCodeurs-Episode-13.mp3</a></div>
</div>
</div>
