---
title: 'Les Cast Codeurs Podcast - Episode 3'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 3
mp3_length: 28003038
---
<p>4 mai 2009
</p>
<div class='postBody'>
<h2>News</h2>
<h3>Sun rachete par Oracle</h3>
<p>* <a href='http://tech.puredanger.com/2009/04/20/oracle-buys-sun/'>http://tech.puredanger.com/2009/04/20/oracle-buys-sun/</a>
</p>
<p>* <a href='http://www.sun.com/aboutsun/pr/2009-04/sunflash.20090420.1.xml'>http://www.sun.com/aboutsun/pr/2009-04/sunflash.20090420.1.xml</a>
</p>
<p>* <a href='http://finance.yahoo.com/news/Oracle-Buys-prnews-14969049.html'>http://finance.yahoo.com/news/Oracle-Buys-prnews-14969049.html</a>
</p>
<p>* <a href='http://blog.xebia.fr/2009/04/20/oracle-rachete-sun/'>http://blog.xebia.fr/2009/04/20/oracle-rachete-sun/</a>
</p>
<p>* <a href='http://www.dng-consulting.com/blogs/index.php/2009/04/20/oracle-rachaegrave-te-sun-quelles-consae?blog=1'>http://www.dng-consulting.com/blogs/index.php/2009/04/20/oracle-rachaegrave-te-sun-quelles-consae?blog=1</a>
</p>
<p>* <a href='http://www.lemondeinformatique.fr/actualites/lire-sun-oracle-un-sacre-coup-a-l-open-source-pour-forrester-28466.html'>http://www.lemondeinformatique.fr/actualites/lire-sun-oracle-un-sacre-coup-a-l-open-source-pour-forrester-28466.html</a>
</p>
<p>* <a href='http://www.forbes.com/2009/04/29/java-oracle-sun-technology-internet-infrastructure-java.html?partner=yahootix'>http://www.forbes.com/2009/04/29/java-oracle-sun-technology-internet-infrastructure-java.html?partner=yahootix</a>
</p>
<p>* JavaFX <a href='http://weblogs.java.net/blog/opinali/archive/2009/04/oracle_and_java.html'>http://weblogs.java.net/blog/opinali/archive/2009/04/oracle_and_java.html</a>
</p>
<p>Bases de donnees en memoire: Derby <a href='http://db.apache.org/derby/'>http://db.apache.org/derby/</a>, H2 <a href='http://www.h2database.com'>http://www.h2database.com</a>, HSQLDB <a href='http://hsqldb.org/ '>http://hsqldb.org/</a>
</p>
<h3>Processeur multi coeur et Java</h3>
<p>Acteurs par Alex Miller <a href='http://tech.puredanger.com/presentations/actor-concurrency'>http://tech.puredanger.com/presentations/actor-concurrency</a>
</p>
<p>Twitter et Scala <a href='http://www.artima.com/scalazine/articles/twitter_on_scala.html'>http://www.artima.com/scalazine/articles/twitter_on_scala.html</a>
</p>
<h3>Google Code et Mercurial</h3>
<a href='http://google-code-updates.blogspot.com/2009/04/mercurial-support-for-project-hosting.html'>http://google-code-updates.blogspot.com/2009/04/mercurial-support-for-project-hosting.html</a>
<a href='http://code.google.com/p/support/wiki/DVCSAnalysis'>http://code.google.com/p/support/wiki/DVCSAnalysis</a>
<a href='http://www.selenic.com/mercurial'>http://www.selenic.com/mercurial</a>
<a href='http://git-scm.com/'>http://git-scm.com/</a>
<h3>SpringOne</h3>
<p>Spring Roo <a href='http://www.springsource.org/roo'>http://www.springsource.org/roo</a>
</p>
<h2>Jugs</h2>
<p>Lyon <a href='http://www.lyonjug.org'>http://www.lyonjug.org</a>
</p>
<p>Chti - <a href='http://chtijug.org/'>http://chtijug.org/</a>
</p>
<p>Leman - <a href='http://jugl.ch'>http://jugl.ch</a>
</p>
<h2>Les mains dans le cambouis</h2>
<p>Actors
</p>
<p>Acteurs par Alex Miller <a href='http://tech.puredanger.com/presentations/actor-concurrency'>http://tech.puredanger.com/presentations/actor-concurrency</a>
</p>
<h2>Outils de la semaine</h2>
<a href='http://en.wikipedia.org/wiki/Mind_map'>http://en.wikipedia.org/wiki/Mind_map</a>
<p>Xmind <a href='http://www.xmind.net/'>http://www.xmind.net/</a>
</p>
<p>Freemind <a href='http://freemind.sourceforge.net/'>http://freemind.sourceforge.net/</a>
</p>
<h2>Vos retours</h2>
<p>Valtech Days <a href='http://www.valtech.fr/fr/index/valtech_days.html/'>http://www.valtech.fr/fr/index/valtech_days.html/</a>
</p>
<p>Nicolas Martignole, notre createur de logo <a href='http://www.touilleur-express.fr/'>http://www.touilleur-express.fr/</a>
</p>
<h2>Feedback</h2>
<a href='http://lescastcodeurs.com'>http://lescastcodeurs.com</a>
<a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
<a href='mailto:commentaire@lescastcodeurs.com'>commentaire@lescastcodeurs.com</a></div>
<div class='postDetails'>Download direct: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-3.mp3'>LesCastCodeurs-Episode-3.mp3</a></div>
