---
title: 'Les Cast Codeurs Podcast - Episode 2'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 2
mp3_length: 15911287
---
<div class='postBody'>Interview d'Emmanuel Lecharny sur Apache Directory Server. Qu'est-ce qu'un directory server? Pourquoi LDAP? A quoi ca sert? Qu'est-ce qu'offre Apache Directory Server?Enregistre le 28 mars 2009.
<p>Apache Directory Server <a href='http://directory.apache.org/'>http://directory.apache.org/</a>
</p>
<p>Project vision <a href='http://directory.apache.org/community%26resources/ldap-renaissance.html'>http://directory.apache.org/community%26resources/ldap-renaissance.html</a>
</p>
<p>Blog d'Emmanuel Lecharny <a href='http://hrabal.blogspot.com/'>http://hrabal.blogspot.com/</a>
</p>
</div>
<div class='postDetails'>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-2.mp3'>LesCastCodeurs-Episode-2.mp3</a>
</div>
