---
title: 'Les Cast Codeurs ont un logo'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>A peine sur les ondes, les Cast Codeurs ont reçu le soutien de la communauté Java et quelques coups de pouce. C'est ainsi qu'il y a qques jours, par une belle journée de printemps, Nicolas Martignole, notre <a href='http://www.touilleur-express.fr'>Touilleur Express</a> national, nous a proposé de créer un logo. Je lui connaissais des talents de rédacteur de blog, de scrum master, d'orateur, de développeur, mais pas de paintshopeur. Et bien je m'étais trompé. En qques clics Nicolas nous a proposé plusieurs logos et nous avons retenu celui là. Plutôt pas mal non ?
</p>
<img class='alignnone size-full wp-image-45' title='logo' alt='logo' src='http://lescastcodeurs.com/wordpress/wp-content/themes/gear/images/ico.big/logo_carre_transparent_150height.png'/>
<p>Bravo Nicolas, et encore merci.</p>
