---
title: 'Le premier épisode est enregistré!'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>Pas trop mal pour une première franchement. Je crois qu'on a naturellement trouvé un ton qui nous convient.
</p>
<p>Skype nous a un peu lâché mais on s'est debrouillé. Prochaine étape, mixer tout ca et publier :)
</p>
<p>L'interview sera avec Emmanuel Lécharny sur Apache Directory Server. Une bonne intro sur le sujet.
</p>
<p>GarageBand va chauffer.</p>
