---
title: 'Les Cast Codeurs Podcast - Episode 14 - Les previsions du bilan et le bilan des previsions'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 14
mp3_length: 43717703
---
<div>Le 14 decembre 2009</div>
<div><strong>Nouvelles</strong></div>
<p>Java EE 6 <a href='http://java.sun.com/javaee/'>http://java.sun.com/javaee/</a>
</p>
<div>Glassfish v3 <a href='https://glassfish.dev.java.net/downloads/v3-final.html'>https://glassfish.dev.java.net/downloads/v3-final.html</a></div>
<div>Caucho Resin <a href='http://www.caucho.com/'>http://www.caucho.com/</a></div>
<div>JBoss AS 6 M1 <a href='http://in.relation.to/Bloggers/IntroducingJBossAS600M1'>http://in.relation.to/Bloggers/IntroducingJBossAS600M1</a></div>
<div>Yahoo server de cache <a href='http://www.theregister.co.uk/2009/11/03/yahoo_open_sources_application_server/'>http://www.theregister.co.uk/2009/11/03/yahoo_open_sources_application_server/</a></div>
<div>Google public DNS <a href='http://code.google.com/speed/public-dns/'>http://code.google.com/speed/public-dns/</a> <a href='http://code.google.com/speed/public-dns/docs/intro.html'>http://code.google.com/speed/public-dns/docs/intro.html</a></div>
<div>Google App Engine 1.3 <a href='http://googleappengine.blogspot.com/2009/12/app-engine-sdk-130-released-including.html'>http://googleappengine.blogspot.com/2009/12/app-engine-sdk-130-released-including.html</a></div>
<div>Microsoft et le Cloud Storage <a href='http://www.theregister.co.uk/2009/12/10/azure_storage_boxes/'>http://www.theregister.co.uk/2009/12/10/azure_storage_boxes/</a></div>
<div>Livre Apache Maven de Arnaud Hertier et Nicolas De loof <a href='http://www.amazon.fr/Apache-Maven-Nicolas-loof/dp/274402337X'>http://www.amazon.fr/Apache-Maven-Nicolas-loof/dp/274402337X</a></div>
<div><strong>Le bilan Java 2009</strong></div>
<div>Sun rachete par oracle <a href='http://www.theregister.co.uk/2009/12/18/oracle_q2/'>http://www.theregister.co.uk/2009/12/18/oracle_q2/</a></div>
<div>Java User Groups <a href='http://java.sun.com/community/usergroups/'>http://java.sun.com/community/usergroups/</a></div>
<div>Le cloud</div>
<div>Les rachats des boites open source (Terracotta sur Ehcache et Quartz, VMWare sur Spring Source, Intalio sur jetty)</div>
<div>ExoPlatform <a href='http://www.exoplatform.com/portal/public/website/'>http://www.exoplatform.com/portal/public/website/</a></div>
<div>XWiki <a href='http://www.xwiki.com'>http://www.xwiki.com</a></div>
<div>Scala <a href='http://www.scala-lang.org/'>http://www.scala-lang.org/</a></div>
<div>Fantom <a href='http://fantom.org/'>http://fantom.org/</a></div>
<div>Go <a href='http://golang.org/'>http://golang.org/</a></div>
<div>Cedric Beust <a href='http://beust.com/weblog/'>http://beust.com/weblog/</a></div>
<div>Les Cast Codeurs <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Les JUGs Francais <a href='http://www.touilleur-express.fr/2009/12/06/evenements-des-jugs-en-decembre-2009/'>http://www.touilleur-express.fr/2009/12/06/evenements-des-jugs-en-decembre-2009/</a></div>
<div>AlpesJUG <a href='http://alpesjug.org/'>http://alpesjug.org/</a></div>
<div>JUG Toulouse <a href='http://www.jugtoulouse.org/'>http://www.jugtoulouse.org/</a></div>
<div>Xebia calendrier de l'Avent <a href='http://blog.xebia.fr/2009/12/25/calendrier-de-l%E2%80%99avent-20'>http://blog.xebia.fr/2009/12/25/calendrier-de-l’avent-20</a></div>
<div><strong>Le bilan des cast codeurs 2009</strong></div>
<div>Antonio <a href='http://agoncal.wordpress.com/'>http://agoncal.wordpress.com/</a> <a href='http://twitter.com/agoncal'>http://twitter.com/agoncal</a></div>
<div>Vincent <a href='http://massol.myxwiki.org/xwiki/bin/view/Main/WebHome'>http://massol.myxwiki.org/xwiki/bin/view/Main/WebHome</a> <a href='http://twitter.com/vmassol'>http://twitter.com/vmassol</a></div>
<div>Guillaume <a href='http://glaforge.free.fr/weblog/'>http://glaforge.free.fr/weblog/</a> <a href='http://twitter.com/glaforge'>http://twitter.com/glaforge</a></div>
<div>Gaelyk <a href='http://gaelyk.appspot.com/'>http://gaelyk.appspot.com/</a></div>
<div>Emmanuel <a href='http://in.relation.to/Bloggers/Emmanuel'>http://in.relation.to/Bloggers/Emmanuel</a> <a href='http://emmanuelbernard.com'>http://emmanuelbernard.com</a> <a href='http://twitter.com/emmanuelbernard'>http://twitter.com/emmanuelbernard</a></div>
<div>Hibernate Search 3.2 Beta 1 <a href='http://relation.to/13197.lace'>http://relation.to/13197.lace</a></div>
<div><strong>Les previsions 2010</strong></div>
<div>liens non existant encore :)</div>
<p>Retrouvez nous sur Twitter <a href='http://twitter.com/lescastcodeurs'><span style='color: #000000;'><span style='text-decoration: none;'>http://twitter.com/lescastcodeurs</span></span></a> ou sur notre Google groupe <a href='http://lescastcodeurs.com/'><span style='color: #000000;'><span style='text-decoration: none;'>http://lescastcodeurs.com/</span></span></a>
</p>
<p>Votez et laissez des commentaires sur itunes <a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675'><span style='color: #000000;'><span style='text-decoration: none;'>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675</span></span></a> et parlez des cast codeurs autour de vous
</p>
<p>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-14.mp3'><span style='color: #000000;'><span style='text-decoration: none;'>LesCastCodeurs-Episode-14.mp3</span></span></a></p>
