---
title: 'Les Cast Codeurs Podcast - Episode 4'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 4
mp3_length: 19005003
---
<p>Enregistre le 15 avril 2009
</p>
<p>Interview de Marc-Antoine Garrigue sur l'analyse de code et XDepend
</p>
<a href='http://jcaptcha.sourceforge.net/'>http://jcaptcha.sourceforge.net/</a>
<a href='http://www.xdepend.com/'>http://www.xdepend.com/</a>
<a href='http://findbugs.sourceforge.net/'>http://findbugs.sourceforge.net/</a>
<a href='http://checkstyle.sourceforge.net/'>http://checkstyle.sourceforge.net/</a>
<a href='http://java-source.net/open-source/code-analyzers/sonar'>http://java-source.net/open-source/code-analyzers/sonar</a>
<a href='http://www.castsoftware.com/'>http://www.castsoftware.com/</a>
<p>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-4.mp3'>LesCastCodeurs-Episode-4.mp3</a>
</p>
<p>Dedicasse a tous les gens qui seront coince dans le train demain :)</p>
