---
title: 'Les Cast Codeurs Podcast Episode 8 - Interview de Romain Guy sur Google Android'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 8
mp3_length: 30610041
---
<div>Le 25 aout 2009</div>
<div>Site principal</div>
<div><a href='http://www.android.com/'>http://www.android.com/</a></div>
<div>Les sources</div>
<div><a href='http://source.android.com/'>http://source.android.com/</a></div>
<div>Le blog de l'equipe Android</div>
<div><a href='http://android-developers.blogspot.com/?hl=en'>http://android-developers.blogspot.com</a></div>
<div>La base de bugs d'Android</div>
<div><a href='http://b.android.com'>http://b.android.com</a></div>
<div>
<div>La presentation sur les optimisations</div>
<div><a href='http://code.google.com/events/io/sessions/CodingLifeBatteryLife.html'>http://code.google.com/events/io/sessions/CodingLifeBatteryLife.html</a></div>
<div>IRC sur freenode</div>
<div>#android</div>
<div>#androidfra</div>
<div>#android-dev</div>
<div>Le blog perso de Romain</div>
<div><a href='http://www.curious-creature.org/'>http://www.curious-creature.org</a></div>
</div>
<div>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-8.mp3'>LesCastCodeurs-Episode-8.mp3</a></div>
