---
title: 'google-group lescastcodeurs'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>Merci pour tous vos retours et encouragements : on prend des notes. On va essayer d'y repondre et d'etre a la hauteur.
</p>
<p>Histoire de faciliter la communication, on vient d'ouvrir un google group <a href='http://groups.google.com/group/lescastcodeurs'>les cast codeurs</a>. Donc si vous voulez commenter les nouvelles, le style, proposer des sujets, faites un petit post.
</p>
<a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
