---
title: 'Les Cast Codeurs Podcast - Episode 10 - Alain Gillot-Petre Computing'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 10
mp3_length: 49776624
---
<h2>Interview Jerome Bernard sur l'état du Cloud Computing</h2>
<p>Enregistré le 7 octobre 2009
</p>
<p>Jerome Bernard
</p>
<p>Elastic Grid <a href='http://www.elastic-grid.com/'>http://www.elastic-grid.com/</a>
</p>
<p>Elastic Grid sur twitter <a href='http://twitter.com/elasticgrid'>http://twitter.com/elasticgrid</a>
</p>
<p>Salesforce <a href='http://www.salesforce.com/platform/'>http://www.salesforce.com/platform/</a>
</p>
<p>Amazon WebServices (EC2, S3, EBS, SimpleDB...) <a href='http://aws.amazon.com'>http://aws.amazon.com</a>
</p>
<p>Google App Engine <a href='http://code.google.com/appengine/'>http://code.google.com/appengine/</a>
</p>
<p>Rackspace <a href='http://www.rackspacecloud.com/'>http://www.rackspacecloud.com/</a>
</p>
<p>network.com (Sun) <a href='http://www.sun.com/cloud/'>http://www.sun.com/cloud/</a>
</p>
<p>VMWare <a href='http://www.vmware.com/'>http://www.vmware.com/</a>
</p>
<p>OVH <a href='http://www.ovh.com/'>http://www.ovh.com</a>
</p>
<p>deltacloud.org (Red Hat) <a href='http://deltacloud.org/'>http://deltacloud.org</a>
</p>
<p>Amazon Virtual Private Cloud <a href='http://aws.amazon.com/vpc/'>http://aws.amazon.com/vpc/</a>
</p>
<p>SimpleDB <a href='http://aws.amazon.com/simpledb/'>http://aws.amazon.com/simpledb/</a>
</p>
<p>jgroups (multicast library) <a href='http://jgroups.org/'>http://jgroups.org/</a>
</p>
<p>Right Scale <a href='http://www.rightscale.com/'>http://www.rightscale.com/</a>
</p>
<p>Elastic Grid <a href='http://www.elastic-grid.com/'>http://www.elastic-grid.com/</a>
</p>
<p>MapReduce <a href='http://en.wikipedia.org/wiki/MapReduce'>http://en.wikipedia.org/wiki/MapReduce</a>
</p>
<p>Suivez Les Cast Codeurs sur twitter <a href='http://twitter.com/lescastcodeurs'>@lescastcodeurs</a>
</p>
<p>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-10.mp3'>LesCastCodeurs-Episode-10.mp3</a></p>
