---
title: 'Les Cast Codeurs Podcast - Episode 1'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 1
mp3_length: 71902534
---
<p>Le premier episode est dans les bacs!
</p>
<strong>Presentation de l'equipe</strong>
<strong>Les nouvelles</strong>
<em>* Google App Engine</em>
<a href='http://googleappengine.blogspot.com/2009/04/seriously-this-time-new-language-on-app.html'>http://googleappengine.blogspot.com/2009/04/seriously-this-time-new-language-on-app.html</a>
<a href='http://code.google.com/appengine/docs/whatisgoogleappengine.html'>http://code.google.com/appengine/docs/whatisgoogleappengine.html</a>
<a href='http://code.google.com/intl/fr/appengine/docs/java/jrewhitelist.html'>http://code.google.com/intl/fr/appengine/docs/java/jrewhitelist.html</a>
<a href='http://en.wikipedia.org/wiki/Dalvik_virtual_machine'>http://en.wikipedia.org/wiki/Dalvik_virtual_machine</a>
<a href='http://openjdk.java.net'>http://openjdk.java.net</a>
<em>* IBM rachete Sun... ou pas</em>
<a href='http://tech.yahoo.com/news/nm/20090318/tc_nm/us_sunmicro_takeover_ibm'>http://tech.yahoo.com/news/nm/20090318/tc_nm/us_sunmicro_takeover_ibm</a>
<em>* Le directeur informatique (CTO) de JBoss s'en va</em>
<a href='http://sacha.labourey.com/2009/03/29/i-am-leaving-red-hat-onward/'>http://sacha.labourey.com/2009/03/29/i-am-leaving-red-hat-onward/</a>
<a href='http://markclittle.blogspot.com/2009/03/new-job.html'>http://markclittle.blogspot.com/2009/03/new-job.html</a>
<em>* Project Coin</em>
<a href='http://www.jroller.com/scolebourne/entry/jdk_7_language_changes_everyone'>http://www.jroller.com/scolebourne/entry/jdk_7_language_changes_everyone</a>
<a href='http://blogs.sun.com/darcy/entry/project_coin'>http://blogs.sun.com/darcy/entry/project_coin</a>
<a href='http://openjdk.java.net/projects/coin/'>http://openjdk.java.net/projects/coin/</a>
<em>* Java EE 6 en proposed final draft</em>
<a href='http://jcp.org'>http://jcp.org</a>
<a href='http://in.relation.to/tag/Bean+Validation'>http://in.relation.to/tag/Bean+Validation</a>
<strong>Conferences</strong>
<p>GR8Conf, 18 - 19 mai a copenhague - <a href='http://www.gr8conf.org' target='_blank'>http://www.gr8conf.org</a>
</p>
<p>USI Juillet 2009 par octo
</p>
<p>JAX, 20 - 24 avril Mayence allemagne
</p>
<p>DSLDevCon, Seattle
</p>
<p>JavaOne, 2-5 Juin
</p>
<p>SpringOne - avril 27 29
</p>
<p>GeekCon JUG de Cracovie sur 2 jours
</p>
<p>Google I/O semaine avant JavaOne
</p>
<p>USI 2009 -- Conference organizee par Octo
</p>
<p>Jazoon 22, 25 juin
</p>
<p>GIDS April 22 - 25 <a href='http://www.developersummit.com/'>http://www.developersummit.com/</a>
</p>
<strong>Les mains dans le cambouis</strong>
<p>Calculs flottants, doubles floats et mauvaises surprises
</p>
<a href='http://firstclassthoughts.co.uk/java/traps/java_double_traps.html'>http://firstclassthoughts.co.uk/java/traps/java_double_traps.html</a>
<strong>Outils de l'episode</strong>
<p>JarInspector - <a href='http://www.codeland.org/index.html'>http://www.codeland.org/index.html</a>
</p>
<p>IntelliJ IDEA - <a href='http://www.jetbrains.com/idea/'>http://www.jetbrains.com/idea/</a>
</p>
<p>m2eclipse - <a href='http://m2eclipse.codehaus.org/'>http://m2eclipse.codehaus.org/</a>
</p>
<strong>Feedback</strong>
<a href='http://lescastcodeurs.com'>http://lescastcodeurs.com</a>
<a href='mailto:commentaire@lescastcodeurs.com'>commentaire@lescastcodeurs.com</a>
<p> 
</p>
<strong>Download direct</strong>: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-1.mp3'>LesCastCodeurs-Episode-1.mp3</a>
