---
title: 'Bouton j&#039;ecoute les cast codeurs'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>Quelqu'un nous a demandé si l'on avait un bouton a mettre sur les sites web pour faire de la pub. C'est maintenant chose faite
</p>
<pre>&lt;a href="http://lescastcodeurs.com"&gt;&lt;img border="0" alt="J'ecoute les Cast Codeurs" src="http://lescastcodeurs.com/img/jecoute_les_castcodeurs_200px.png" /&gt;&lt;/a&gt;</pre>
<p>pour ajouter le bouton J'écoute les Cast Codeurs.
</p>
<a href='http://lescastcodeurs.com'><img alt='J&apos;ecoute les Cast Codeurs' src='http://lescastcodeurs.com/img/jecoute_les_castcodeurs_200px.png' border='0'/></a>
<p>Plus de détails <a href='http://lescastcodeurs.com/parler/'>ici</a>.</p>
