---
title: 'Les Cast Codeurs - Episode 5 - Special JavaOne'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 5
mp3_length: 34507554
---
<p>4 juin 2009
</p>
<div/>
<h2>Nouvelles</h2>
<h3>Google IO</h3>
<div>Google Wave - <a href='http://wave.google.com/'>http://wave.google.com/</a></div>
<div>Google Wave under the hood <a href='http://www.youtube.com/watch?v=uOFzWZrsPV0'>http://www.youtube.com/watch?v=uOFzWZrsPV0</a></div>
<div>WOOT - <a href=' http://tr.im/nRyE'>http://tr.im/nRyE</a></div>
<div/>
<div>Android</div>
<div>Free G2 for all Google IO developers - <a href='http://www.techcrunch.com/2009/05/27/googles-oprah-moment-an-android-phone-for-everyone-at-google-io/'>http://www.techcrunch.com/2009/05/27/googles-oprah-moment-an-android-phone-for-everyone-at-google-io/</a></div>
<div/>
<h3>JavaOne</h3>
<div>Keynote - <a href='http://java.sun.com/javaone/2009/articles/gen_tuesday.jsp?feed=JSC'>http://java.sun.com/javaone/2009/articles/gen_tuesday.jsp?feed=JSC</a></div>
<div/>
<div>JavaStore - <a href='http://www.java.com/en/store/'/></div>
<div><a href='http://www.java.com/en/store/'>http://www.java.com/en/store/</a></div>
<div><a href='http://www.computerworld.com/action/article.do?command=viewArticleBasic&amp;articleId=9133899'>http://www.computerworld.com/action/article.do?command=viewArticleBasic&amp;articleId=9133899</a></div>
<div><a href='http://www.theregister.co.uk/2009/06/02/javastore_sun_mobile/'>http://www.theregister.co.uk/2009/06/02/javastore_sun_mobile/</a></div>
<div/>
<div>Sun in the Clouds</div>
<div><a href='http://www.sun.com/aboutsun/pr/2009-06/sunflash.20090601.2.xml'>http://www.sun.com/aboutsun/pr/2009-06/sunflash.20090601.2.xml</a></div>
<div><a href='http://www.sun.com/solutions/cloudcomputing/index.jsp'>http://www.sun.com/solutions/cloudcomputing/index.jsp</a></div>
<div/>
<div>Larry Ellison et JavaFX</div>
<div><a href='http://www.theregister.co.uk/2009/06/04/ellison_javafx_commitment/'>http://www.theregister.co.uk/2009/06/04/ellison_javafx_commitment/</a></div>
<div/>
<div>Jigsaw (modules en Java) vs OSGi</div>
<div><a href='http://tech.puredanger.com/2009/06/04/javaone-jigsaw/'>http://tech.puredanger.com/2009/06/04/javaone-jigsaw/</a></div>
<div/>
<div/>
<h3>Red Hat annonce JBoss Open Choice: Java EE profiles</h3>
<div><a href='http://press.redhat.com/2009/06/08/jboss-open-choice-customers-speak-we-listen/'>http://press.redhat.com/2009/06/08/jboss-open-choice-customers-speak-we-listen/</a></div>
<div><a href='http://www.theregister.co.uk/2009/06/01/red_hat_app_server_spring/'>http://www.theregister.co.uk/2009/06/01/red_hat_app_server_spring/</a> </div>
<div>Reponse de Rod Johnson - <a href='http://blog.springsource.com/2009/06/03/red-hat-reacts-to-springsources-leadership/'>http://blog.springsource.com/2009/06/03/red-hat-reacts-to-springsources-leadership/</a></div>
<div>Reponse de Rich Sharples a Rod - <a href='http://blog.softwhere.org/archives/865'>http://blog.softwhere.org/archives/865</a></div>
<div/>
<div/>
<h3>JSR-330 vs JSR-299 aka @Inject vs WebBeans</h3>
<div><a href='http://crazybob.org/2009/05/announcing-javaxinjectinject.html'>http://crazybob.org/2009/05/announcing-javaxinjectinject.html</a>
<a href='http://in.relation.to/Bloggers/CommentsOnAnnotationsForDependencyInjection'>http://in.relation.to/Bloggers/CommentsOnAnnotationsForDependencyInjection</a></div>
<div><a href='http://www.theserverside.com/news/thread.tss?thread_id=54499'>http://www.theserverside.com/news/thread.tss?thread_id=54499</a>
<a href='http://blog.robjsoftware.org/2009/05/bob-vs-gavin-no-holds-barred.html'>http://blog.robjsoftware.org/2009/05/bob-vs-gavin-no-holds-barred.html</a></div>
<div><a href='http://www.jroller.com/rickard/entry/why_inject_is_a_bad'>http://www.jroller.com/rickard/entry/why_inject_is_a_bad</a>
<a href='http://www.adam-bien.com/roller/abien/entry/spring_guice_jsr_299_just'>http://www.adam-bien.com/roller/abien/entry/spring_guice_jsr_299_just</a></div>
<div><a href='http://lists.jboss.org/pipermail/webbeans-dev/'>http://lists.jboss.org/pipermail/webbeans-dev/</a></div>
<div/>
<h2>Outils de la semaine</h2>
<div>DZone Refcardz</div>
<div><a href='http://refcardz.dzone.com/'>http://refcardz.dzone.com/</a></div>
<div/>
<div>JIRA client</div>
<div><a href='http://almworks.com/jiraclient/overview.html'>http://almworks.com/jiraclient/overview.html</a></div>
<div/>
<div>Twitter client Nambu</div>
<div><a href='http://nambu.com/'>http://nambu.com/</a></div>
<div/>
<div>Feedly (RSS client for Firefox)</div>
<div><a href='http://www.feedly.com/'>http://www.feedly.com</a></div>
<div/>
<h3>Divers</h3>
<div>Livre de Antonio</div>
<div><a href='http://www.apress.com/book/view/1430219548'>http://www.apress.com/book/view/1430219548</a></div>
<div/>
<div>Normandie JUG (premiere reunion le 16 juin)</div>
<div><a href='http://www.normandyjug.org/'>http://www.normandyjug.org/</a></div>
<div/>
<div><strong>Direct download</strong>: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-5.mp3'>LesCastCodeurs-Episode-5.mp3</a></div>
