---
title: 'En construction'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>On est pleins d'idées. Maintenant, y a plus qu'à.
</p>
<p>Les détails techniques de l'enregistrement sont réglés. Les interviews sont dans le pipe. Le site est toujours en construction mais ca avance.
</p>
<p>Si vous avez un logo ou une musique de générique à proposer, contactez nous.
</p>
<p>Du concret bientôt :)</p>
