---
title: 'Les Cast Codeurs sur twitter @lescastcodeurs'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>On vient de creer un compte twitter, suivez-nous a <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>.
</p>
<p>On tweetera sur... eh ben vous verrez bien.</p>
