---
title: 'Les Cast Codeurs Podcast - Episode 6 - Portal M&amp;A'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 6
mp3_length: 19724935
---
<div class='postBody'>
<p>16 juin 2009
</p>
<p>Interview de Thomas Heute et Julien Viet sur les portails d'entreprise et le partenariat entre eXo et JBoss pour developper un portail commun. Qu'est-ce qu'un portail?Pour qui? Comment integrer les applications existantes? Un tour de la competition.
</p>
</div>
<div class='postBody'>
<strong>Thomas Heute</strong>
<p>Blog - <a href='http://blog.thomas.heute.name/'>http://blog.thomas.heute.name/</a>
</p>
<a href='http://www.jboss.org/jbossportal/'>http://www.jboss.org/jbossportal/</a>
<strong>Julien Viet</strong>
<a href='http://www.julienviet.com/'>http://www.julienviet.com/</a>
<p>Blog - <a href='http://blog.julienviet.com/'>http://blog.julienviet.com/</a>
</p>
<a href='http://www.exoplatform.org/'>http://www.exoplatform.org/</a>
<strong>JSR 168 et 286</strong>
<a href='http://developers.sun.com/portalserver/reference/techart/jsr168/'>http://developers.sun.com/portalserver/reference/techart/jsr168/</a>
<strong>eXo Portal et JBoss Portal mergent</strong>
<a href='http://blog.exoplatform.org/2009/06/10/exo-jboss-partnership/'>http://blog.exoplatform.org/2009/06/10/exo-jboss-partnership/</a>
<strong>Sun et Liferay</strong>
<a href='http://www.liferay.com/web/guest/partners/sun'>http://www.liferay.com/web/guest/partners/sun</a>
<strong>Alfesco</strong>
<a href='http://www.alfresco.com/'>http://www.alfresco.com/</a>
<strong>Nuxeo</strong>
<a href='http://www.nuxeo.com/'>http://www.alfresco.com/</a></div>
<div class='postBody'/>
<div class='postDetails'><strong>Direct download</strong>: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-6.mp3'>LesCastCodeurs-Episode-6.mp3</a></div>
