---
title: 'Les Cast Codeurs Episode 12 - Special Devoxx 2009'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 12
mp3_length: 44635434
---
<div>
<div><strong>Les Cast Codeurs Episode 12 - Special Devoxx 2009</strong></div>
<div>Enregistre le mardi 19 novembre 2009</div>
<div/>
<div><strong>Invités</strong></div>
<div>Romain Guy - <a href='http://www.curious-creature.org/'>http://www.curious-creature.org</a></div>
<div>Nicolas Martignole - <a href='http://www.touilleur-express.fr/'>http://www.touilleur-express.fr</a></div>
<div>Alexis Moussine-Pouchkine - <a href='http://blogs.sun.com/alexismp'>http://blogs.sun.com/alexismp</a></div>
<div/>
<div><strong>News</strong></div>
</div>
<div>Devoxx 2009 <a href='http://devoxx.com/'>http://devoxx.com</a></div>
<div>Parleys <a href='http://parleys.com'>http://parleys.com</a></div>
<div>EE 6 delivre le 10 decembre 2009</div>
<div>Scala <a href='http://www.scala-lang.org/'>http://www.scala-lang.org</a></div>
<div>Lift <a href='http://liftweb.net'>http://liftweb.net</a></div>
<div>JDK 7 vs Java 7 <a href='https://jdk7.dev.java.net/'>https://jdk7.dev.java.net</a> <a href='http://www.jroller.com/scolebourne/entry/no_more_java_7'>http://www.jroller.com/scolebourne/entry/no_more_java_7</a></div>
<div>Projet Lombok <a href='http://projectlombok.org'>http://projectlombok.org</a></div>
<div>Amazon EC2 <a href='http://aws.amazon.com/ec2/'>http://aws.amazon.com/ec2</a></div>
<div>VMWare <a href='http://www.vmware.com/'>http://www.vmware.com</a></div>
<div>Cloud foundry <a href='http://www.cloudfoundry.com'>http://www.cloudfoundry.com</a></div>
<div>SOA... NOT!!! ;)</div>
<div/>
<div>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-12.mp3'>LesCastCodeurs-Episode-12.mp3</a></div>
