---
title: 'Les Cast Codeurs Episode 11 - Les predictions de l&#039;Oracle et la dette technique'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 11
mp3_length: 50193007
---
<div><strong>Les Cast Codeurs Episode 11 - Les predictions de l'Oracle et la dette technique</strong></div>
<div>Enregistre le mardi 3 novembre</div>
<div><strong>News</strong></div>
<div>Spring et ou pas et EE 6</div>
<div>Lire les commentaires du blog : <a href='http://www.adam-bien.com/roller/abien/entry/jsf_jpa_ejb_bloat'>http://www.adam-bien.com/roller/abien/entry/jsf_jpa_ejb_bloat</a></div>
<div>
<div><a href='http://www.adam-bien.com/roller/abien/entry/jsf_jpa_ejb_bloat#comment-1254446751984'>http://www.adam-bien.com/roller/abien/entry/jsf_jpa_ejb_bloat#comment-1254446751984</a></div>
<div><a href='http://pro.01net.com/editorial/507474/spring-3-0-sera-compatible-java-ee-6/'>http://pro.01net.com/editorial/507474/spring-3-0-sera-compatible-java-ee-6/</a></div>
</div>
<div>Java EE 6 en brouillon final</div>
<div><a href='http://jcp.org/en/jsr/summary?id=316'>http://jcp.org/en/jsr/summary?id=316</a></div>
<div>Arrivee des Managed Beans</div>
<div>JSR-330 @Inject approuvee</div>
<div><a href='http://blogs.sun.com/theaquarium/entry/jsr_330_approved_dependency_injection'>http://blogs.sun.com/theaquarium/entry/jsr_330_approved_dependency_injection</a></div>
<div>Java 5 a passe la date de fin de vie</div>
<div><a href='http://java.sun.com/j2se/1.5/'>http://java.sun.com/j2se/1.5/</a></div>
<div>Retro weaver <a href='http://retroweaver.sourceforge.net/'>http://retroweaver.sourceforge.net/</a></div>
<div>Oracle parle aux clients de Sun</div>
<div><a href='http://www.oracle.com/ocom/groups/public/documents/webcontent/038563.pdf'>http://www.oracle.com/ocom/groups/public/documents/webcontent/038563.pdf</a>
<div><a href='http://www.h-online.com/open/news/item/Oracle-clarifies-plans-for-Java-tools-and-OpenOffice-843661.html'>http://www.h-online.com/open/news/item/Oracle-clarifies-plans-for-Java-tools-and-OpenOffice-843661.html</a></div>
<div><a href='http://wings-of-wind.com/2009/10/29/newsflash-no-more-mysql/'>http://wings-of-wind.com/2009/10/29/newsflash-no-more-mysql/</a></div>
<div><a href='http://www.infoworld.com/d/open-source/mysql-co-founder-questions-viability-mysql-fork-protect-users-717'>http://www.infoworld.com/d/open-source/mysql-co-founder-questions-viability-mysql-fork-protect-users-717</a></div>
<div><a href='http://www.reuters.com/article/idgSmallBusiness/idUS347326965920091028'>http://www.reuters.com/article/idgSmallBusiness/idUS347326965920091028</a></div>
<div><a href='http://www.lemondeinformatique.fr/actualites/lire-oracle-motive-pour-glassfish-et-mitige-sur-netbeans-29364.html'>http://www.lemondeinformatique.fr/actualites/lire-oracle-motive-pour-glassfish-et-mitige-sur-netbeans-29364.html</a></div>
</div>
<div>Eclipse RCP</div>
<div>Netbeans platform</div>
<div>MySQL Richard Sallman <a href='http://news.techworld.com/applications/3204638/richard-stallman-oracle-must-divest-mysql/?intcmp=ros-md-rm'>http://news.techworld.com/applications/3204638/richard-stallman-oracle-must-divest-mysql/?intcmp=ros-md-rm</a></div>
<div>Sacha Labourey sur MySQL et les licenses doubles <a href='http://sacha.labourey.com/2009/10/25/sun-vs-and-orcl-the-failure-of-the-dual-licensing-model/'>http://sacha.labourey.com/2009/10/25/sun-vs-and-orcl-the-failure-of-the-dual-licensing-model/</a></div>
<div>Le coeur d'IntelliJ devient open source</div>
<div><a href='http://blogs.jetbrains.com/idea/2009/10/intellij-idea-open-sourced/'>http://blogs.jetbrains.com/idea/2009/10/intellij-idea-open-sourced/</a></div>
<div>Cedric Beust <a href='http://beust.com/weblog/archives/000520.html'>http://beust.com/weblog/archives/000520.html</a></div>
<div>Duct tape programmer <a href='http://www.joelonsoftware.com/items/2009/09/23.html'>http://www.joelonsoftware.com/items/2009/09/23.html</a></div>
<div>Dette technique <a href='http://www.martinfowler.com/bliki/TechnicalDebt.html'>http://www.martinfowler.com/bliki/TechnicalDebt.html</a></div>
<div>Sonar <a href='http://sonar.codehaus.org/'>http://sonar.codehaus.org/</a></div>
<div>Google a releasé la version 2.0 d'Android</div>
<div>
<div><a href='http://www.playframework.org/'>http://www.playframework.org/</a></div>
<div>Hibernate en 1300 lignes de code (ca revient chaque annee) <a href='http://www.theserverside.com/news/thread.tss?thread_id=58266'>http://www.theserverside.com/news/thread.tss?thread_id=58266</a></div>
</div>
<div><strong>Les conferences</strong></div>
<div>SpringOne</div>
<div>Devoxx <a href='http://www.devoxx.com'>http://www.devoxx.com</a></div>
<div>Hibernate Search University <a href='http://www.devoxx.com/display/DV09/Hibernate+Search+university'>http://www.devoxx.com/display/DV09/Hibernate+Search+university</a></div>
<div>Gaelyk <a href='http://gaelyk.appspot.com/'>http://gaelyk.appspot.com/</a></div>
<div>Valtech days</div>
<div>
<div>"Cette année le format est un peu différent des années précédentes, à savoir que les Valtech Days se dérouleront sur 2 journées discontinues :</div>
<div>* 1 le Mardi 17 Novembre 2009 (et oui dans 1 peu moins d'un mois maintenant!)</div>
<div>* 1 autre aux environs de Mars 2010</div>
<div>Vous pouvez consulter les détails de la conférence sur la page suivante :</div>
<div><a href='http://www.valtech.fr/fr/index/valtech_days.html/'>http://www.valtech.fr/fr/index/valtech_days.html/</a></div>
<div>En bref, l'évènement aura lieu à la Défense, et s’adresse à tous les acteurs du marché : clients, leaders d’opinion, formateurs et consultants.</div>
<div>Cette édition sera consacrée aux innovations IT et marketing autour de trois thèmes : les Méthodes Agiles,  l’E-business &amp; le Web 2.0 ainsi que les Innovations Technologiques.</div>
<div>Au programme cette année, une journée entièrement consacrée aux séminaires, témoignages et débats avec encore des nouveautés en terme de format et de contenu.</div>
<div>En particulier, vous pouvez consulter les intitulés des sessions de cette nouvelle mouture à cette page :</div>
<div><a href='http://www.valtech.fr/fr/index/valtech_days/Programme.html'>http://www.valtech.fr/fr/index/valtech_days/Programme.html</a></div>
</div>
<div>"</div>
<div><strong>Outils de la semaine</strong></div>
<div>Click to flash <a href='http://rentzsch.github.com/clicktoflash/'>http://rentzsch.github.com/clicktoflash/</a></div>
<div><strong>Direct download</strong>: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-11.mp3'>LesCastCodeurs-Episode-11.mp3</a></div>
