---
title: 'Les Cast Codeurs Podcast - Episode 27 - Interview sur GraniteDS avec Franck Wolff et William Drai'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 27
mp3_length: 48780952
---
<p>Enregistré le 7 septembre 2010
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-27.mp3'>LesCastCodeurs-Episode-27.mp3</a>
</p>
<p>Franck Wolff et William Drai <a href='http://graniteds.blogspot.com/'>http://graniteds.blogspot.com/</a>
</p>
<div>GraniteDS <a href='http://www.graniteds.org'>http://www.graniteds.org</a></div>
<div>adequate systems <a href='http://www.adequatesystems.com/site/index_EN.html'>http://www.adequatesystems.com/site/index_EN.html</a></div>
<div>JSF <a href='https://javaserverfaces.dev.java.net/'>https://javaserverfaces.dev.java.net/</a></div>
<div>Flex <a href='http://www.adobe.com/fr/products/flex/'>http://www.adobe.com/fr/products/flex/</a></div>
<div>BlazeDS <a href='http://opensource.adobe.com/wiki/display/blazeds/BlazeDS/'>http://opensource.adobe.com/wiki/display/blazeds/BlazeDS/</a></div>
<div>Live Cycle <a href='http://www.adobe.com/fr/products/livecycle/'>http://www.adobe.com/fr/products/livecycle/</a></div>
<div>EJB <a href='http://jcp.org/en/jsr/detail?id=318'>http://jcp.org/en/jsr/detail?id=318</a></div>
<div>Seam <a href='http://seamframework.org/'>http://seamframework.org/</a></div>
<div>Spring Framework <a href='http://www.springsource.org/about'>http://www.springsource.org/about</a></div>
<div>CDI <a href='http://seamframework.org/Weld'>http://seamframework.org/Weld</a></div>
<div>Bean Validation et BigNumber sous Flex <a href='http://in.relation.to/Bloggers/BeanValidationForFlexDevelopers'>http://in.relation.to/Bloggers/BeanValidationForFlexDevelopers</a></div>
<p>Errai <a href='http://jboss.org/errai'>http://jboss.org/errai</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
