---
title: 'Les Cast Codeurs Podcast - Episode 20 - Oracle je t&#039;aime moi non plus et l&#039;invasion des lapins'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 20
mp3_length: 51462739
---
<p>Enregistré le 14 avril 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-20.mp3' onclick='javascript:pageTracker._trackPageview(&apos;/outbound/article/media.libsyn.com&apos;);'>LesCastCodeurs-Episode-20.mp3</a>
</p>
<p>Enregistré le 14 avril 2010
</p>
<div><strong>Nouvelles</strong>
<div><em>Oracle: je t'aime, moi non plus</em></div>
<div>Jonathan Schwartz se lache <a href='http://jonathanischwartz.wordpress.com/2010/03/09/good-artists-copy-great-artists-steal/'>http://jonathanischwartz.wordpress.com/2010/03/09/good-artists-copy-great-artists-steal/</a></div>
<div>James quitte Oracle <a href='http://nighthacks.com/roller/jag/entry/time_to_move_on'>http://nighthacks.com/roller/jag/entry/time_to_move_on</a></div>
<div>Tim Bray, co-inventeur du XML, arrive chez Google <a href='http://www.lemondeinformatique.fr/actualites/lire-tim-bray-co-inventeur-du-xml-arrive-chez-google-30161.html'>http://www.lemondeinformatique.fr/actualites/lire-tim-bray-co-inventeur-du-xml-arrive-chez-google-30161.html</a></div>
<div>Simon Phipps quitte Sun pour l'OSI <a href='http://www.lemondeinformatique.fr/actualites/lire-simon-phipps-la-vie-apres-sun-passe-par-l-osi-30346.html'>http://www.lemondeinformatique.fr/actualites/lire-simon-phipps-la-vie-apres-sun-passe-par-l-osi-30346.html</a></div>
<p>Kosuke de Hudson quitte sun <a href='http://weblogs.java.net/blog/kohsuke/archive/2010/04/05/good-bye-sunoracle'>http://weblogs.java.net/blog/kohsuke/archive/2010/04/05/good-bye-sunoracle</a>
</p>
<div><em>RoadMap de GlassFish</em></div>
<div><a href='http://blogs.sun.com/alexismp/'>http://blogs.sun.com/alexismp/</a></div>
<a href='http://mediacast.sun.com/users/am74686/media/CommunityUpdate-25Mar2010.pdf'>http://mediacast.sun.com/users/am74686/media/CommunityUpdate-25Mar2010.pdf</a>
<div><em>Solaris 10 plus gratuit et toues les fonctionalites ne seront pas dans OpenSolaris</em></div>
<a href='http://www.cuddletech.com/blog/pivot/entry.php?id=1120'>http://www.cuddletech.com/blog/pivot/entry.php?id=1120</a>
<div><em>Le Codec VP8 de Google, Open Sourcé?</em></div>
<div><a href='http://java.dzone.com/dose/dzone-daily-dose-414'>http://java.dzone.com/dose/dzone-daily-dose-414</a></div>
<a href='http://css.dzone.com/articles/h264-royalty-free-until-2016'>http://css.dzone.com/articles/h264-royalty-free-until-2016</a>
<div><em>SpringSource rachète RabbitMQ </em></div>
<div><a href='http://www.infoq.com/news/2010/04/springsource-rabbit'>http://www.infoq.com/news/2010/04/springsource-rabbit</a></div>
<div><a href='http://www.theserverside.com/discussions/thread.tss?thread_id=59936'>http://www.theserverside.com/discussions/thread.tss?thread_id=59936</a></div>
<a href='http://www.amqp.org/confluence/display/AMQP/Advanced+Message+Queuing+Protocol'>http://www.amqp.org/confluence/display/AMQP/Advanced+Message+Queuing+Protocol</a>
<div><em>eXo leve 6 millions de dollars</em></div>
<a href='http://www.cmswire.com/cms/enterprise-cms/exo-raises-us-6-million-to-boost-us-operations-006892.php'>http://www.cmswire.com/cms/enterprise-cms/exo-raises-us-6-million-to-boost-us-operations-006892.php</a>
<div><em>Hibernate 3.5: JPA 2 est sorti</em></div>
<div><a href='http://in.relation.to/Bloggers/Hibernate350FinalRelease'>http://in.relation.to/Bloggers/Hibernate350FinalRelease</a></div>
<div><a href='http://in.relation.to/Bloggers/HibernateSearch32CR1TheReleaseTrainIsOn'>http://in.relation.to/Bloggers/HibernateSearch32CR1TheReleaseTrainIsOn</a></div>
<div>nouveau site web et wiki <a href='http://hibernate.org'>http://hibernate.org</a></div>
<p>Demande de retours sur JPA 2+ <a href='http://blogs.sun.com/ldemichiel/entry/jpa_next_thinking_about_the'>http://blogs.sun.com/ldemichiel/entry/jpa_next_thinking_about_the</a>
</p>
<div><strong>Questions des Auditeurs</strong></div>
<div>Arnauld VM: DVCS: Git vs. Mercurial etc. G perso choisi Git pour son bon support de SVN: facilite la transition</div>
<div><a href='http://git-scm.com/'>http://git-scm.com/</a> <a href='http://mercurial.selenic.com/'>http://mercurial.selenic.com/</a> <a href='http://bazaar.canonical.com/en/'>http://bazaar.canonical.com/en/</a></div>
<div>Antoine SD:  @lescastcodeurs sur mon #nabaztag. Bizard : @agoncal fait moins son effet "Dr Love" quand sa voix sort d'un lapin :-).</div>
<div>Arnauld VM: l'ép 20: Qui utilise autre ch que Maven et qu'en pensez-vs? (Graddle, Rake, Ant+Ivy...) (Cf. JavaPosse 294 - ~60')</div>
<a href='http://maven.apache.org/'>http://maven.apache.org/</a> <a href='http://www.gradle.org/'>http://www.gradle.org/</a> <a href='http://code.google.com/p/gerrit/'>http://code.google.com/p/gerrit/</a>
<div><strong>Les JUGs et conferences</strong></div>
<div>Red Hat Summit et JBoss World 2010 <a href='http://www.redhat.com/promo/summit/2010/'>http://www.redhat.com/promo/summit/2010/</a></div>
<div>Création du Scala User Group et du Birt User Group</div>
<div>Création du BruJUG <a href='http://www.brussels-jug.be/'>http://www.brussels-jug.be/</a> <a href='http://www.brussels-jug.be/?page_id=43'>http://www.brussels-jug.be/?page_id=43</a></div>
<div>ParisJUG soirée share, build &amp; deploy <a href='http://www.parisjug.org/xwiki/bin/view/Meeting/20100511'>http://www.parisjug.org/xwiki/bin/view/Meeting/20100511</a></div>
<div>Jazoon <a href='http://jazoon.com/'>http://jazoon.com/</a></div>
<div>Gr8conf <a href='http://gr8conf.org/'>http://gr8conf.org/</a></div>
<p>Geneva JUG <a href='http://www.genevajug.ch/'>http://www.genevajug.ch/</a>
</p>
<div><strong>Les outils de l'épisode</strong></div>
<div>Keepass / KeepassX <a href='http://keepass.info/'>http://keepass.info/</a> <a href='http://www.keepassx.org/'>http://www.keepassx.org/</a></div>
<div>1Password <a href='http://agilewebsolutions.com/products/1Password'>http://agilewebsolutions.com/products/1Password</a></div>
<div>JD-GUI <a href='http://java.decompiler.free.fr/?q=jdgui'>http://java.decompiler.free.fr/?q=jdgui</a></div>
<p>RefCardz GIT <a href='http://refcardz.dzone.com/refcardz/getting-started-git'>http://refcardz.dzone.com/refcardz/getting-started-git</a>
</p>
<div><strong>Les mains dans le cambouis</strong></div>
<p>Build partiel par Arnaud Heritier <a href='http://blog.aheritier.net/construire-moins-pour-aller-plus-vite/'>http://blog.aheritier.net/construire-moins-pour-aller-plus-vite/</a>
</p>
<div><strong>Contacts</strong></div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
</div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
