---
title: 'Les Cast Codeurs Podcast - Episode 19 - Interview independents partie 1 - Mathilde Lemee, Nicolas Martignole et Antonio Goncalves cassent du sucre sur les SSII'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 19
mp3_length: 33858929
---
<p>Enregistre le 22 mars 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-19.mp3' onclick='javascript:pageTracker._trackPageview(&apos;/outbound/article/media.libsyn.com&apos;);'>LesCastCodeurs-Episode-19.mp3</a>
</p>
<div>Dans cette interview, trois independants partagent leurs experiences et cassent du sucre sur les SSII. Mais comme il y a beaucoup a dire, on a separe l'interview en deux parties.</div>
<div><a href='http://java-freelance.fr/'>http://java-freelance.fr/</a></div>
<div><a href='http://www.touilleur-express.fr/'>http://www.touilleur-express.fr/</a></div>
<div><a href='http://twitter.com/nmartignole'>http://twitter.com/nmartignole</a></div>
<div><a href='http://www.antoniogoncalves.org'>http://www.antoniogoncalves.org</a></div>
<div><a href='http://twitter.com/agoncal'>http://twitter.com/agoncal</a></div>
<div><a href='http://emmanuelbernard.com/'>http://emmanuelbernard.com/</a></div>
<div><a href='http://blog.emmanuelbernard.com/'>http://blog.emmanuelbernard.com/</a></div>
<a href='http://twitter.com/emmanuelbernard'>http://twitter.com/emmanuelbernard</a>
<div>Questions des auditeurs pour l'épisode 20:</div>
<div>- sur le groupe google lescastcodeurs <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>- sur twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>- en audio par email a <a href='mailto:commentaire@lescastcodeurs.com'>commentaire@lescastcodeurs.com</a></div>
