---
title: 'Les Cast Codeurs Podcast - Episode 25 - Interview du public en direct de l&#039;USI 2010'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 25
mp3_length: 32703311
---
<p>Enregistre le 1er juillet 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-25.mp3'>LesCastCodeurs-Episode-25.mp3</a>
</p>
<div><a href='http://www.universite-du-si.com/fr/conferences/6-paris-usi-2010/sessions/859-il-est-frais-mon-java'>http://www.universite-du-si.com/fr/conferences/6-paris-usi-2010/sessions/859-il-est-frais-mon-java</a></div>
<div>Presentation utilisee: <a href='http://lescastcodeurs.com/resources/LesCastCodeurs-ep25-USI2010.pdf'>http://lescastcodeurs.com/resources/LesCastCodeurs-ep25-USI2010.pdf</a></div>
<a href='http://lescastcodeurs.com/resources/LesCastCodeurs-ep25-USI2010.pdf'/>Video JavaZone (Java 4-ever) <a href='http://jz10.java.no/java-4-ever-trailer.html'>http://jz10.java.no/java-4-ever-trailer.html</a>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
