---
title: 'Les Cast Codeurs Podcast - Episode 29 - La forge logicielle et l&#039;industrialisation chez un editeur - Guest star Vincent Massol mais aussi Nicolas De Loof et Arnaud Heritier'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 29
mp3_length: 61469215
---
<div>
<p>Enregistré le 14 octobre 2010
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-29.mp3'>LesCastCodeurs-Episode-29.mp3</a>
</p>
<div>Vincent Massol</div>
<div>XWiki SAS: <a href='http://xwiki.com'>http://xwiki.com</a></div>
<div>projet open source: <a href='http:/xwiki.org'>http:/xwiki.org</a></div>
<div>pratiques de dev du projet open source: <a href='http://dev.xwiki.org'>http://dev.xwiki.org</a></div>
<p>blog: <a href='http://massol.net'>http://massol.net</a>
</p>
<div>Nicolas De Loof</div>
<div>Ma page perso : <a href='http://www.loof.fr'>http://www.loof.fr</a></div>
<div>Le Jug : <a href='http://www.breizhjug.org'>http://www.breizhjug.org</a></div>
<div>Le bouquin : <a href='http://www.pearson.fr/livre/?GCOI=27440100730370'>http://www.pearson.fr/livre/?GCOI=27440100730370</a></div>
<div>Mon p'tit projet perso : <a href='http://www.fonzie.fr'>http://www.fonzie.fr</a></div>
<p>Et soyons fou, ma boite : <a href='http://www.itlabs.fr.orange-business.com/'>http://www.itlabs.fr.orange-business.com/</a>
</p>
<div>Arnaud Heritier</div>
<div><a href='http://aheritier.net/a-propos/'>http://aheritier.net/a-propos/</a></div>
<p>eXo platform : <a href='http://www.exoplatform.com'>http://www.exoplatform.com</a>
</p>
<div>Agile tour <a href='http://agiletour.org/'>http://agiletour.org/</a></div>
</div>
<p>Continuous delivery <a href='http://continuousDelivery.com/'>http://continuousDelivery.com/</a>
</p>
<div>Maven <a href='http://maven.apache.org/'>http://maven.apache.org/</a></div>
<div>Clirr <a href='http://clirr.sourceforge.net/'>http://clirr.sourceforge.net/</a></div>
<div>Eclipse <a href='http://www.eclipse.org/'>http://www.eclipse.org/</a></div>
<div>IntelliJ Idea <a href='http://www.jetbrains.com/idea/'>http://www.jetbrains.com/idea/</a></div>
<p>Gradle <a href='http://www.gradle.org/'>http://www.gradle.org/</a>
</p>
<div>SVN <a href='http://subversion.apache.org/'>http://subversion.apache.org/</a></div>
<div>Git <a href='http://git-scm.com/'>http://git-scm.com/</a></div>
<p>Episode DVCS <a href='http://lescastcodeurs.com/2010/05/les-cast-codeurs-podcast-episode-23-interview%C2%A0dvcs-et-git-jai-vu-la-lumiere-avec%C2%A0david-gageot-dalgodeal/'>http://lescastcodeurs.com/2010/05/les-cast-codeurs-podcast-episode-23-interview%C2%A0dvcs-et-git-jai-vu-la-lumiere-avec%C2%A0david-gageot-dalgodeal/</a>
</p>
<div>PMD <a href='http://pmd.sourceforge.net/'>http://pmd.sourceforge.net/</a></div>
<p>Hudson <a href='https://hudson.dev.java.net/'>https://hudson.dev.java.net/</a>
</p>
<div>IRC <a href='http://en.wikipedia.org/wiki/Internet_Relay_Chat'>http://en.wikipedia.org/wiki/Internet_Relay_Chat</a></div>
<div>Jabber <a href='http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol'>http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol</a></div>
<a href='http://justfuckinggoogleit.com/'>http://justfuckinggoogleit.com/</a>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
