---
title: 'Video promo Les Cast Codeurs à l&#039;Université du SI 2010'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>Hello hello,
</p>
<p>Les Cast Codeurs seront à l'<a href='http://universite-du-si.com'>Université du SI 2010</a> qui se déroulera du 1er au 2 juillet 2010. On y fera un épisode en direct.
</p>
<p>En face de nous on a Neil Ford et Martin Fowler (en même temps). Ca sent la conspiration à pleins nez mais on a décidé de relever le défit. Donc venez nous rejoindre parce que l'objectif c'est de leur mettre la pâté niveau public.
</p>
<p>Plus sérieusement, on a vu un résumé de ce qui va se dire à l'USI et c'est extrêmement intéressant. Pour ceux qui ne connaissent pas, je résumerai en deux concepts:
</p>
<ul>
	<li>TED like (20 mins, gens brillants, de disciplines diverses - mais orienté IT et tech)</li>
	<li>Les geeks parlent aux boss et vice versa</li>
</ul>
<p>Pour fêter cela, on a préparé une petite vidéo promotionnelle :)
</p>
<object width='640' height='505' classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0'><param name='allowFullScreen' value='true'/><param name='allowscriptaccess' value='always'/><param name='src' value='http://www.youtube.com/v/gGxWzVMRpHo&amp;hl=en_US&amp;fs=1&amp;rel=0'/><param name='allowfullscreen' value='true'/><embed allowscriptaccess='always' allowfullscreen='true' width='640' height='505' type='application/x-shockwave-flash' src='http://www.youtube.com/v/gGxWzVMRpHo&amp;hl=en_US&amp;fs=1&amp;rel=0'/></object>
<p>Venez nous <a href='http://universite-du-si.com/fr/conferences/6-paris-usi-2010/sessions/859-il-est-frais-mon-java'>rejoindre</a>.</p>
