---
title: 'Les Cast Codeurs Podcast - Episode 17 - Interview de Guillaume Bort sur Play! framework'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 17
mp3_length: 42956631
---
<p>Enregitrée le 9 Fevrier 2010, reenregistree le 17 fevrier 2010 mieux vaut deux fois qu'une
</p>
<strong>Téléchargement de l'épisode: </strong><a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-17.mp3'><strong>LesCastCodeurs-Episode-17.mp3</strong></a>
<div>Guillaume Bort <a href='http://twitter.com/PlayFramework'>http://twitter.com/PlayFramework</a> <a href='http://www.zenexity.fr/'>http://www.zenexity.fr/</a></div>
<p>Nicolas Leroux <a href='http://twitter.com/nicolasleroux'><span style='color: #000000;'><span style='text-decoration: none;'><span style='color: #0000ff;'>http://twitter.com/nicolasleroux</span></span></span></a><span style='color: #0000ff;'> </span><a href='http://www.lunatech-research.com/'><span style='color: #000000;'><span style='text-decoration: none;'><span style='color: #0000ff;'>http://www.lunatech-research.com/</span></span></span></a>
</p>
<div><a href='http://www.zenexity.fr/'/></div>
<p>Note: Nicolas était dans l'interview originale que j'ai malheureusement perdu. Guillaume et moi avons essayé de reproduire autant que possible l'atmosphère de l'interview originale. Donc Nicolas était là sans être là dans la seconde :)
</p>
<div>Play! Framework <a href='http://www.playframework.org/'>http://www.playframework.org/</a></div>
<div>Hibernate <a href='https://www.hibernate.org/'>https://www.hibernate.org/</a></div>
<div>Ruby on Rails <a href='http://rubyonrails.org/'>http://rubyonrails.org/</a></div>
<div>django <a href='http://www.djangoproject.com/'>http://www.djangoproject.com/</a></div>
<div>Grails <a href='http://www.grails.org/'>http://www.grails.org/</a></div>
<div>JSF 2 <a href='https://javaserverfaces.dev.java.net/'>https://javaserverfaces.dev.java.net/</a></div>
<div>Seam <a href='http://seamframework.org/'>http://seamframework.org/</a></div>
<div>Java EE <a href='http://java.sun.com/javaee/'>http://java.sun.com/javaee/</a></div>
<div>Wicket <a href='http://wicket.apache.org/'>http://wicket.apache.org/</a></div>
<div>REST <a href='http://en.wikipedia.org/wiki/Representational_State_Transfer'>http://en.wikipedia.org/wiki/Representational_State_Transfer</a></div>
<div>Groovy <a href='http://groovy.codehaus.org/'>http://groovy.codehaus.org/</a></div>
<div>Quartz <a href='http://www.quartz-scheduler.org/'>http://www.quartz-scheduler.org/</a></div>
<div>Amazon Simple Queue Service <a href='http://aws.amazon.com/sqs/'>http://aws.amazon.com/sqs/</a></div>
<div>ZooKeeper <a href='http://hadoop.apache.org/zookeeper/'>http://hadoop.apache.org/zookeeper/</a></div>
<div>Hadoop <a href='http://hadoop.apache.org/'>http://hadoop.apache.org/</a></div>
<div>Memcached <a href='http://memcached.org/'>http://memcached.org/</a></div>
<div>GORM <a href='http://www.grails.org/GORM'>http://www.grails.org/GORM</a></div>
<div>Mina <a href='http://mina.apache.org/'>http://mina.apache.org/</a></div>
<div>Grizzly <a href='https://grizzly.dev.java.net/'>https://grizzly.dev.java.net/</a></div>
<div>Netty <a href='http://www.jboss.org/netty'>http://www.jboss.org/netty</a></div>
<div>Servlet 3 <a href='http://java.sun.com/products/servlet/'>http://java.sun.com/products/servlet/</a></div>
<div>JBoss AS <a href='http://www.jboss.org/jbossas/'>http://www.jboss.org/jbossas/</a></div>
<div>Active MQ <a href='http://activemq.apache.org/'>http://activemq.apache.org/</a></div>
<div>HornetQ <a href='http://www.jboss.org/hornetq'>http://www.jboss.org/hornetq</a></div>
<div>ETag <a href='http://en.wikipedia.org/wiki/HTTP_ETag'>http://en.wikipedia.org/wiki/HTTP_ETag</a></div>
<div>jQuery <a href='http://jquery.com/'>http://jquery.com/</a></div>
<div>prototype <a href='http://www.prototypejs.org/'>http://www.prototypejs.org/</a></div>
<div>jQuery in Action <a href='http://www.manning.com/bibeault/'>http://www.manning.com/bibeault/</a></div>
<div>Sass <a href='http://sass-lang.com/'>http://sass-lang.com/</a></div>
