---
title: 'Les Cast Codeurs Podcast - Episode 32 - Interview sur IzPack avec Julien Ponge'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 32
mp3_length: 33653654
---
<p>Enregistre le 18 novembre 2010
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-32.mp3'>LesCastCodeurs-Episode-32.mp3</a>
</p>
<div>Julien Ponge <a href='http://julien.ponge.info/'>http://julien.ponge.info/</a></div>
<div>@jponge <a href='http://twitter.com/#!/jponge'>http://twitter.com/jponge</a></div>
<div>LinkedIn <span style='border-collapse: collapse; font-family: arial, sans-serif; font-size: 13px;'><a href='http://www.linkedin.com/in/julienponge' style='color: #0000cc;' target='_blank'>http://www.linkedin.com/in/julienponge</a></span></div>
<span style='border-collapse: collapse; font-family: arial, sans-serif; font-size: 13px;'>Blog: </span><span style='border-collapse: collapse; font-family: arial, sans-serif; font-size: 13px;'><a href='http://jpz-log.info/' style='color: #0000cc;' target='_blank'>http://jpz-log.info/</a> </span>
<div>INSA Lyon <a href='http://www.insa-lyon.fr/'>http://www.insa-lyon.fr/</a></div>
<div>INRIA - <span style='border-collapse: collapse; font-family: arial, sans-serif; font-size: 13px;'>Amazones Research team - </span><a href='http://amazones.gforge.inria.fr/'>http://amazones.gforge.inria.fr/</a></div>
<p>CNRS <a href='http://www.cnrs.fr/'>http://www.cnrs.fr/</a>
</p>
<div>IzPack <a href='http://izpack.org/'>http://izpack.org/</a></div>
<p>Wiki IzPack <a href='http://docs.codehaus.org/display/IZPACK/Home'>http://docs.codehaus.org/display/IZPACK/Home</a>
</p>
<div>JamVM <a href='http://jamvm.sourceforge.net/'>http://jamvm.sourceforge.net/</a></div>
<p>Launch4j <a href='http://launch4j.sourceforge.net/'>http://launch4j.sourceforge.net/</a>
</p>
<div>Presentation Devoxx <a href='http://www.slideshare.net/julien.ponge/izpack-at-devoxx-2010'>http://www.slideshare.net/julien.ponge/izpack-at-devoxx-2010</a></div>
<div>Git <a href='http://git-scm.com/'>http://git-scm.com/</a></div>
<div>BSD <a href='http://en.wikipedia.org/wiki/BSD_licenses'>http://en.wikipedia.org/wiki/BSD_licenses</a></div>
<div>GPL <a href='http://www.gnu.org/licenses/gpl.html'>http://www.gnu.org/licenses/gpl.html</a></div>
<div><a href='http://www.gnu.org/licenses/gpl.html'/>LGPL <a href='http://www.gnu.org/licenses/lgpl.html'>http://www.gnu.org/licenses/lgpl.html</a></div>
<p>ASL <a href='http://en.wikipedia.org/wiki/Apache_License'>http://en.wikipedia.org/wiki/Apache_License</a>
</p>
<div>JNI (Java Native Interface) <a href='http://en.wikipedia.org/wiki/Java_Native_Interface'>http://en.wikipedia.org/wiki/Java_Native_Interface</a></div>
<div>Pack Jacket <a href='http://packjacket.sourceforge.net/'>http://packjacket.sourceforge.net/</a></div>
<p>NSIS <a href='http://nsis.sourceforge.net/Main_Page'>http://nsis.sourceforge.net/Main_Page</a>
</p>
<div>@IzPack sur Twitter <a href='http://twitter.com/#!/izpack'>http://twitter.com/izpack</a></div>
<div>Facebook IzPack <a href='http://www.facebook.com/pages/IzPack/155785674437366'>http://www.facebook.com/pages/IzPack/155785674437366</a></div>
<p>Flattr <a href='https://flattr.com/dashboard'>https://flattr.com/dashboard</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
