---
title: 'Les Cast Codeurs Podcast - Episode 15 - Interview de Didier Girard et Guillaume Laforge sur Google App Engine'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 15
mp3_length: 48525895
---
<div>
<div>Le 13 janvier 2010</div>
</div>
<div>Didier Girard</div>
<div><a href='http://www.application-servers.com/'>http://www.application-servers.com</a></div>
<div><a href='http://www.ongwt.com/'>http://www.ongwt.com</a></div>
<div><a href='http://www.sfeir.com/'>http://www.sfeir.com/</a></div>
<div/>
<div>Guillaume Laforge</div>
<div><a href='http://groovy.codehaus.org/'>http://groovy.codehaus.org</a></div>
<div/>
<div>Google App Engine</div>
<div><a href='http://code.google.com/appengine/'>http://code.google.com/appengine</a></div>
<div>Gaelyk <a href='http://gaelyk.appspot.com/'>http://gaelyk.appspot.com/</a></div>
<div>Jetty <a href='http://jetty.codehaus.org/jetty/'>http://jetty.codehaus.org/jetty</a></div>
<div>OpenJDK <a href='http://openjdk.java.net/'>http://openjdk.java.net</a></div>
<div>Apache Harmony <a href='http://harmony.apache.org/'>http://harmony.apache.org</a></div>
<div>White ist Google App Engine <a href='http://code.google.com/appengine/docs/java/jrewhitelist.html'>http://code.google.com/appengine/docs/java/jrewhitelist.html</a></div>
<div>Secure Data Connector <a href='http://code.google.com/securedataconnector/docs/1.0/overview.html'>http://code.google.com/securedataconnector/docs/1.0/overview.html</a></div>
<div>Datastore - <a href='http://code.google.com/appengine/docs/python/gettingstarted/usingdatastore.html'>http://code.google.com/appengine/docs/python/gettingstarted/usingdatastore.html</a> <a href='http://code.google.com/appengine/docs/java/datastore/'>http://code.google.com/appengine/docs/java/datastore/</a></div>
<div>Data Nucleus <a href='http://www.datanucleus.org/'>http://www.datanucleus.org/</a></div>
<div>NoSQL France</div>
<p>Direct download: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-15.mp3'>LesCastCodeurs-Episode-15.mp3</a></p>
