---
title: 'Les Cast Codeurs Podcast - Episode 26 - Oracle casse et Les Cast Codeurs flattrent'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 26
mp3_length: 41686402
---
<p>Enregistre le 29 juillet 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-26.mp3'>LesCastCodeurs-Episode-26.mp3</a>
</p>
<div><strong>Nouvelles</strong></div>
<div><em>= Les Cast Codeurs sur Flattr</em></div>
<div><a href='https://flattr.com'>https://flattr.com</a></div>
<div><em>= Oracle casse Java</em></div>
<div>* <a href='http://it.slashdot.org/story/10/07/28/2121259/Oracles-Java-Company-Change-Breaks-Eclipse'>http://it.slashdot.org/story/10/07/28/2121259/Oracles-Java-Company-Change-Breaks-Eclipse</a></div>
<div>* <a href='http://www.touilleur-express.fr/2010/07/23/e17476-oracle-decouvre-le-web-rendez-moi-mes-urls-javadoc/'>http://www.touilleur-express.fr/2010/07/23/e17476-oracle-decouvre-le-web-rendez-moi-mes-urls-javadoc/</a></div>
<div>* <a href='http://nighthacks.com/roller/jag/entry/funniest_thing_i_ve_read'>http://nighthacks.com/roller/jag/entry/funniest_thing_i_ve_read</a></div>
<div><em>= La rue du logiciel libre</em></div>
<div>* <a href='http://www.freenews.fr/spip.php?article8522'>http://www.freenews.fr/spip.php?article8522</a></div>
<div>* <a href='http://en.wikipedia.org/wiki/Free_Software_Street'>http://en.wikipedia.org/wiki/Free_Software_Street</a></div>
<div><em>= Adobe qui rachète Day Software</em></div>
<div>* <a href='http://www.lemonde.fr/technologies/article/2010/07/28/adobe-achete-day-software-et-vise-le-marche-de-l-entreprise_1392936_651865.html'>http://www.lemonde.fr/technologies/article/2010/07/28/adobe-achete-day-software-et-vise-le-marche-de-l-entreprise_1392936_651865.html</a></div>
<div>* <a href='http://www.rtlinfo.be/info/magazine/internet_et_high_tech/726601/adobe-rachete-le-suisse-day-software-pour-plus-de-180-millions-d-euros'>http://www.rtlinfo.be/info/magazine/internet_et_high_tech/726601/adobe-rachete-le-suisse-day-software-pour-plus-de-180-millions-d-euros</a></div>
<div>* <a href='http://www.tdg.ch/depeches/economie/groupe-americain-adobe-rachete-societe-baloise-day-software'>http://www.tdg.ch/depeches/economie/groupe-americain-adobe-rachete-societe-baloise-day-software</a></div>
<div><em>= Atlassian leve $60M</em></div>
<div><a href='http://www.theserverside.com/news/thread.tss?thread_id=60549'>http://www.theserverside.com/news/thread.tss?thread_id=60549</a></div>
<div><em>== Sorties logicielles</em></div>
<div><em>= Apache FOP qui devient 1.0</em></div>
<div>* <a href='http://xmlgraphics.apache.org/fop/'>http://xmlgraphics.apache.org/fop/</a></div>
<div>* <a href='http://itextpdf.com/'>http://itextpdf.com/</a></div>
<div>* <a href='http://java-source.net/open-source/pdf-libraries'>http://java-source.net/open-source/pdf-libraries</a></div>
<div><em>= Première beta de Tomcat 7</em></div>
<div>* <a href='http://www.infoq.com/news/2010/07/tomcat_7'>http://www.infoq.com/news/2010/07/tomcat_7</a></div>
<div><em>= Groovy</em></div>
<div><a href='http://docs.codehaus.org/display/GROOVY/2010/07/22/Groovy+1.7.4+and+the+fist+beta+drop+of+Groovy+1.8'>http://docs.codehaus.org/display/GROOVY/2010/07/22/Groovy+1.7.4+and+the+fist+beta+drop+of+Groovy+1.8</a></div>
<div><em>= hibernate core 3.6 Beta</em></div>
<div><a href='http://in.relation.to/Bloggers/SimultaneousHibernate354And360Beta1Releases'>http://in.relation.to/Bloggers/SimultaneousHibernate354And360Beta1Releases</a></div>
<div><a href='http://in.relation.to/Bloggers/Hibernate360Beta2Release'>http://in.relation.to/Bloggers/Hibernate360Beta2Release</a></div>
<div><em>= Hibernate Search 3.2.1</em></div>
<div><a href='http://in.relation.to/Bloggers/HibernateSearch321IsOutPleaseUpgrade'>http://in.relation.to/Bloggers/HibernateSearch321IsOutPleaseUpgrade</a></div>
<div><em>= JBoss AS 6M4 est sorti</em></div>
<div>* Derniere milestone avant le cycle de CR <a href='http://community.jboss.org/wiki/AS600M4ReleaseNotes'>http://community.jboss.org/wiki/AS600M4ReleaseNotes</a></div>
<div><em>= Do we need servlet containers</em></div>
<div><a href='http://www.theserverside.com/news/thread.tss?thread_id=60607'>http://www.theserverside.com/news/thread.tss?thread_id=60607</a></div>
<div><a href='http://www.mailinator.com/tymaPaulMultithreaded.pdf'>http://www.mailinator.com/tymaPaulMultithreaded.pdf</a></div>
<div><em>= Android sort un serveur de License</em></div>
<div><a href='http://erictric.com/2010/07/27/new-android-application-licensing-service-launched-by-google/'>http://erictric.com/2010/07/27/new-android-application-licensing-service-launched-by-google/</a></div>
<div><a href='http://android-developers.blogspot.com/2010/07/licensing-service-technology-highlights.html'>http://android-developers.blogspot.com/2010/07/licensing-service-technology-highlights.html</a></div>
<em>= XWiki a 6 ans </em>
<div><strong>Les JUGs et conferences</strong></div>
<div>* <a href='http://www.serli.com/post/JUG-Summer-Camp-La-Rochelle'>http://www.serli.com/post/JUG-Summer-Camp-La-Rochelle</a></div>
<p>* JavaOne <a href='http://www.oracle.com/us/javaonedevelop'>http://www.oracle.com/us/javaonedevelop</a>
</p>
<div><strong>Les outils de l'episode</strong></div>
<div>MyKeePass <a href='http://mykeepass.wikidot.com/start'>http://mykeepass.wikidot.com/start</a></div>
<div>iThought HD <a href='http://www.ipadmindmap.com/iPadMindmap/Welcome.html'>http://www.ipadmindmap.com/iPadMindmap/Welcome.html</a></div>
<p>MindMeister <a href='http://blog.mindmeister.com/2010/07/22/mindmeister-for-ipad-%E2%80%93-now-available/'>http://blog.mindmeister.com/2010/07/22/mindmeister-for-ipad-–-now-available/</a>
</p>
<div><strong>Les mains dans le cambouis</strong></div>
<div>Maven dependency plugin</div>
<a href='http://maven.apache.org/plugins/maven-dependency-plugin/'>http://maven.apache.org/plugins/maven-dependency-plugin/</a>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
