---
title: 'Les Cast Codeurs Podcast - Episode 21 - Interview independents partie 2 - Aucune SSII n&#039;a ete martyrisee pendant l&#039;enregistrement'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 21
mp3_length: 37753008
---
<p>Enregistre le 22 mars 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-21.mp3' onclick='javascript:pageTracker._trackPageview(&apos;/outbound/article/media.libsyn.com&apos;);'>LesCastCodeurs-Episode-21.mp3</a>
</p>
<div>
<div><a href='http://java-freelance.fr/'>http://java-freelance.fr/</a></div>
<div><a href='http://www.touilleur-express.fr/'>http://www.touilleur-express.fr/</a></div>
<div><a href='http://twitter.com/nmartignole'>http://twitter.com/nmartignole</a></div>
<div><a href='http://www.antoniogoncalves.org'>http://www.antoniogoncalves.org</a></div>
<div><a href='http://twitter.com/agoncal'>http://twitter.com/agoncal</a></div>
<div><a href='http://emmanuelbernard.com/'>http://emmanuelbernard.com/</a></div>
<div><a href='http://blog.emmanuelbernard.com/'>http://blog.emmanuelbernard.com/</a></div>
<a href='http://twitter.com/emmanuelbernard'>http://twitter.com/emmanuelbernard</a>
<div>
<p>Lien generaliste
</p>
<div>Forum + recherche de missions</div>
<div><a href='http://www.freelance-info.fr/'>http://www.freelance-info.fr/</a></div>
<div>Calculatrices estimations de revenues :</div>
<div><a href='http://java-freelance.fr/calculatrice'>http://java-freelance.fr/calculatrice</a></div>
<div><a href='http://odeheurles.com/2008/07/calculs-detailles-eurl-optimisation/'>http://odeheurles.com/2008/07/calculs-detailles-eurl-optimisation/</a></div>
<div><a href='http://www.entrepriseindividuelle.info/Calc_CharSoc.php'>http://www.entrepriseindividuelle.info/Calc_CharSoc.php</a></div>
<div>Blogs de freelances</div>
<div><a href='http://www.freelanceinformatique.com/'>http://www.freelanceinformatique.com/</a></div>
<div>Pour tout ce qui est CAE et SCOP</div>
<div><a href='http://fr.wikipedia.org/wiki/Coop%C3%A9ratives_d%27activit%C3%A9_et_d%27emploi'>http://fr.wikipedia.org/wiki/Coop%C3%A9ratives_d%27activit%C3%A9_et_d%27emploi</a></div>
<div><a href='http://fr.wikipedia.org/wiki/Scop'>http://fr.wikipedia.org/wiki/Scop</a></div>
<a href='http://www.portparallele.com'>http://www.portparallele.com</a>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
</div>
</div>
