---
title: 'Les Cast Codeurs Podcast - Episode 31 - Special Devoxx 2010'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 31
mp3_length: 49783743
---
<p>Enregistre le 19 novembre 2010
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-31.mp3'>LesCastCodeurs-Episode-31.mp3</a>
</p>
<p>Devoxx <a href='http://devoxx.com'>http://devoxx.com</a>
</p>
<div>Nicolas Martignole</div>
<div>Le Touilleur Express <a href='http://www.touilleur-express.fr/'>http://www.touilleur-express.fr/</a></div>
<a href='http://twitter.com/#!/nmartignole'>http://twitter.com/nmartignole</a>
<div>Michael Figuiere</div>
<div><a href='http://blog.xebia.fr/author/mfiguiere/'>http://blog.xebia.fr/author/mfiguiere/</a></div>
<p>Xebia <a href='http://www.xebia.fr/'>http://www.xebia.fr/</a>
</p>
<p>Paris JUG <a href='http://www.parisjug.org'>http://www.parisjug.org</a>
</p>
<div><strong>Java SE</strong></div>
<div>JSR project coins <a href='http://jcp.org/en/jsr/detail?id=334'>http://jcp.org/en/jsr/detail?id=334</a></div>
<div>JSR Lambda expression <a href='http://jcp.org/en/jsr/detail?id=335'>http://jcp.org/en/jsr/detail?id=335</a></div>
<div>JSR Java SE 7 <a href='http://jcp.org/en/jsr/detail?id=336'>http://jcp.org/en/jsr/detail?id=336</a></div>
<div>JSR Java SE 8 <a href='http://jcp.org/en/jsr/detail?id=337'>http://jcp.org/en/jsr/detail?id=337</a></div>
<p>Java Modules et Jigsaw <a href='http://openjdk.java.net/projects/jigsaw/'>http://openjdk.java.net/projects/jigsaw/</a>
</p>
<div><strong>Devops</strong></div>
<div>Michael Cote <a href='http://www.redmonk.com/cote/'>http://www.redmonk.com/cote/</a></div>
<div>John Willis <a href='http://www.johnmwillis.com/about/'>http://www.johnmwillis.com/about/</a></div>
<p>Devops <a href='http://en.wikipedia.org/wiki/DevOps'>http://en.wikipedia.org/wiki/DevOps</a>
</p>
<div><strong>Langage alternatifs</strong></div>
<div>Stephan Colebourne <a href='http://jroller.com/scolebourne/'>http://jroller.com/scolebourne/</a></div>
<p>Next Big Language <a href='http://www.jroller.com/scolebourne/entry/the_next_big_jvm_language1'>http://www.jroller.com/scolebourne/entry/the_next_big_jvm_language1</a>
</p>
<div><strong>NoSQL</strong></div>
<div>Cassandra <a href='http://cassandra.apache.org/'>http://cassandra.apache.org/</a></div>
<div>Project Voldemort <a href='http://project-voldemort.com/'>http://project-voldemort.com/</a></div>
<div>Hadoop <a href='http://hadoop.apache.org/'>http://hadoop.apache.org/</a></div>
<div>HBase <a href='http://hbase.apache.org/'>http://hbase.apache.org/</a></div>
<div>Infinispan <a href='http://jboss.org/infinispan'>http://jboss.org/infinispan</a></div>
<div>MongoDB <a href='http://www.mongodb.org/'>http://www.mongodb.org/</a></div>
<div>Hive <a href='http://hive.apache.org/'>http://hive.apache.org/</a></div>
<p>Pig <a href='http://pig.apache.org/'>http://pig.apache.org/</a>
</p>
<div><strong>Performances</strong></div>
<div>Joshua Bloch <a href='http://en.wikipedia.org/wiki/Joshua_Bloch'>http://en.wikipedia.org/wiki/Joshua_Bloch</a></div>
<div>David Gageot <a href='http://blog.javabien.net/'>http://blog.javabien.net/</a></div>
<div>AlgoDeal <a href='https://beta.algodeal.com/'>https://beta.algodeal.com/</a></div>
<div>Kirk Pepperdine Java Specialists Newsletter <a href='http://www.javaspecialists.eu/archive/archive.jsp'>http://www.javaspecialists.eu/archive/archive.jsp</a></div>
<p>Hudson <a href='https://hudson.dev.java.net/'>https://hudson.dev.java.net/</a>
</p>
<div><strong>Divers</strong></div>
<p>Groovy <a href='http://groovy.codehaus.org/'>http://groovy.codehaus.org/</a>
</p>
<div><strong>Les outils de la semaine</strong></div>
<p>Parleys <a href='http://parleys.com/'>http://parleys.com/</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
