---
title: 'Les Cast Codeurs Podcast - Episode 18 - Invite special Alexis Moussine-Pouchkine de Sun France Oracle'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 18
mp3_length: 56786810
---
<p>Enregistre le 8 mars 2010
</p>
<p>Telechargement de l'episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-18.mp3'>LesCastCodeurs-Episode-18.mp3</a>
</p>
<strong>Interview</strong>
<div>Oracle Sun Webcast <a href='http://www.oracle.com/events/productstrategy/index.html'>http://www.oracle.com/events/productstrategy/index.html</a></div>
<div><a href='http://www.oracle.com/events/productstrategy/index.html'/>VM (JRockit, HotSpot)</div>
<div>Java 7</div>
<div>Weblogic Glassfish</div>
<div>Gizzly NIO</div>
<div>Metro (WebService stack)</div>
<div>IDE (NetBeans, JDeveloper, Eclipse)</div>
<div>JBoss Developer Studio</div>
<div>Forge de developpement (Kenai, Java.net)</div>
<div>JCP</div>
<div>JUGs</div>
<div>Hardware (ExaData)</div>
<div>Solaris</div>
<div>Sun Storage and Tape</div>
<div>R&amp;D (SunSpot)</div>
<div>JavaOne <a href='http://java.sun.com/javaone/'>http://java.sun.com/javaone/</a></div>
<p>Oracle Open World <a href='http://www.oracle.com/us/openworld/index.htm'>http://www.oracle.com/us/openworld/index.htm</a>
</p>
<strong>iPad, Flash et HTML 5</strong>
<div><a href='http://ukwebfocus.wordpress.com/2010/02/03/ipad-flash-html-5-and-standards/'>http://ukwebfocus.wordpress.com/2010/02/03/ipad-flash-html-5-and-standards/</a></div>
<div><a href='http://www.youtube.com/html5'>http://www.youtube.com/html5</a></div>
<div><a href='http://www.macrumors.com/2010/03/16/npr-and-wall-street-journal-preparing-to-launch-ipad-optimized-sites/'>http://www.macrumors.com/2010/03/16/npr-and-wall-street-journal-preparing-to-launch-ipad-optimized-sites/</a></div>
<div>IE 6</div>
<div>JavaFX</div>
<div>Java ME</div>
<div>Open Office <a href='http://fr.openoffice.org/'>http://fr.openoffice.org/</a></div>
<p>Web Socket <a href='http://dev.w3.org/html5/websockets/'>http://dev.w3.org/html5/websockets/</a>
</p>
<strong>Containers Java EE 6</strong>
<div>Glassfish v3 <a href=' http://glassfish.org/v3'>http://glassfish.org/v3</a></div>
<div>Resin <a href='http://blog.caucho.com/?p=384'>http://blog.caucho.com/?p=384</a></div>
<div>JBoss AS 6 M2 <a href='http://community.jboss.org/wiki/AS600M2ReleaseNotes'>http://community.jboss.org/wiki/AS600M2ReleaseNotes</a></div>
<div>HornetQ <a href='http://www.jboss.org/hornetq'>http://www.jboss.org/hornetq</a></div>
<p>Weblogic <a href='http://www.oracle.com/bea/index.html'>http://www.oracle.com/bea/index.html</a>
</p>
<strong>Autre</strong>
<div>JDuchess France <a href='http://jduchess.org/duchess-france/'>http://jduchess.org/duchess-france/</a></div>
<div>Java Serializarion et serialVersionUID explicit: dangereux?</div>
<div><a href='http://stackoverflow.com/search?q=serialVersionUID'>http://stackoverflow.com/search?q=serialVersionUID</a></div>
<p>Felipe Gaucho CE-JUG <a href='http://www.java.net/blogs/felipegaucho/'>http://www.java.net/blogs/felipegaucho/</a>
</p>
<strong>Outil de la semaine</strong>
<p>Mitaines
</p>
<strong>Les mains dans le cambouis </strong>
<p>Maven: plugin release <a href='http://maven.apache.org/plugins/maven-release-plugin/'>http://maven.apache.org/plugins/maven-release-plugin/</a>
</p>
<p>Posez vos questions aux CastCodeurs pour l'episode 20 sur le google group <a href='http://groups.google.com/group/lescastcodeurs?pli=1'>http://groups.google.com/group/lescastcodeurs?pli=1</a></p>
