---
title: 'Les Cast Codeurs Podcast - Episode 30 - Java et le mouvement brownien'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 30
mp3_length: 36049594
---
<p>Enregistre le 27 octobre 2010
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-30.mp3'>LesCastCodeurs-Episode-30.mp3</a>
</p>
<div><strong>News</strong></div>
<div><strong>
</strong></div>
<div>IBM - OpenJDK</div>
<div><a href='http://arstechnica.com/open-source/news/2010/10/ibm-joins-openjdk-as-oracle-shuns-apache-harmony.ars'>http://arstechnica.com/open-source/news/2010/10/ibm-joins-openjdk-as-oracle-shuns-apache-harmony.ars</a></div>
<div>Apache Harmony <a href='http://harmony.apache.org/'>http://harmony.apache.org/</a></div>
<div>Android et Harmony <a href='http://www.frandroid.com/42380/ibm-rejoint-oracle-pour-openjdk-quel-impact-pour-android'>http://www.frandroid.com/42380/ibm-rejoint-oracle-pour-openjdk-quel-impact-pour-android</a></div>
<div>JCP <a href='http://jcp.org'>http://jcp.org</a></div>
<div>Lettre de la fondation Apache sur le futur d'Harmony <a href='https://blogs.apache.org/foundation/entry/statement_by_the_asf_board'>https://blogs.apache.org/foundation/entry/statement_by_the_asf_board</a></div>
<div>Blog de Mark Reinhold (architect en chef de la plateforme Java) <a href='http://blogs.sun.com/mr/entry/ibm_to_join_openjdk'>http://blogs.sun.com/mr/entry/ibm_to_join_openjdk</a></div>
<div>Stephen Colebourne <a href='http://www.jroller.com/scolebourne/entry/jcp_pragmatism_or_bust'>http://www.jroller.com/scolebourne/entry/jcp_pragmatism_or_bust</a></div>
<a href='http://weblogs.java.net/blog/fabriziogiudici/archive/2010/10/13/how-free-openjdk'>http://weblogs.java.net/blog/fabriziogiudici/archive/2010/10/13/how-free-openjdk</a>
<div>JCP</div>
<div>Stephen Colebourne</div>
<div><a href='http://www.jroller.com/scolebourne/'>http://www.jroller.com/scolebourne/</a></div>
<div><a href='http://www.jroller.com/scolebourne/entry/does_oracle_have_enough_votes'>http://www.jroller.com/scolebourne/entry/does_oracle_have_enough_votes</a></div>
<div>Hologic proche d'Oracle? <a href='http://www.jroller.com/scolebourne/entry/stacking_the_jcp_election'>http://www.jroller.com/scolebourne/entry/stacking_the_jcp_election</a></div>
<div>Holologic <a href='http://www.hologic.com/'>http://www.hologic.com/</a></div>
<div>Sam Pullara</div>
<div><a href='http://www.linkedin.com/in/spullara'>http://www.linkedin.com/in/spullara</a></div>
<div><a href='http://www.javarants.com/'>http://www.javarants.com/</a></div>
<div>Azul <a href='http://www.azulsystems.com/'>http://www.azulsystems.com/</a></div>
<div>Crazy Bob Lee</div>
<div><a href='http://blog.crazybob.org/'>http://blog.crazybob.org/</a></div>
<a href='http://blog.crazybob.org/2010/10/long-live-java.html'>http://blog.crazybob.org/2010/10/long-live-java.html</a>
<div>Apple et Java</div>
<div>Java retiré <a href='http://goo.gl/rRsj'>http://goo.gl/rRsj</a></div>
<div><a href='http://www.macrumors.com/2010/10/21/apple-discontinuing-java-installation-packages-for-mac-os-x/'>http://www.macrumors.com/2010/10/21/apple-discontinuing-java-installation-packages-for-mac-os-x/</a></div>
<div>Commentaire de Steve Jobs <a href='http://www.macrumors.com/2010/10/22/steve-jobs-comments-on-apples-java-discontinuation/'>http://www.macrumors.com/2010/10/22/steve-jobs-comments-on-apples-java-discontinuation/</a></div>
<div>James Gosling sur le sujet <a href='http://nighthacks.com/roller/jag/entry/steve_jobs_comments_on_apple'>http://nighthacks.com/roller/jag/entry/steve_jobs_comments_on_apple</a></div>
<div>Open JDK <a href='http://openjdk.java.net/'>http://openjdk.java.net/</a></div>
<div>SoyLatte <a href='http://landonf.bikemonkey.org/static/soylatte/'>http://landonf.bikemonkey.org/static/soylatte/</a></div>
<div>Mac App Store</div>
<div><a href='http://www.apple.com/mac/app-store/'>http://www.apple.com/mac/app-store/</a></div>
<a href='http://www.apple.com/mac/app-store/'/><a href='http://www.downloadsquad.com/2010/10/20/apple-announces-mac-app-store/'>http://www.downloadsquad.com/2010/10/20/apple-announces-mac-app-store/</a>
<div>iPad <a href='http://www.apple.com/fr/ipad/'>http://www.apple.com/fr/ipad/</a></div>
<div>BlackBerry PlayBook <a href='http://us.blackberry.com/playbook-tablet/'>http://us.blackberry.com/playbook-tablet/</a></div>
<div>Ubuntu <a href='http://www.ubuntu.com/'>http://www.ubuntu.com/</a></div>
<div>Sony rachete <a href='http://www.tuaw.com/2010/10/26/rumormill-apple-to-buy-sony/'>http://www.tuaw.com/2010/10/26/rumormill-apple-to-buy-sony/</a></div>
<p>Le Walkman c'est fini <a href='http://running.about.com/b/2010/11/02/r-i-p-sony-walkman.htm'>http://running.about.com/b/2010/11/02/r-i-p-sony-walkman.htm</a>
</p>
<div>OpenOffice <a href='http://www.openoffice.org/'>http://www.openoffice.org/</a></div>
<div>LibreOffice <a href='http://www.documentfoundation.org/'>http://www.documentfoundation.org/</a></div>
<div><a href='http://techrights.org/2010/09/28/document-foundation-and-libreoffice/'>http://techrights.org/2010/09/28/document-foundation-and-libreoffice/</a></div>
<div><a href='http://www.omgubuntu.co.uk/2010/09/libreoffice-google-novell-sponsored-openoffice-fork-launched/'>http://www.omgubuntu.co.uk/2010/09/libreoffice-google-novell-sponsored-openoffice-fork-launched/</a></div>
<a href='http://www.developpez.com/actu/21454/OpenOffice-org-n-existe-plus-Cloud-Office-d-Oracle-et-LibreOffice-3-lui-succedent'>http://www.developpez.com/actu/21454/OpenOffice-org-n-existe-plus-Cloud-Office-d-Oracle-et-LibreOffice-3-lui-succedent</a>
<p>Oracle et les JUGs <a href='http://goo.gl/dxOyw'>http://goo.gl/dxOyw</a>
</p>
<p>Gemalto <a href='http://www.frandroid.com/44367/gemalto-attaque-google-android'>http://www.frandroid.com/44367/gemalto-attaque-google-android</a>
</p>
<div>Infographie de qui intente un proces a qui dans l'industrie du mobile <a href='http://www.informationisbeautiful.net/2010/whos-suing-whom-in-the-telecoms-trade/'>http://www.informationisbeautiful.net/2010/whos-suing-whom-in-the-telecoms-trade/</a></div>
<p>Mexican stand-off <a href='http://dictionary.reverso.net/english-cobuild/Mexican'>http://dictionary.reverso.net/english-cobuild/Mexican</a>
</p>
<p>Data Center Google en Belgique <a href='http://www.zorgloob.com/2010/10/03/google-saint-ghislain/'>http://www.zorgloob.com/2010/10/03/google-saint-ghislain/</a>
</p>
<p>XWiki dans le cadrant magique du Gartner <a href='http://www.xwiki.com/xwiki/bin/view/Blog/XWiki+Gartner+Magic+Quadrant+Social+Software'>http://www.xwiki.com/xwiki/bin/view/Blog/XWiki+Gartner+Magic+Quadrant+Social+Software</a>
</p>
<div><strong>Les outils de la semaine</strong></div>
<div>Tripit <a href='http://www.tripit.com/'>http://www.tripit.com/</a></div>
<div>La Xxxx et le couteau de Guillaume</div>
<div>Dropbox <a href='https://www.dropbox.com/home'>https://www.dropbox.com</a></div>
<div>Gmail <a href='https://www.gmail.com/'>https://www.gmail.com/</a></div>
<div>Simplenote <a href='http://simplenoteapp.com/'>http://simplenoteapp.com/</a></div>
<div>Hibernate <a href='http://www.hibernate.org/'>http://www.hibernate.org/</a></div>
<div>Git <a href='http://git-scm.com/'>http://git-scm.com/</a></div>
<div>Gradle <a href='http://www.gradle.org/'>http://www.gradle.org/</a></div>
<p>GitHub <a href='https://github.com/'>https://github.com/</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
