---
title: 'Les Cast Codeurs Podcast - Episode 23 - Interview DVCS et Git j&#039;ai vu la lumière avec David Gageot d&#039;Algodeal'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 23
mp3_length: 45690714
---
<p>Enregistre le 11 mai 2010
</p>
<p>Telechargement de l’episode <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-23.mp3' onclick='javascript:pageTracker._trackPageview(&apos;/outbound/article/media.libsyn.com&apos;);'>LesCastCodeurs-Episode-23.mp3</a>
</p>
<div><strong>David Gageot</strong></div>
<div><a href='http://blog.javabien.net'>http://blog.javabien.net</a></div>
<p>Algodeal <a href='http://www.algodeal.com/'>http://www.algodeal.com/</a>
</p>
<div>Subversion <a href='http://subversion.apache.org/'>http://subversion.apache.org/</a></div>
<div>Git <a href='http://git-scm.com/'>http://git-scm.com/</a></div>
<div>Mercurial <a href='http://mercurial.selenic.com/'>http://mercurial.selenic.com/</a></div>
<div>Bazaar <a href='http://bazaar.canonical.com/en/'>http://bazaar.canonical.com/en/</a></div>
<div>github <a href='http://github.com/'>http://github.com/</a></div>
<div>Express Board <a href='http://express-board.fr/'>http://express-board.fr/</a></div>
<div>GitX <a href='http://gitx.frim.nl/'>http://gitx.frim.nl/</a></div>
<div>plug in forrest de mercurial <a href='http://mercurial.selenic.com/wiki/ForestExtension'>http://mercurial.selenic.com/wiki/ForestExtension</a></div>
<div>Git est MacGyver et Mercurial est James Bond (un peu obsolete): <a href='http://importantshock.wordpress.com/2008/08/07/git-vs-mercurial/'>http://importantshock.wordpress.com/2008/08/07/git-vs-mercurial/</a></div>
<div>TeamCity <a href='http://www.jetbrains.com/teamcity/'>http://www.jetbrains.com/teamcity/</a></div>
<div>Infinitest <a href='http://improvingworks.com/products/infinitest/'>http://improvingworks.com/products/infinitest/</a></div>
<div>Serverless Continuous Integration with Git <a href='http://blog.javabien.net/2009/12/01/serverless-ci-with-git/'>http://blog.javabien.net/2009/12/01/serverless-ci-with-git/</a></div>
<div>Hudson <a href='http://hudson-ci.org/'>http://hudson-ci.org/</a> <a href='http://kohsuke.org/category/infradna/'>http://kohsuke.org/category/infradna/</a></div>
<div>MySQL <a href='http://www.mysql.fr/'>http://www.mysql.fr/</a></div>
<div>H2 database <a href='http://www.h2database.com'>http://www.h2database.com</a></div>
<div>GitK <a href='http://www.kernel.org/pub/software/scm/git/docs/v1.6.0.6/gitk.html'>http://www.kernel.org/pub/software/scm/git/docs/v1.6.0.6/gitk.html</a></div>
<div>TortoiseHg <a href='http://tortoisehg.bitbucket.org/'>http://tortoisehg.bitbucket.org/</a></div>
<div>TortoiseGit <a href='http://code.google.com/p/tortoisegit/'>http://code.google.com/p/tortoisegit/</a></div>
<div>IntelliJ <a href='http://www.jetbrains.com/idea/'>http://www.jetbrains.com/idea/</a></div>
<div>Eclipse JGit <a href='http://eclipse.org/jgit/'>http://eclipse.org/jgit/</a></div>
<div>BitBucket <a href='http://bitbucket.org/'>http://bitbucket.org/</a></div>
<div>Gist <a href='http://gist.github.com/'>http://gist.github.com/</a></div>
<div>Pastebin <a href='http://pastebin.org/'>http://pastebin.org/</a></div>
<div>Pro Git <a href='http://progit.org/'>http://progit.org/</a></div>
<div>Git Community Book <a href='http://book.git-scm.com/'>http://book.git-scm.com/</a></div>
<div>One commit at a time <a href='http://www.gitready.com/'>http://www.gitready.com/</a></div>
<div>Git Magic <a href='http://www-cs-students.stanford.edu/~blynn/gitmagic/'>http://www-cs-students.stanford.edu/~blynn/gitmagic/</a></div>
<p>Linus talks about Git <a href='http://www.youtube.com/watch?v=4XpnKHJAok8'>http://www.youtube.com/watch?v=4XpnKHJAok8</a>
</p>
<div>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
</div>
