---
title: 'Les Cast Codeurs explosent la barre des 4000'
author: 'Emmanuel Bernard'
layout: blog-post
---
<p>Cela faisait deux mois qu'on frôlait la barre des 4000 mais cette fois ci c'est fait et en beauté en plus. En mai, Les Cast Codeurs ont été téléchargés (roulement de tambour, ouvrage d'enveloppe) <strong>4709 fois</strong>. Youhou!
</p>
<p>Merci a tous de nous suivre dans cette (encore jeune) aventure. Evidemment, on était sûr que ça marcherait... ahem ahem... mais le voir devenir réalité, ça fait chaud au coeur. Et bien sûr, continuer d'en parlez autour de vous :)
</p>
<p>Alors, c'es quoi la prochaine barrière? 10000? :)
</p>
<p>PS: quand je pense que les blagues de Guillaumes sont écoutées 4709 fois par mois, ça fait réfléchir.</p>
