---
title: 'Les Cast Codeurs Podcast - Episode 16 - Le seul podcast Java cette semaine qui ne parle PAS du webcast de Snoracle'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 16
mp3_length: 43867551
---
<div>Enregistre le 25 janvier 2010</div>
<div>
<div><strong>Nouvelles</strong></div>
<div>La communaute Europeenne vote oui a la fusion de Oracle et Sun</div>
<div><a href='http://www.theregister.co.uk/2010/01/21/europe_clears_oracle/'>http://www.theregister.co.uk/2010/01/21/europe_clears_oracle/</a></div>
<div>Le blog de James Gosling (800 commentaires et ca continue) <a href='http://blogs.sun.com/jag/entry/so_long_old_friend'>http://blogs.sun.com/jag/entry/so_long_old_friend</a></div>
<div>Le blog de Marc Fleury sur Monty et MySQL <a href='http://www.thedelphicfuture.org/2010/01/save-mysql.html'>http://www.thedelphicfuture.org/2010/01/save-mysql.html</a></div>
<div>SpringSource donne le code du dm server a la fondation Eclipse</div>
<div><a href='http://www.informationweek.com/news/services/saas/showArticle.jhtml?articleID=222301518&amp;#x26;cid=RSSfeed_IWK_ALL'>http://www.informationweek.com/news/services/saas/showArticle.jhtml?articleID=222301518&amp;#x26;cid=RSSfeed_IWK_ALL</a></div>
<div><a href='http://blog.springsource.com/2010/01/12/dm-server-project-moves-to-eclipse-org/'>http://blog.springsource.com/2010/01/12/dm-server-project-moves-to-eclipse-org/</a></div>
<div>NoSQL: la premiere reunion en France <a href='https://sites.google.com/a/octo.com/nosql/home'>https://sites.google.com/a/octo.com/nosql/home</a></div>
<div>NoSQL humoristique <a href='http://www.youtube.com/watch?v=LhnGarRsKnA'>http://www.youtube.com/watch?v=LhnGarRsKnA</a></div>
<div>HornetQ 2.0 est sorti</div>
<div><a href='http://hornetq.blogspot.com/2010/01/hornetq-200ga-is-released.html'>http://hornetq.blogspot.com/2010/01/hornetq-200ga-is-released.html</a></div>
<div>ModeShape <a href='http://www.jboss.org/modeshape'>http://www.jboss.org/modeshape</a></div>
<div>Le standard de benchmark SPECjEntreprise2010 pour Java EE 5</div>
<div><a href='http://www.theserverside.com/news/thread.tss?thread_id=59161'>http://www.theserverside.com/news/thread.tss?thread_id=59161</a></div>
<div>Le TPC-C benchmark dont Vincent parlait <a href='http://www.tpc.org/tpcc/'>http://www.tpc.org/tpcc</a></div>
<div>Yahoo vend Zimbra a VMWare</div>
<div><a href='http://news.cnet.com/8301-30684_3-10433478-265.html?tag=newsLatestHeadlinesArea.0'>http://news.cnet.com/8301-30684_3-10433478-265.html?tag=newsLatestHeadlinesArea.0</a></div>
<div>Hibernate 3.5 Beta 3 et Beta 4</div>
<div><a href='http://in.relation.to/Bloggers/Hibernate350Beta3Release'>http://in.relation.to/Bloggers/Hibernate350Beta3Release</a></div>
<div><a href='http://in.relation.to/Bloggers/Hibernate350Beta4Release'>http://in.relation.to/Bloggers/Hibernate350Beta4Release</a></div>
<div>Spring Roo 1.0</div>
<div><a href='http://www.springsource.org/node/2273'>http://www.springsource.org/node/2273</a></div>
<div><strong>Les JUGs et conferences</strong></div>
<div>
<div>2e anniversaire du Paris JUG</div>
<div><a href='http://parisjug.org/xwiki/bin/view/Meeting/20100209'>http://parisjug.org/xwiki/bin/view/Meeting/20100209</a></div>
</div>
<div>Red Hat Summit et JBoss World 2010</div>
<div><a href='http://www.redhat.com/promo/summit/2010/'>http://www.redhat.com/promo/summit/2010/</a></div>
<div><strong>Les outils de l'episode</strong></div>
<div>La police de caractere inconsolata <a href='http://www.levien.com/type/myfonts/inconsolata.html'>http://www.levien.com/type/myfonts/inconsolata.html</a></div>
<div>Police Deja Vu <a href='http://dejavu-fonts.org'>http://dejavu-fonts.org</a></div>
<div>Vincent: Psi (Jabber) - supporte ban + ne pas rendre le chat liste <a href='http://psi-im.org/'>http://psi-im.org/</a></div>
<div><strong>Les mains dans le cambouis: Maven edition</strong></div>
<div>Maven pluging Version de chez Codehaus Mojo <a href='http://mojo.codehaus.org/versions-maven-plugin/'>http://mojo.codehaus.org/versions-maven-plugin/</a></div>
</div>
<div>Livre d'Arnaud <a href='http://livre.fnac.com/a2748495/Nicolas-de-Loof-Apache-Maven'>http://livre.fnac.com/a2748495/Nicolas-de-Loof-Apache-Maven</a></div>
<div>Download Direct: <a href='http://media.libsyn.com/media/lescastcodeurs/LesCastCodeurs-Episode-16.mp3'>LesCastCodeurs-Episode-16.mp3</a></div>
