---
title: 'Les Cast Codeurs Podcast - Episode 35 - Leerooooooooy Jenkiiiiiiiinnnns'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 35
mp3_length: 45333831
---
<p>Enregistré le 8 février 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-35.mp3'>LesCastCodeurs-Episode-35.mp3</a>
</p>
<div><strong>Hudson vs Jenkins</strong></div>
<div><a href='http://java.net/projects/hudson/'>http://java.net/projects/hudson/</a></div>
<div><a href='http://jenkins-ci.org/'>http://jenkins-ci.org/</a></div>
<div>Bamboo - <a href='http://www.atlassian.com/software/bamboo/'>http://www.atlassian.com/software/bamboo/</a></div>
<div>CloudBees - <a href='http://www.cloudbees.com/'>http://www.cloudbees.com/</a></div>
<div>InfraDNA - <a href='http://infradna.com/'>http://infradna.com/</a></div>
<div>DEV@Cloud - <a href='http://www.cloudbees.com/dev.cb'>http://www.cloudbees.com/dev.cb</a></div>
<div>RUN@Cloud - <a href='http://www.cloudbees.com/run.cb'>http://www.cloudbees.com/run.cb</a></div>
<div>Kenai - <a href='http://kenai.com/'>http://kenai.com/</a></div>
<div>Software Freedom Conservancy - <a href='http://sfconservancy.org/'>http://sfconservancy.org/</a></div>
<div>Sonatype - <a href='http://www.sonatype.com/'>http://www.sonatype.com/</a></div>
<div><a href='http://www.sonatype.com/people/2011/02/hudsons-bright-future/'>http://www.sonatype.com/people/2011/02/hudsons-bright-future/</a></div>
<div><a href='http://jenkins-ci.org/content/hudsons-future'>http://jenkins-ci.org/content/hudsons-future</a></div>
<div>
<a href='http://kohsuke.org/bye-bye-hudson-hello-jenkins/'>http://kohsuke.org/bye-bye-hudson-hello-jenkins/</a>
<div><a href='http://nighthacks.org/roller/jag/entry/hudson_is_dead_long_live'>http://nighthacks.org/roller/jag/entry/hudson_is_dead_long_live</a></div>
<div><a href='http://jenkins-ci.org/content/jenkins'>http://jenkins-ci.org/content/jenkins</a></div>
<div><a href='http://sacha.labourey.com/2011/01/31/hudson-is-now-jenkins/'>http://sacha.labourey.com/2011/01/31/hudson-is-now-jenkins/</a></div>
<div><a href='http://www.sonatype.com/people/2011/02/hudsons-bright-future/'>http://www.sonatype.com/people/2011/02/hudsons-bright-future/</a></div>
<div><a href='http://lacostej.blogspot.com/2011/02/sonatypes-hudsons-bright-future-answer.html'>http://lacostej.blogspot.com/2011/02/sonatypes-hudsons-bright-future-answer.html</a></div>
</div>
<div><a href='http://prezi.com/4googejf66it/bordeaux-jug-lightning-talk-jenkins/'>http://prezi.com/4googejf66it/bordeaux-jug-lightning-talk-jenkins/</a></div>
<div>Twiki <a href='http://twiki.org/'>http://twiki.org/</a></div>
<p>FOSWIKI <a href='http://foswiki.org/'>http://foswiki.org/</a>
</p>
<div><strong>SouJava dans le JCP</strong></div>
<div>
<a href='http://blogs.sun.com/theaquarium/entry/soujava_proposed_by_oracle_for'>http://blogs.sun.com/theaquarium/entry/soujava_proposed_by_oracle_for</a>
<div><a href='http://blogs.oracle.com/henrik/2011/01/oracle_nominates_bruno_souza_of_soujava_to_jcp_ec.html'>http://blogs.oracle.com/henrik/2011/01/oracle_nominates_bruno_souza_of_soujava_to_jcp_ec.html</a></div>
<a href='http://blogs.sun.com/pcurran/entry/jugs_and_the_jcp'>http://blogs.sun.com/pcurran/entry/jugs_and_the_jcp</a>
</div>
<div><strong>Java EE 7</strong></div>
<div>JPA 2.1 <a href='http://jcp.org/en/jsr/detail?id=338'>http://jcp.org/en/jsr/detail?id=338</a></div>
<div>JAX-RS 2.0 - <a href='http://jcp.org/en/jsr/detail?id=339'>http://jcp.org/en/jsr/detail?id=339</a></div>
<div>Restlet - <a href='http://www.restlet.org/'>http://www.restlet.org/</a></div>
<div>Servlet 3.1</div>
<div>EJB 3.2</div>
<p>EL 3.0
</p>
<div><strong>Tomcat 7 </strong></div>
<div><a href='http://tomcat.apache.org/tomcat-7.0-doc/index.html'>http://tomcat.apache.org/tomcat-7.0-doc/index.html</a></div>
<div>
<a href='http://tomcat.apache.org/security-6.html'>http://tomcat.apache.org/security-6.html</a>
<a href='http://tomcat.apache.org/security-7.html'>http://tomcat.apache.org/security-7.html</a>
</div>
<div><strong>JBoss AS 6.0</strong></div>
<div>
<a href='http://community.jboss.org/blogs/donnamishelly/2011/01/04/jboss-application-server-6-goes-final'>http://community.jboss.org/blogs/donnamishelly/2011/01/04/jboss-application-server-6-goes-final</a>
<a href='http://blog.softwhere.org/archives/1050'>http://blog.softwhere.org/archives/1050</a>
</div>
<div><strong>Google</strong></div>
<div>Google CEO change</div>
<div>
<a href='http://www.readwriteweb.com/archives/google_ceo_eric_schmidt_steps_down_larry_page_take.php'>http://www.readwriteweb.com/archives/google_ceo_eric_schmidt_steps_down_larry_page_take.php</a>
<div><a href='http://techcrunch.com/2011/01/20/google-ceo-change/'>http://techcrunch.com/2011/01/20/google-ceo-change/</a></div>
<div>Google I/O</div>
<a href='http://techcrunch.com/2011/02/07/google-io-tickets-sell-out-in-59-minutes/'>http://techcrunch.com/2011/02/07/google-io-tickets-sell-out-in-59-minutes/</a>
</div>
<div><strong>Amazon Elastic Beanstalk</strong></div>
<div>
<a href='http://nighthacks.org/roller/jag/entry/elastic_beanstalk'>http://nighthacks.org/roller/jag/entry/elastic_beanstalk</a>
<div><a href='http://aws.amazon.com/elasticbeanstalk/'>http://aws.amazon.com/elasticbeanstalk/</a></div>
</div>
<div>JBoss SteamCannon - <a href='http://steamcannon.org/'>http://steamcannon.org/</a></div>
<div>Google App Engine - <a href='http://code.google.com/appengine/'>http://code.google.com/appengine/</a></div>
<div>
<p>Blog SteamCannon vs Beanstalk - <a href='http://steamcannon.org/news/2011/01/19/steamcannon-vs-elastic-beanstalk/'>http://steamcannon.org/news/2011/01/19/steamcannon-vs-elastic-beanstalk/</a>
</p>
<div><strong>Les departs de Sun un an apres</strong></div>
<div>
<a href='http://pelegri.wordpress.com/2011/01/02/a-year-after-the-people/'>http://pelegri.wordpress.com/2011/01/02/a-year-after-the-people/</a>
<a href='http://blogs.sun.com/sandoz/entry/301_moved_permanently'>http://blogs.sun.com/sandoz/entry/301_moved_permanently</a>
</div>
<div><strong>L'outil de la semaine</strong></div>
<p>Perf4J <a href='http://perf4j.codehaus.org/'>http://perf4j.codehaus.org/</a>
</p>
<div><strong>JUGs et conferences</strong></div>
<div>ParisJUG 3 ans - <a href='http://www.parisjug.org/xwiki/bin/view/Meeting/20110228'>http://www.parisjug.org/xwiki/bin/view/Meeting/20110228</a></div>
<div>WhatsNextParis - <a href='http://whatsnextparis.com/'>http://whatsnextparis.com/</a></div>
<div>Mix-IT - <a href='http://www.mix-it.fr'>http://www.mix-it.fr</a></div>
<div>GeekAndPoke <a href='http://geekandpoke.typepad.com/.a/6a00d8341d3df553ef0147e2645a4f970b-pi'>http://geekandpoke.typepad.com/.a/6a00d8341d3df553ef0147e2645a4f970b-pi</a></div>
<div>XKCD <a href='http://xkcd.org/'>http://xkcd.org/</a></div>
<p>TED <a href='http://www.ted.com/'>http://www.ted.com/</a>
</p>
<div><strong>Livres</strong></div>
<div>Groupe les cast codeurs - <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>
<p>CleanCode
</p>
<div>Effective Java</div>
<div>Refactoring : Improving the Design of Existing Code de Martin Fowler et Kent Beck entre autres</div>
<div>Test Driven : TDD and Acceptance TDD for Java Developers de Lasse Koskela</div>
<div>Java Concurrency in Practice</div>
<div>Java performance tuning</div>
<div>Filthy Rich clients, de Romain Guy et Chet Haase (Swing)</div>
<div>ALGORITHMIQUE APPLICATIONS EN C de Jean Marie Lery (debat pour ou contre les questions d'algorithmie en interview)</div>
<div>Thinking in Java <a href='http://www.mindview.net/Books/TIJ/'>http://www.mindview.net/Books/TIJ/</a></div>
<div>RESTful Web Services</div>
<p>The Pragmatic Programmer: From Journeyman to Master
</p>
</div>
<div>
<strong>Nous contacter</strong>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
</div>
