---
title: 'Les Cast Codeurs Podcast - Episode 39 - En direct de la loge du gardien a GeeCON'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 39
mp3_length: 43325770
---
<p>Enregistre le 13 mai 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-39.mp3'>LesCastCodeurs-Episode-39.mp3</a>
</p>
<div>Michael Figuiere (Xebia) <a href='https://twitter.com/mfiguiere'>https://twitter.com/mfiguiere</a></div>
<div>Cyrille Leclerc (Xebia) <a href='http://twitter.com/#!/cyrilleleclerc'>http://twitter.com/cyrilleleclerc</a></div>
<div>Galder Zamarreno (Red Hat) <a href='http://twitter.com/#!/galderz'>http://twitter.com/galderz</a></div>
<p>Nicolas Leroux (Lunatech) <a href='http://twitter.com/nicolasleroux'>http://twitter.com/nicolasleroux</a>
</p>
<div><strong>CloudFoundry</strong></div>
<div><a href='http://www.cloudfoundry.com/'>http://www.cloudfoundry.com/</a></div>
<p>Node.js <a href='http://nodejs.org/'>http://nodejs.org/</a>
</p>
<div><strong>Amazon EC2</strong></div>
<div><a href='http://aws.amazon.com/message/65648/'>http://aws.amazon.com/message/65648/</a></div>
<div>Amazon Elastic Beanstalk <a href='http://aws.amazon.com/elasticbeanstalk/'>http://aws.amazon.com/elasticbeanstalk/</a></div>
<p>Retour de Netflix sur le probleme Amazon <a href='http://techblog.netflix.com/2011/04/lessons-netflix-learned-from-aws-outage.html'>http://techblog.netflix.com/2011/04/lessons-netflix-learned-from-aws-outage.html</a>
</p>
<div><strong>Ceylon </strong></div>
<div><a href='http://in.relation.to/tag/Ceylon'>http://in.relation.to/tag/Ceylon</a></div>
<div>Scala <a href='http://www.scala-lang.org/'>http://www.scala-lang.org/</a></div>
<p>Typesafe <a href='http://typesafe.com/'>http://typesafe.com/</a>
</p>
<div><strong>JBoss World - Red Hat Summit</strong></div>
<div><a href='http://www.redhat.com/summit/'>http://www.redhat.com/summit/</a></div>
<div>Red Hat CloudForms <a href='http://www.redhat.com/solutions/cloud/cloudforms/'>http://www.redhat.com/solutions/cloud/cloudforms/</a></div>
<div>OpenShift <a href='http://openshift.redhat.com'>http://openshift.redhat.com</a></div>
<div>JBoss Enterprise Data Grid <a href='http://www.jboss.com/edg6-early-access/'>http://www.jboss.com/edg6-early-access/</a></div>
<div>Data Grids for the Java Platform (JSR-347) <a href='http://infinispan.blogspot.com/2011/05/jsr-347-data-grids-for-java-platform.html'>http://infinispan.blogspot.com/2011/05/jsr-347-data-grids-for-java-platform.html</a></div>
<div>JCache (JSR-107) <a href='http://infinispan.blogspot.com/2011/05/jsr-347-data-grids-for-java-platform.html'>http://infinispan.blogspot.com/2011/05/jsr-347-data-grids-for-java-platform.html</a></div>
<p>JBoss Entreprise Application Platform 6 <a href='http://www.journaldunet.com/developpeur/java-j2ee/jboss-enterprise-application-platform-6.shtml'>http://www.journaldunet.com/developpeur/java-j2ee/jboss-enterprise-application-platform-6.shtml</a>
</p>
<div><strong>GeeCON</strong></div>
<div><a href='http://2011.geecon.org'>http://2011.geecon.org</a></div>
<p>Hudson chez Eclipse <a href='http://www.infoq.com/news/2011/05/eclipse-hudson'>http://www.infoq.com/news/2011/05/eclipse-hudson</a>
</p>
<div><strong>Google I/O</strong></div>
<div>Google App Engine</div>
<div><a href='http://googleappengine.blogspot.com/2011/05/app-engine-150-release.html'>http://googleappengine.blogspot.com/2011/05/app-engine-150-release.html</a></div>
<div><a href='http://googleappengine.blogspot.com/2011/05/year-ahead-for-google-app-engine.html'>http://googleappengine.blogspot.com/2011/05/year-ahead-for-google-app-engine.html</a></div>
<div>GWT</div>
<a href='http://code.google.com/p/google-web-toolkit/wiki/BeanValidation'>http://code.google.com/p/google-web-toolkit/wiki/BeanValidation</a>
<div><strong>Nous contacter</strong></div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
