---
title: 'Les Cast Codeurs Podcast - Episode 48 - Doctor Love is back wazzaaaaaaaa'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 48
mp3_length: 45270924
---
<p>Enregistré le 24 octobre 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-48.mp3'>LesCastCodeurs-Episode–48.mp3</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<h2 id='news'>News</h2>
<h3 id='lescastcodeurs'>Les cast codeurs</h3>
<a href='http://twitter.com/emmanuelbernard'>@emmanuelbernard</a>
<a href='http://twitter.com/glaforge'>@glaforge</a>
<a href='http://twitter.com/vmassol'>@vmassol</a>
<a href='http://twitter.com/agoncal'>@agoncal</a>
<h3 id='linformatiqueendeuille'>L’informatique endeuillée</h3>
<p>Mort de Steve Jobs <a href='http://en.wikipedia.org/wiki/Steve_jobs'>http://en.wikipedia.org/wiki/Steve_jobs</a>
</p>
<p>Sicob <a href='http://fr.wikipedia.org/wiki/Sicob'>http://fr.wikipedia.org/wiki/Sicob</a>
</p>
<p>Mort de Dennis Richie <a href='http://en.wikipedia.org/wiki/Dennis_Ritchie'>http://en.wikipedia.org/wiki/Dennis_Ritchie</a>
</p>
<h3 id='rivieradev'>RivieraDEV</h3>
<p>RivieraDEV <a href='http://rivieradev.fr/'>http://rivieradev.fr/</a>
</p>
<p>Dart <a href='http://www.dartlang.org/'>http://www.dartlang.org/</a>
</p>
<p>Ceylon <a href='http://relation.to/Tutorials/IntroductionToCeylon'>http://relation.to/Tutorials/IntroductionToCeylon</a>
</p>
<p>CoffeeScript <a href='http://coffeescript.org/'>http://coffeescript.org/</a>
</p>
<p>Scala <a href='http://www.scala-lang.org/'>http://www.scala-lang.org/</a>
</p>
<p>OPA <a href='http://en.wikipedia.org/wiki/Opa_(programming_language)'>http://en.wikipedia.org/wiki/Opa_(programming_language)</a>
</p>
<p>Akka <a href='http://akka.io/'>http://akka.io/</a>
</p>
<p>GWT <a href='http://code.google.com/intl/fr/webtoolkit/'>http://code.google.com/intl/fr/webtoolkit/</a>
</p>
<p>Jenkins <a href='http://jenkins-ci.org/'>http://jenkins-ci.org/</a>
</p>
<p>CloudBees <a href='http://www.cloudbees.com/'>http://www.cloudbees.com/</a>
</p>
<p>GitHub <a href='https://github.com/'>https://github.com/</a>
</p>
<p>How GitHub works <a href='http://zachholman.com/posts/how-github-works-hours/'>http://zachholman.com/posts/how-github-works-hours/</a>
</p>
<p>XWiki <a href='http://www.xwiki.com/xwiki/bin/view/Home/WebHome'>http://www.xwiki.com/xwiki/bin/view/Home/WebHome</a>
</p>
<h3 id='autres'>Autres</h3>
<p>JCP.next JSR 348 <a href='http://jcp.org/en/jsr/detail?id=348'>http://jcp.org/en/jsr/detail?id=348</a>
</p>
<p>Site web Bean Validation <a href='http://beanvalidation.org'>http://beanvalidation.org</a>
</p>
<p>Alache TomEE <a href='http://openejb.apache.org/apache-tomee.html'>http://openejb.apache.org/apache-tomee.html</a>
</p>
<p>Demarrage des serveurs d’app <a href='http://agoncal.wordpress.com/2011/10/20/o-java-ee-6-application-servers-where-art-thou/'>http://agoncal.wordpress.com/2011/10/20/o-java-ee-6-application-servers-where-art-thou/</a>
</p>
<p>Annonce securite JBoss AS <a href='http://community.jboss.org/blogs/mjc/2011/10/20/statement-regarding-security-threat-to-jboss-application-server'>http://community.jboss.org/blogs/mjc/2011/10/20/statement-regarding-security-threat-to-jboss-application-server</a>
</p>
<p>Un debat sur Scala est-il dur? <a href='http://goodstuff.im/yes-virginia-scala-is-hard'>http://goodstuff.im/yes-virginia-scala-is-hard</a> <a href='http://www.infoq.com/articles/barriers-to-scala-adoption'>http://www.infoq.com/articles/barriers-to-scala-adoption</a>
</p>
<h2 id='lesmainsdanslecambouis'>Les mains dans le cambouis</h2>
<p>Entrez dans le monde des devops avec Vagrant, Veewee, Puppet, Geppetto : <a href='http://blog.aheritier.net/setup-your-devops-playground-with-puppet-vagrant-co/'>http://blog.aheritier.net/setup-your-devops-playground-with-puppet-vagrant-co/</a>
</p>
<p>Puppet, pour administrer votre parc de machines (virtuelles ou non) : <a href='http://puppetlabs.com/'>http://puppetlabs.com/</a>
</p>
<p>Chef, idem, c’est une question de goût et de couleurs : <a href='http://www.opscode.com/chef/'>http://www.opscode.com/chef/</a>
</p>
<p>VirtualBox pour virtualiser vos environnements, spécialement utile pour les tests : <a href='http://www.oracle.com/technetwork/server-storage/virtualbox/'>http://www.oracle.com/technetwork/server-storage/virtualbox/</a>
</p>
<p>Vagrant, pour gérer votre catalogue de machines virtuelles : <a href='http://vagrantup.com/'>http://vagrantup.com/</a>
</p>
<p>Veewee, pour automatiser la création de vos machines virtuelles pour Vagrant afin de tester Chef ou Puppet : <a href='https://github.com/jedi4ever/veewee'>https://github.com/jedi4ever/veewee</a>
</p>
<p>Geppetto, un IDE pour Puppet : <a href='http://cloudsmith.github.com/geppetto/'>http://cloudsmith.github.com/geppetto/</a>
</p>
<p>DevOpsWeekly, une liste de diffusion hebdomadaire pour se tenir au courant des nouveautés : <a href='http://devopsweekly.com/'>http://devopsweekly.com/</a>
</p>
<h2 id='lesoutilsdelepisode'>Les outils de l’episode</h2>
<p>jsoup : faire du web scraping en deux lignes de code, en utilisant des sélecteurs style CSS 3 / jQuery <a href='http://jsoup.org/'>http://jsoup.org/</a>
</p>
<p>tangle : une librairie JavaScript pour faire des documents web “réactifs”, en faisant varier un paramètre, on voit l’influence sur d’autres parties du document <a href='http://worrydream.com/Tangle/'>http://worrydream.com/Tangle/</a>
</p>
<p>Presentation en XWiki <a href='http://extensions.xwiki.org/xwiki/bin/view/Extension/Presentation+Application'>http://extensions.xwiki.org/xwiki/bin/view/Extension/Presentation+Application</a>
</p>
<h2 id='jugs'>JUGs</h2>
<p>FinistJUG <a href='http://finistjug.fr/'>http://finistjug.fr/</a>
</p>
<p>LavaJUG <a href='http://www.lavajug.org'>http://www.lavajug.org</a>
</p>
<p>YaJUG <a href='http://www.yajug.org'>http://www.yajug.org</a>
</p>
<p>SpringOne 2GX <a href='http://www.springone2gx.com/conference/chicago/2011/10/home'>http://www.springone2gx.com/conference/chicago/2011/10/home</a>
</p>
<p>JUDCon <a href='http://www.jboss.org/events/JUDCon/2011/london'>http://www.jboss.org/events/JUDCon/2011/london</a>
</p>
<p>Devoxx <a href='http://www.devoxx.com'>http://www.devoxx.com</a>
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
