---
title: 'Les Cast Codeurs Podcast - Episode 47 - JavaOne 2011 Le retour ?'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 47
mp3_length: 36663288
---
<p>Enregistré le 4 octobre 2011, bien trop tôt le matin
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-47.mp3'>LesCastCodeurs-Episode–47.mp3</a>
</p>
<h2 id='invits'>Invités</h2>
<h3 id='fredsimon'>Fred simon</h3>
<p>@freddy33 <a href='http://twitter.com/freddy33'>http://twitter.com/freddy33</a>
</p>
<p>Blog <a href='http://freddy33.blogspot.com/'>http://freddy33.blogspot.com/</a>
</p>
<p>JFrog et Artifactory <a href='http://www.jfrog.com/'>http://www.jfrog.com/</a>
</p>
<h3 id='sachalabourey'>Sacha Labourey</h3>
<p>@sachalabourey <a href='http://twitter.com/sachalabourey'>http://twitter.com/sachalabourey</a>
</p>
<p>Blog <a href='http://sacha.labourey.com/'>http://sacha.labourey.com/</a>
</p>
<p>Reine des abeilles à CloudBees <a href='http://www.cloudbees.com/'>http://www.cloudbees.com/</a>
</p>
<h2 id='news'>News</h2>
<p>Nouvelles générales <a href='http://blogs.oracle.com/otn/entry/the_most_exciting_oracle_openworld'>http://blogs.oracle.com/otn/entry/the_most_exciting_oracle_openworld</a>
</p>
<h3 id='oraclenosql'>Oracle NoSQL</h3>
<p>Home <a href='http://www.oracle.com/technetwork/database/nosqldb/overview/index.html'>http://www.oracle.com/technetwork/database/nosqldb/overview/index.html</a>
</p>
<p>White paper <a href='http://www.oracle.com/technetwork/database/nosqldb/learnmore/nosql-database-498041.pdf'>http://www.oracle.com/technetwork/database/nosqldb/learnmore/nosql-database-498041.pdf</a>
</p>
<p>Berkeley DB <a href='http://fr.wikipedia.org/wiki/Berkeley_DB'>http://fr.wikipedia.org/wiki/Berkeley_DB</a>
</p>
<h3 id='neutrinosplusvitequelalumire'>Neutrinos plus vite que la lumière?</h3>
<a href='http://www.sciencesetavenir.fr/fondamental/20110923.OBS0935/physique-des-neutrinos-plus-rapides-que-la-lumiere.html'>http://www.sciencesetavenir.fr/fondamental/20110923.OBS0935/physique-des-neutrinos-plus-rapides-que-la-lumiere.html</a>
<h3 id='oraclepaas'>Oracle PaaS</h3>
<a href='http://cloud.oracle.com'>http://cloud.oracle.com</a>
<h3 id='java8'>Java 8</h3>
<p>Java 8 <a href='http://pro.01net.com/editorial/543228/javaone-2011-oracle-eclaire-l-avenir-de-java/'>http://pro.01net.com/editorial/543228/javaone-2011-oracle-eclaire-l-avenir-de-java/</a>
</p>
<p>Jigsaw <a href='http://openjdk.java.net/projects/jigsaw/'>http://openjdk.java.net/projects/jigsaw/</a>
</p>
<p>Analyze de Jigsaw (d’il y a un an) <a href='http://blog.ippon.fr/2010/12/02/java-module-ou-la-disparition-du-classpath/'>http://blog.ippon.fr/2010/12/02/java-module-ou-la-disparition-du-classpath/</a>
</p>
<p>IBM sort son JDK 7 <a href='http://www.journaldunet.com/developpeur/java-j2ee/ibm-jdk-7-java-et-multithread-1011.shtml'>http://www.journaldunet.com/developpeur/java-j2ee/ibm-jdk-7-java-et-multithread-1011.shtml</a>
</p>
<h3 id='javafx'>JavaFX</h3>
<a href='http://javafx.com/'>http://javafx.com/</a>
<h3 id='dukeawards'>Duke awards</h3>
<p>Netty <a href='http://www.jboss.org/netty'>http://www.jboss.org/netty</a>
</p>
<p>Arquillian <a href='http://www.jboss.org/arquillian'>http://www.jboss.org/arquillian</a>
</p>
<p>Artifactory <a href='http://www.jfrog.com/'>http://www.jfrog.com/</a>
</p>
<h3 id='lesrachats'>Les rachats</h3>
<p>Adobe rachete TypeKit <a href='http://blog.typekit.com/2011/10/03/adobe-acquires-typekit/'>http://blog.typekit.com/2011/10/03/adobe-acquires-typekit/</a>
</p>
<p>Adobe rachete PhoneGap <a href='http://blogs.nitobi.com/andre/index.php/2011/10/03/nitobi-enters-into-acquisition-agreement-with-adobe/'>http://blogs.nitobi.com/andre/index.php/2011/10/03/nitobi-enters-into-acquisition-agreement-with-adobe/</a>
</p>
<p>BitBucket ajoute le support Git <a href='http://blog.bitbucket.org/2011/10/03/bitbucket-now-rocks-git/'>http://blog.bitbucket.org/2011/10/03/bitbucket-now-rocks-git/</a>
</p>
<p>Red Hat rachete Gluster <a href='http://www.redhat.com/promo/storage/'>http://www.redhat.com/promo/storage/</a>
</p>
<h3 id='jetbrainssortunidedevelopmentweb'>JetBrains sort un IDE development web</h3>
<p>Astella <a href='http://blogs.jetbrains.com/idea/2011/10/jetbrains-introduces-astella-%E2%80%94-a-new-ide-for-actionscript-flex-air-and-html5-depelopment/'>http://blogs.jetbrains.com/idea/2011/10/jetbrains-introduces-astella-%E2%80%94-a-new-ide-for-actionscript-flex-air-and-html5-depelopment/</a>
</p>
<p>SaSS <a href='http://sass-lang.com/'>http://sass-lang.com/</a>
</p>
<p>{less} <a href='http://lesscss.org/'>http://lesscss.org/</a>
</p>
<h3 id='cloudbees'>CloudBees</h3>
<p>CloudBees sort PaaS JavaEE <a href='http://www.infoq.com/news/2011/10/cloudbees-jeewp-ga'>http://www.infoq.com/news/2011/10/cloudbees-jeewp-ga</a>
</p>
<p>Jenkins Developer conference <a href='http://www.cloudbees.com/jenkins-user-conference-2011.cb'>http://www.cloudbees.com/jenkins-user-conference-2011.cb</a>
</p>
<h3 id='googlesortoutildetestsdejavascript'>Google sort outil de tests de JavaScript</h3>
<p>Google JS Test <a href='http://code.google.com/p/google-js-test/'>http://code.google.com/p/google-js-test/</a>
</p>
<h3 id='googleproposeunnouveulangagedart'>Google propose un nouveu langage Dart</h3>
<p>Dart <a href='http://en.wikipedia.org/wiki/Dart_(programming_language)'>http://en.wikipedia.org/wiki/Dart_(programming_language)</a>
</p>
<p>Scala c’est dur? <a href='http://goodstuff.im/yes-virginia-scala-is-hard'>http://goodstuff.im/yes-virginia-scala-is-hard</a>
</p>
<p>L’histoire derriere Yes, Virginia <a href='http://fr.wikipedia.org/wiki/Yes,_Virginia,_there_is_a_Santa_Claus'>http://fr.wikipedia.org/wiki/Yes,_Virginia,_there_is_a_Santa_Claus</a>
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
