---
title: 'Les Cast Codeurs Podcast - Episode 44 - Mains dans le cambouis et outils a gogo'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 44
mp3_length: 41217567
---
<p>Enregistre le 4 aout 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-44.mp3'>LesCastCodeurs-Episode-44.mp3</a>
</p>
<h1 id='news'>News</h1>
<h2 id='java7'>Java 7</h2>
<p>Le bug des compilations de loop dans HotSpot
</p>
<a href='http://www.lucidimagination.com/blog/2011/07/28/dont-use-java-7-for-anything/'>http://www.lucidimagination.com/blog/2011/07/28/dont-use-java-7-for-anything/</a>
<a href='http://www.infoq.com/news/2011/08/java7-hotspot'>http://www.infoq.com/news/2011/08/java7-hotspot</a>
<h2 id='kotlin'>Kotlin</h2>
<p>Site web Kotlin <a href='http://confluence.jetbrains.net/display/Kotlin/Kotlin'>http://confluence.jetbrains.net/display/Kotlin/Kotlin</a>
</p>
<p>Stephen Colebourne <a href='http://www.jroller.com/scolebourne/entry/reversed_type_declarations'>http://www.jroller.com/scolebourne/entry/reversed_type_declarations</a> et <a href='http://www.jroller.com/scolebourne/entry/kotlin_and_the_search_for'>http://www.jroller.com/scolebourne/entry/kotlin_and_the_search_for</a>
</p>
<p>Les motivations derriere Kotlin <a href='http://blog.jetbrains.com/kotlin/2011/08/why-jetbrains-needs-kotlin/'>http://blog.jetbrains.com/kotlin/2011/08/why-jetbrains-needs-kotlin/</a>
</p>
<h2 id='cast-it'>Cast-IT</h2>
<p>Cast-IT <a href='http://www.cast-it.fr'>http://www.cast-it.fr</a>
</p>
<p>Mix-IT <a href='http://www.mix-it.fr/'>http://www.mix-it.fr/</a>
</p>
<h2 id='devoxx'>Devoxx</h2>
<p>Les oeufs de Paques de Devoxx <a href='http://www.devoxx.com/display/DV11/Home'>http://www.devoxx.com/display/DV11/Home</a>
</p>
<h2 id='google'>Google</h2>
<p>Le blog d’un ancien de Google <a href='http://rethrick.com/#waving-goodbye'>http://rethrick.com/#waving-goodbye</a>
</p>
<p>Le BileBlog <a href='http://www.bileblog.org'>http://www.bileblog.org</a>
</p>
<p>Google+ <a href='http://plus.google.com'>http://plus.google.com</a>
</p>
<p>Google Code et Git <a href='http://www.blog-nouvelles-technologies.fr/archives/5344/google-code-annonce-son-support-a-git/'>http://www.blog-nouvelles-technologies.fr/archives/5344/google-code-annonce-son-support-a-git/</a>
</p>
<h2 id='jbossas7'>JBoss AS 7</h2>
<a href='http://www.jboss.org/as7.html'>http://www.jboss.org/as7.html</a>
<h2 id='nabaztagestmortvivenabaztag'>Nabaztag est mort, vive Nabaztag !</h2>
<p>Arrêt des serveurs suite à la mise en liquidation judiciaire de Mindscape qui ne pouvait plus payer son prestataire
</p>
<a href='http://blog.karotz.com/?p=5224'>http://blog.karotz.com/?p=5224</a>
<a href='http://blog.karotz.com/?p=5284'>http://blog.karotz.com/?p=5284</a>
<p>Le lapin reprendra t’il vie avec la communauté ? <a href='http://nabaztag.forumactif.fr'>http://nabaztag.forumactif.fr</a>
</p>
<h1 id='lesmainsdanslecambouis'>Les mains dans le cambouis</h1>
<h2 id='sitesstatiques'>Sites “statiques”</h2>
<p>Awestruct <a href='http://awestruct.org'>http://awestruct.org</a>
</p>
<p>Jekyll <a href='https://github.com/mojombo/jekyll/wiki'>https://github.com/mojombo/jekyll/wiki</a>
</p>
<p>Sass <a href='http://sass-lang.com/'>http://sass-lang.com/</a>
</p>
<p>Markdown <a href='http://daringfireball.net/projects/markdown/'>http://daringfireball.net/projects/markdown/</a>
</p>
<p>W3Schools <a href='http://www.w3schools.com/'>http://www.w3schools.com/</a>
</p>
<h2 id='lesprotocolesdeserialization'>Les protocoles de serialization</h2>
<p>Google Protocol Buffer <a href='http://code.google.com/p/protobuf/'>http://code.google.com/p/protobuf/</a>
</p>
<p>Apache Avro <a href='http://avro.apache.org/'>http://avro.apache.org/</a>
</p>
<p>MessagePack <a href='http://msgpack.org/'>http://msgpack.org/</a>
</p>
<p>JSON <a href='http://fr.wikipedia.org/wiki/JavaScript_Object_Notation'>http://fr.wikipedia.org/wiki/JavaScript_Object_Notation</a>
</p>
<p>BSON <a href='http://bsonspec.org/'>http://bsonspec.org/</a>
</p>
<p>Apache Thrift <a href='http://thrift.apache.org/'>http://thrift.apache.org/</a>
</p>
<p>JBoss Marshalling <a href='http://www.jboss.org/jbossmarshalling'>http://www.jboss.org/jbossmarshalling</a>
</p>
<p>Comparaison <a href='http://www.igvita.com/2011/08/01/protocol-buffers-avro-thrift-messagepack/'>http://www.igvita.com/2011/08/01/protocol-buffers-avro-thrift-messagepack/</a>
</p>
<h2 id='outilsdelpisode'>Outils de l’épisode</h2>
<p>BalsamiQ <a href='http://balsamiq.com/'>http://balsamiq.com/</a>
</p>
<p>Gliffy <a href='http://www.gliffy.com/'>http://www.gliffy.com/</a>
</p>
<p>Dia <a href='http://projects.gnome.org/dia/'>http://projects.gnome.org/dia/</a>
</p>
<p>OmniGraffle <a href='http://www.omnigroup.com/products/omnigraffle/'>http://www.omnigroup.com/products/omnigraffle/</a>
</p>
<h1 id='conferences'>Conferences</h1>
<p>JUG Summer camp le 16 septembre à la Rochelle <a href='http://sites.google.com/site/jugsummercamp/'>http://sites.google.com/site/jugsummercamp/</a>
</p>
<p>OpenWorldForum 22 et 23 septembre à Paris <a href='http://www.openworldforum.org/'>http://www.openworldforum.org/</a>
</p>
<p>JavaOne 2011 du 2 au 6 octobre à San Francisco <a href='http://www.oracle.com/javaone/index.html'>http://www.oracle.com/javaone/index.html</a>
</p>
<p>Riviera Dev les 20 et 21 octobre à Sophia Antipolis <a href='http://rivieradev.fr/'>http://rivieradev.fr/</a>
</p>
<p>Devoxx 14 au 18 novembre à Anvers <a href='http://www.devoxx.com/display/DV11/Home'>http://www.devoxx.com/display/DV11/Home</a>
</p>
<h1 id='nouscontacter'>Nous contacter</h1>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
