---
title: 'Les Cast Codeurs Podcast - Episode 38 - Special Snowcamp 2011'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 38
mp3_length: 49678011
---
<p>Enregistre le 2 avril 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-38.mp3'>LesCastCodeurs-Episode-38.mp3</a>
</p>
<div>Les photos du SnowCamp, merci a Ludovic <a href='http://www.flickr.com/photos/ludovicpoitou/sets/72157626296598883/'>http://www.flickr.com/photos/ludovicpoitou/sets/72157626296598883/</a></div>
<p>Grolle <a href='http://fr.wikipedia.org/wiki/Grole'>http://fr.wikipedia.org/wiki/Grole</a>
</p>
<div>Emmanuel Bernard - JBoss by Red Hat</div>
<div>Henry Gomez - eXo Platform</div>
<div>Mathilde Lemée - Independant</div>
<div>Ludovic Poitou ForgeRock</div>
<div>Julien Viet - eXo Platform</div>
<div>Christophe Laprun - JBoss by Red Hat</div>
<div>Alain Defrance - eXo Platform</div>
<div>Miguel Moquillon - Silverpeas</div>
<div>Arnaud Heritier - eXo Platform</div>
<div>Emmanuel Hugonet - Silverpeas</div>
<div>Jean-Laurent Morlhon - Xebia</div>
<div>Paul Sandoz - CloudBees</div>
<div>Vincent Massol - XWiki</div>
<div>Jean-Baptiste Lemée - Independant</div>
<p>Emmanuel Lécharny - Iktek
</p>
<div><strong>Threads coûteux ou pas?</strong></div>
<p>NIO Mailinator <a href='http://mailinator.blogspot.com/2008/02/kill-myth-please-nio-is-not-faster-than.html'>http://mailinator.blogspot.com/2008/02/kill-myth-please-nio-is-not-faster-than.html</a>
</p>
<div><strong>Multi Tenancy</strong></div>
<p>Green thread <a href='http://en.wikipedia.org/wiki/Green_threads'>http://en.wikipedia.org/wiki/Green_threads</a>
</p>
<strong>EE 7 </strong>
<div><strong>Teletravail</strong></div>
<div>Presentation TED <span style='font-family: Helvetica;'><a href='http://ted.com/talks/jason_fried_why_work_doesn_t_happen_at_work.html'>http://ted.com/talks/jason_fried_why_work_doesn_t_happen_at_work.html</a></span></div>
<p>No meeting always beats meeting <a href='http://blog.emmanuelbernard.com/2010/05/no-meeting-always-beats-meeting/'>http://blog.emmanuelbernard.com/2010/05/no-meeting-always-beats-meeting/</a>
</p>
<div><strong>Source de nouvelles</strong></div>
<div>twitter <a href='http://twitter.com'>twitter.com</a></div>
<p>DZone <a href='http://www.dzone.com'>http://www.dzone.com</a>
</p>
<strong>Pourquoi vient-on au SnowCamp </strong>
<strong>Nous contacter</strong>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>/div&gt;
</p>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
