---
title: 'Les Cast Codeurs Podcast - Episode 37 - J&#039;peux pas j&#039;ai piscine'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 37
mp3_length: 45513729
---
<p>Enregistré le 29 mars 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-37.mp3'>LesCastCodeurs-Episode-37.mp3</a>
</p>
<p>XWiki Entreprise 3.0 <a href='http://www.h-online.com/open/news/item/XWiki-Enterprise-3-0-released-1220159.html'>http://www.h-online.com/open/news/item/XWiki-Enterprise-3-0-released-1220159.html</a>
</p>
<div>
<div><strong>James Gosling chez Google</strong></div>
<div><a href='http://java.developpez.com/actu/30308/Le-pere-de-Java-rejoint-Google-l-embauche-de-James-Gosling-a-t-elle-un-rapport-avec-le-desaccord-entre-Google-et-Oracle-sur-Android/'>http://java.developpez.com/actu/30308/Le-pere-de-Java-rejoint-Google-l-embauche-de-James-Gosling-a-t-elle-un-rapport-avec-le-desaccord-entre-Google-et-Oracle-sur-Android/</a></div>
<a href='http://nighthacks.com/roller/jag/entry/next_step_on_the_road'>http://nighthacks.com/roller/jag/entry/next_step_on_the_road</a>
<div><strong>Java EE 7</strong></div>
<div><a href='http://www.infoq.com/news/2011/03/ee7_jsr'>http://www.infoq.com/news/2011/03/ee7_jsr</a></div>
<div><a href='http://blogs.sun.com/theaquarium/entry/java_ee_7_has_been'>http://blogs.sun.com/theaquarium/entry/java_ee_7_has_been</a></div>
<div><a href='http://blogs.sun.com/theaquarium/entry/java_ee_7_review_ballot'>http://blogs.sun.com/theaquarium/entry/java_ee_7_review_ballot</a></div>
<a href='http://blogs.sun.com/theaquarium/entry/more_java_ee_7_content'>http://blogs.sun.com/theaquarium/entry/more_java_ee_7_content</a>
<div><strong>SpringSource/VMWare rachète WaveMaker</strong></div>
<div><a href='http://www.wavemaker.com/product/'>http://www.wavemaker.com/product/</a></div>
<a href='http://blog.springsource.com/2011/03/08/vmware-acquires-wavemaker/'>http://blog.springsource.com/2011/03/08/vmware-acquires-wavemaker/</a>
<div><strong>eXo sort son Cloud-IDE</strong></div>
<div><a href='http://cloud-ide.com/'>http://cloud-ide.com/</a></div>
<div><a href='http://blog.exoplatform.org/2011/03/15/history-of-exo-cloud-ide/'>http://blog.exoplatform.org/2011/03/15/history-of-exo-cloud-ide/</a></div>
<div><a href='http://www.eweek.com/c/a/Cloud-Computing/eXo-Launches-Cloud-IDE-for-Amazon-Elastic-Beanstalk-791963/'>http://www.eweek.com/c/a/Cloud-Computing/eXo-Launches-Cloud-IDE-for-Amazon-Elastic-Beanstalk-791963/</a></div>
<div><a href='http://eu.techcrunch.com/2011/03/15/exo-platform-kicks-off-the-year-of-paas-and-extends-enterprise-portals-to-the-cloud/'>http://eu.techcrunch.com/2011/03/15/exo-platform-kicks-off-the-year-of-paas-and-extends-enterprise-portals-to-the-cloud/</a></div>
<p>Bespin renommé Skywriter puis mergé avec Ace <a href='http://mozillalabs.com/skywriter/2011/01/18/mozilla-skywriter-has-been-merged-into-ace/'>http://mozillalabs.com/skywriter/2011/01/18/mozilla-skywriter-has-been-merged-into-ace/</a>
</p>
<div><strong>Update Java Mac foire de nombreux projets</strong></div>
<div>Thread sur le google group de GAE : <a href='https://groups.google.com/forum/#!topic/google-appengine-java/WiImnzVb9Fo'>https://groups.google.com/forum/#!topic/google-appengine-java/WiImnzVb9Fo</a></div>
<div>Issue dans le bug tracker : <a href='http://code.google.com/p/googleappengine/issues/detail?id=4712'>http://code.google.com/p/googleappengine/issues/detail?id=4712</a></div>
<div>Problème avec l'intégration GWT / Eclipse : <a href='https://groups.google.com/forum/#!msg/google-web-toolkit/UrtkUZvLBgU/RNbotazE0C0J'>https://groups.google.com/forum/#!msg/google-web-toolkit/UrtkUZvLBgU/RNbotazE0C0J</a></div>
<div><a href='http://stackoverflow.com/questions/5248967/what-does-apples-update-to-java-1-6-0-24-break'>http://stackoverflow.com/questions/5248967/what-does-apples-update-to-java-1-6-0-24-break</a></div>
<p>Pacifist <a href='http://www.charlessoft.com/'>http://www.charlessoft.com/</a>
</p>
<div><strong>Programming motherfucker manifesto</strong></div>
<div><a href='http://oppugn.us/posts/1300784321.html'>http://oppugn.us/posts/1300784321.html</a></div>
<a href='http://programming-motherfucker.com/'>http://programming-motherfucker.com/</a>
<div><strong>Les JUGs et conferences</strong></div>
<div>Zenika: What's next paris le 26 et 27 mai <a href='http://whatsnextparis.com'>http://whatsnextparis.com</a></div>
<div>BreizhCamp: CAll4paper de nos amis bretons <a href='http://www.breizhcamp.org/'>http://www.breizhcamp.org/</a></div>
<p>USI 2011 <a href='http://www.universite-du-si.com'>http://www.universite-du-si.com</a>
</p>
<div><strong>Les outils qu'on utilise</strong></div>
<div>FEST-Assert <a href='http://code.google.com/p/fest/'>http://code.google.com/p/fest/</a></div>
<div>Hamcrest <a href='http://code.google.com/p/hamcrest/'>http://code.google.com/p/hamcrest/</a></div>
<p>JUnit 4 <a href='http://www.junit.org/'>http://www.junit.org/</a>
</p>
<div><strong>Les mains dans le cambouis</strong></div>
<div>Les plugins orientés UI (utilisés sur <a href='https://ci.exoplatform.org'>https://ci.exoplatform.org</a> pour vous donner une idée) :</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Dashboard+View'>http://wiki.jenkins-ci.org/display/JENKINS/Dashboard+View</a> : Pour créer des dashboards un peu plus riches pour structurer les informations (derniers builds, nombres de tests en erreurs ...).</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/ChuckNorris+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/ChuckNorris+Plugin</a> : Pour afficher les "Facts" de ChuckNorris et changer le fond de la page sur les builds en fonction de leur état.</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Compact+Columns'>http://wiki.hudson-ci.org/display/HUDSON/Compact+Columns</a> : Pour simplifier les columns avec les derniers status des jobs</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Console+Column+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Console+Column+Plugin</a> : Pour afficher une icone avec un lien vers la dernière console d'execution d'un build</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Green+Balls'>http://wiki.hudson-ci.org/display/HUDSON/Green+Balls</a> : Pour voir la vie en vert et non pas en bleu.</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Nested+View+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Nested+View+Plugin</a> : Pour gérer des sous-vues (sous onglets)</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Radiator+View+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Radiator+View+Plugin</a> : Pour afficher une vue synthétique des jobs à placer sur un écran dans les bureaux</div>
<div>Les plugins pour faciliter l'administration :</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Configuration+Slicing+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Configuration+Slicing+Plugin</a> : Pour faire du "bulk" update sur certains points de configuration des jobs</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Global+Build+Stats+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Global+Build+Stats+Plugin</a> : Pour générer des graphiques sur les statistiques d'utilisation du serveur.</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/SCM+Sync+configuration+plugin'>http://wiki.jenkins-ci.org/display/JENKINS/SCM+Sync+configuration+plugin</a> : Pour sauvegarder et versionner la configuration du serveur et de ses jobs dans un SCM (Support de SVN essentiellement aujourd'hui. Harcelez @fcamblor pour l'améliorer :-) )</div>
<div>Les plugins d'intégration aux SCM :</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Git+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Git+Plugin</a> : Git seul</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Github+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Github+Plugin</a> : Git sur GitHub</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Google+Code+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Google+Code+Plugin</a> : Google Code</div>
<div>Sans compter les dizaines d'autres et notamment les plus répandus pour SVN, ....</div>
<div>Autres plugins utiles non évoqués :</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Email-ext+plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Email-ext+plugin</a> : De très grosses améliorations par rapport au mécanisme natif de notification. Il gère le template de mails, les regles d'envois avec différents récipients en fonctions des resultats du build etc.</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Maven+Deployment+Linker'>http://wiki.hudson-ci.org/display/HUDSON/Maven+Deployment+Linker</a> : Pour afficher les liens vers les artifacts déployés par le build.</div>
<div><a href='http://wiki.jenkins-ci.org/display/JENKINS/Build-timeout+Plugin'>http://wiki.jenkins-ci.org/display/JENKINS/Build-timeout+Plugin</a> : Pour forcer l'arrêt d'un job si il dépasse un certain temps d'execution. (Attention ce dernier ne tient pas compte des postbuild tasks ce qui peut poser problème si le blocage se produit sur une tache positionner à ce niveau comme le build sonar etc).</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Sonar+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Sonar+Plugin</a> : Pour enchainer automatiquement le build sonar après un build classique</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Priority+Sorter+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Priority+Sorter+Plugin</a> : Pour donner plus de priorité à certains jobs dans la file d'attente.</div>
<div><a href='http://wiki.hudson-ci.org/display/HUDSON/Port+Allocator+Plugin'>http://wiki.hudson-ci.org/display/HUDSON/Port+Allocator+Plugin</a> : Pour éviter que des jobs d'integration soient lancés en parallele en utilisant les même ports de la machine.</div>
<div>Pour aller plus loin :</div>
<div>Le site web jenkins : <a href='http://jenkins-ci.org/'>http://jenkins-ci.org/</a></div>
<div>Un livre complet et gratuit sur Jenkins <a href='http://wakaleo.com/books/jenkins-the-definitive-guide'>http://wakaleo.com/books/jenkins-the-definitive-guide</a></div>
<div>Les news : <a href='http://twitter.com/#!/jenkinsci'>http://twitter.com/#!/jenkinsci</a></div>
<div>Une série d'articles pour créer un plugin hudson/jenkins :</div>
<div><a href='http://fcamblor.wordpress.com/2010/04/04/plugins-hudson-etape-1-la-creation-du-plugin/'>http://fcamblor.wordpress.com/2010/04/04/plugins-hudson-etape-1-la-creation-du-plugin/</a></div>
<div><a href='http://fcamblor.wordpress.com/2010/04/10/plugins-hudson-episode-2-implementer-son-premier-plugin/'>http://fcamblor.wordpress.com/2010/04/10/plugins-hudson-episode-2-implementer-son-premier-plugin/</a></div>
<div><a href='http://fcamblor.wordpress.com/2010/06/01/plugins-hudson-episode-3-des-formulaires-et-des-donnees/'>http://fcamblor.wordpress.com/2010/06/01/plugins-hudson-episode-3-des-formulaires-et-des-donnees/</a></div>
<div>Un article sur l'administration de Jenkins en utilisant la puissance de GRoooooooovy :</div>
<a href='http://bazoud.free.fr/post/2010/05/31/groovy-aime-hudson/'>http://bazoud.free.fr/post/2010/05/31/groovy-aime-hudson/</a>
<div><a href='http://bazoud.free.fr/post/2010/05/31/groovy-aime-hudson/'/><strong>Nous contacter</strong></div>
</div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
