---
title: 'Les Cast Codeurs Podcast - Episode 42 - A l&#039;USI 2011'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 42
mp3_length: 38448098
---
<p>Enregistre le 29 juin 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-42.mp3'>LesCastCodeurs-Episode-42.mp3</a>
</p>
<div>Episode 42 <a href='http://goo.gl/Ri0XS'>http://goo.gl/Ri0XS</a></div>
<div>Universite du SI <a href='http://www.universite-du-si.com/'>http://www.universite-du-si.com</a></div>
<div>Octo <a href='http://www.octo.com/?newlang=fra'>http://www.octo.com</a></div>
<div>Les videos des conférences <a href='http://www.universite-du-si.com/fr/conferences/8-paris-usi-2011/videos'>http://www.universite-du-si.com/fr/conferences/8-paris-usi-2011/videos</a></div>
<div>Start with WHY - Simon Sinek <a href='http://www.startwithwhy.com/'>http://www.startwithwhy.com/</a></div>
<div>Deb Roy <a href='http://www.ted.com/talks/deb_roy_the_birth_of_a_word.html'>http://www.ted.com/talks/deb_roy_the_birth_of_a_word.html</a></div>
<div>Ray Kurzweil <a href='http://fr.wikipedia.org/wiki/Raymond_Kurzweil'>http://fr.wikipedia.org/wiki/Raymond_Kurzweil</a></div>
<div>Singularité technologique <a href='http://fr.wikipedia.org/wiki/Singularit%C3%A9_technologique'>http://fr.wikipedia.org/wiki/Singularité_technologique</a></div>
<div>SIMD <a href='http://fr.wikipedia.org/wiki/Single_Instruction_Multiple_Data'>http://fr.wikipedia.org/wiki/Single_Instruction_Multiple_Data</a></div>
<div>MIMD <a href='http://fr.wikipedia.org/wiki/Multiple_Instructions_on_Multiple_Data'>http://fr.wikipedia.org/wiki/Multiple_Instructions_on_Multiple_Data</a></div>
<div>Challenge USI 2011 <a href='https://sites.google.com/a/octo.com/challengeusi2011/'>https://sites.google.com/a/octo.com/challengeusi2011/</a></div>
<div>LinkedIn <a href='http://www.linkedin.com/'>http://www.linkedin.com/</a></div>
<div>LHC <a href='http://fr.wikipedia.org/wiki/Large_Hadron_Collider'>http://fr.wikipedia.org/wiki/Large_Hadron_Collider</a></div>
<div>Yotta <a href='http://fr.wikipedia.org/wiki/Yotta'>http://fr.wikipedia.org/wiki/Yotta</a></div>
<div>Michel Serre <a href='http://fr.wikipedia.org/wiki/Michel_Serre'>http://fr.wikipedia.org/wiki/Michel_Serre</a></div>
<p>André Compte-Sponville <a href='http://fr.wikipedia.org/wiki/Andr%C3%A9_Comte-Sponville'>http://fr.wikipedia.org/wiki/André_Comte-Sponville</a>
</p>
<div>
<div><strong>Nous contacter</strong></div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurssur'>http://twitter.com/lescastcodeurssur</a> le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
