---
title: 'Les Cast Codeurs Podcast - Episode 49 - Devoxx 2011 les dix ans'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 49
mp3_length: 39247770
---
<p>Enregistré le 17 novembre 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-49.mp3'>LesCastCodeurs-Episode–49.mp3</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<h2 id='invits'>Invités</h2>
<p>Nicolas Martignole <a href='http://www.touilleur-express.fr/a-propos-de-lauteur/'>http://www.touilleur-express.fr/a-propos-de-lauteur/</a>
</p>
<p>Zouheir Cadi <a href='http://twitter.com/ZouheirCadi'>http://twitter.com/ZouheirCadi</a>
</p>
<h2 id='news'>News</h2>
<h3 id='rhok'>RHoK</h3>
<a href='http://www.rhok.org/'>http://www.rhok.org/</a>
<p>En Belgique le 3 et 4 décembre <a href='http://www.rhok.be/'>http://www.rhok.be/</a>
</p>
<h3 id='devoxx2011'>Devoxx 2011</h3>
<p>Infinispan <a href='http://www.jboss.org/infinispan/'>http://www.jboss.org/infinispan/</a>
</p>
<p>Cloud Foundry <a href='http://www.cloudfoundry.com/'>http://www.cloudfoundry.com/</a>
</p>
<p>Gerrit <a href='http://www.devoxx.com/display/DV11/Code+Review+with+Git+and+Gerrit'>http://www.devoxx.com/display/DV11/Code+Review+with+Git+and+Gerrit</a>
</p>
<p>Android <a href='http://www.android.com/developers/'>http://www.android.com/developers/</a>
</p>
<p>JavaFX <a href='http://javafx.com/'>http://javafx.com/</a>
</p>
<p>Play Framework <a href='http://www.playframework.org/2.0'>http://www.playframework.org/2.0</a>
</p>
<p>David Farley <a href='http://www.devoxx.com/display/DV11/David+Farley'>http://www.devoxx.com/display/DV11/David+Farley</a>
</p>
<p>Cassandra <a href='http://cassandra.apache.org/'>http://cassandra.apache.org/</a>
</p>
<p>Redis <a href='http://redis.io/'>http://redis.io/</a>
</p>
<p>MongoDB <a href='http://www.mongodb.org/'>http://www.mongodb.org/</a>
</p>
<p>Joe Nuxoll <a href='http://joeracer.blogspot.com/'>http://joeracer.blogspot.com/</a>
</p>
<p>Code story <a href='http://www.code-story.net/'>http://www.code-story.net/</a>
</p>
<h4 id='langages'>Langages</h4>
<p>Scala <a href='http://www.scala-lang.org/'>http://www.scala-lang.org/</a>
</p>
<p>Groovy <a href='http://groovy.codehaus.org/'>http://groovy.codehaus.org/</a>
</p>
<p>Ceylon <a href='http://ceylon-lang.org/'>http://ceylon-lang.org/</a>
</p>
<p>Fantom <a href='http://fantom.org/'>http://fantom.org/</a>
</p>
<p>Kotlin <a href='http://confluence.jetbrains.net/display/Kotlin/Welcome'>http://confluence.jetbrains.net/display/Kotlin/Welcome</a>
</p>
<h3 id='devoxxfrance'>Devoxx France</h3>
<p>Devoxx France du 18 au 20 avril 2012 a Paris <a href='http://www.devoxx.fr/'>http://www.devoxx.fr/</a>
</p>
<a href='http://www.touilleur-express.fr/2011/11/16/lhistoire-de-devoxx-france-2012/'>http://www.touilleur-express.fr/2011/11/16/lhistoire-de-devoxx-france-2012/</a>
<p>Startup weekend <a href='http://startupweekend.org/'>http://startupweekend.org/</a>
</p>
<h2 id='enregistrementlivedu50emeepisodeauparisjug'>Enregistrement live du 50eme episode au ParisJUG</h2>
<p>Le 13 decembre, on enregistra le 50eme épisode en direct au ParisJUG.
</p>
<p>Venez nombreux! <a href='http://parisjug.org/xwiki/bin/view/Meeting/20111213'>http://parisjug.org/xwiki/bin/view/Meeting/20111213</a>.
</p>
<p>Note pour les habitués, ça ne sera pas a l’ISEP, donc faites gaffe :)
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
