---
title: 'Les Cast Codeurs Podcast - Episode 33 - On pousse la chansonnette'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 33
mp3_length: 58437053
---
<p>Enregistre le 20 decembre 2010
</p>
<div>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-33.mp3'>LesCastCodeurs-Episode-33.mp3</a></div>
<strong>Erratum</strong>
<div>Sam Pullara <a href='http://www.linkedin.com/in/spullara'>http://www.linkedin.com/in/spullara</a></div>
<div>Stephen Colebourne <a href='http://jroller.com/scolebourne/'>http://jroller.com/scolebourne/</a></div>
<div>Cedric Beust <a href='http://beust.com'>http://beust.com</a></div>
<div>Java 7 / Java 8</div>
<span style='color: #4d4d4d; font-family: sans-serif; font-size: 12px; line-height: 17px;'><a href='http://www.infoq.com/news/2010/11/oracle-java-jsr'>http://www.infoq.com/news/2010/11/oracle-java-jsr</a> </span>
<strong>Apache et le JCP</strong>
<div>JSPA <a href='http://jcp.org/en/participation/membership'>http://jcp.org/en/participation/membership</a></div>
<div><a href='http://blogs.apache.org/foundation/entry/the_asf_resigns_from_the'>http://blogs.apache.org/foundation/entry/the_asf_resigns_from_the</a></div>
<div>Reponse Oracle <a href='http://blogs.oracle.com/henrik/2010/12/oracle_response_to_apache_departure_from_jcp.html'>http://blogs.oracle.com/henrik/2010/12/oracle_response_to_apache_departure_from_jcp.html</a></div>
<div><a href='http://blogs.oracle.com/henrik/2010/12/oracle_response_to_apache_departure_from_jcp.html'/>Tim Peierls quitte aussi le JCP</div>
<div>
<div><a href='http://www.theserverside.com/discussions/thread.tss?thread_id=61447'>http://www.theserverside.com/discussions/thread.tss?thread_id=61447</a></div>
<a href='http://tembrel.blogspot.com/2010/12/resigned-from-ec.html'>http://tembrel.blogspot.com/2010/12/resigned-from-ec.html</a>
</div>
<div>Proces contre Oracle d'un membre de l'Open Handset Alliance <a href='http://adtmag.com/blogs/watersworks/2010/12/lawsuits-are-flying.aspx'>http://adtmag.com/blogs/watersworks/2010/12/lawsuits-are-flying.aspx</a></div>
<p>Microsoft, Oracle, Apple et EMC rachetent les brevets de Novel <a href='http://www.bnet.com/blog/technology-business/microsoft-forms-a-patent-bloc-with-apple-emc-and-oracle/7432'>http://www.bnet.com/blog/technology-business/microsoft-forms-a-patent-bloc-with-apple-emc-and-oracle/7432</a>
</p>
<div>
<p>Apache Extra
</p>
<div><a href='https://blogs.apache.org/foundation/entry/the_apache_software_foundation_launches'>https://blogs.apache.org/foundation/entry/the_apache_software_foundation_launches</a></div>
<div><a href='https://blogs.apache.org/comdev/entry/why_apache_extras'>https://blogs.apache.org/comdev/entry/why_apache_extras</a></div>
<div><a href='https://blogs.apache.org/comdev/entry/who_should_use_apache_extras'>https://blogs.apache.org/comdev/entry/who_should_use_apache_extras</a></div>
</div>
<div><strong><span style='font-weight: normal;'>
</span></strong></div>
<div>
<p>Google donne WindowBuilder Pro et CodePro analytiX a Eclipse <a href='http://www.infoq.com/news/2010/12/google-donates'>http://www.infoq.com/news/2010/12/google-donates</a>
</p>
</div>
<div>
<strong>L'acquisition des PaaS</strong>
<div>Red Hat rachete Makara <a href='http://www.pcworld.com/businesscenter/article/211982/red_hat_acquires_makara.html'>http://www.pcworld.com/businesscenter/article/211982/red_hat_acquires_makara.html</a></div>
<div>Salesforce rachete Heroku <a href='http://www.salesforce.com/company/news-press/press-releases/2010/12/101208.jsp'>http://www.salesforce.com/company/news-press/press-releases/2010/12/101208.jsp</a></div>
<div>CloudBees Rachete Stax Network <a href='http://blog.cloudbees.com/2010/12/cloudbees-acquires-stax-networks.html'>http://blog.cloudbees.com/2010/12/cloudbees-acquires-stax-networks.html</a></div>
<p>Retour d'experience de Netflix sur l'IaaS <a href='http://techblog.netflix.com/2010/12/5-lessons-weve-learned-using-aws.html'>http://techblog.netflix.com/2010/12/5-lessons-weve-learned-using-aws.html</a>
</p>
</div>
<div>Google Chrome OS video</div>
<a href='http://www.youtube.com/watch?v=lm-Vnx58UYo'>http://www.youtube.com/watch?v=lm-Vnx58UYo</a>
<div><strong>JUGs et confs</strong></div>
<div>Soiree des 3 ans du ParisJUG <a href='http://www.parisjug.org/xwiki/bin/view/Meeting/20110228'>http://www.parisjug.org/xwiki/bin/view/Meeting/20110228</a></div>
<p>Montreal JUG <a href='http://www.montreal-jug.org/'>http://www.montreal-jug.org/</a>
</p>
<div><strong>Les outils de la semaine</strong></div>
<div>
<p>Bash <a href='http://www.gnu.org/software/bash/manual/bashref.html'>http://www.gnu.org/software/bash/manual/bashref.html</a>
</p>
<div>BaaS (Balance as a Service) : <a href='http://www.withings.com/en/index/?taranim=1'>http://www.withings.com/en/index/?taranim=1</a></div>
<div>Sonos http://sonos.com/Default.aspx?rdr=true&amp;LangType=1036</div>
</div>
<p>iPad <a href='http://www.apple.com/ipad/'>http://www.apple.com/ipad/</a>
</p>
<div><strong>Les mains dans le cambouis: Apache Maven 3</strong></div>
<div>
<p>Prezs :
</p>
<div><a href='http://www.slideshare.net/aheritier/lyonjug-maven-3x-will-it-live-up-to-its-promises'>http://www.slideshare.net/aheritier/lyonjug-maven-3x-will-it-live-up-to-its-promises</a></div>
<div><a href='http://www.slideshare.net/matthewmccullough/maven-30-at-oredev'>http://www.slideshare.net/matthewmccullough/maven-30-at-oredev</a></div>
<div>Wiki :</div>
<div><a href='https://cwiki.apache.org/MAVEN/maven-3x-compatibility-notes.html'>https://cwiki.apache.org/MAVEN/maven-3x-compatibility-notes.html</a></div>
<div>Blogs :</div>
<div><a href='http://www.sonatype.com/people/2010/12/whats-in-maven-3-0-for-users/'>http://www.sonatype.com/people/2010/12/whats-in-maven-3-0-for-users/</a></div>
<div><a href='http://brettporter.wordpress.com/2010/10/09/apache-maven-3-0-released-a-few-important-tips/'>http://brettporter.wordpress.com/2010/10/09/apache-maven-3-0-released-a-few-important-tips/</a></div>
<a href='http://blog.carlossanchez.eu/2010/10/11/maven-3-0-released/'>http://blog.carlossanchez.eu/2010/10/11/maven-3-0-released/</a>
</div>
<div><strong>Nous contacter</strong></div>
<div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
</div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
