---
title: 'Les Cast Codeurs Podcast - Episode 43 - OpenJDK et Java 7 avec Henri Gomez'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 43
mp3_length: 47004324
---
<p>Enregistre le 15 juillet 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-43.mp3'>LesCastCodeurs-Episode-43.mp3</a>
</p>
<p>Henri Gomez <a href='https://twitter.com/hgomez'>https://twitter.com/hgomez</a>
</p>
<p>Build OS X d’Henri <a href='http://code.google.com/p/openjdk-osx-build/'>http://code.google.com/p/openjdk-osx-build/</a>
</p>
<p>eXo Platform <a href='http://www.exoplatform.com/'>http://www.exoplatform.com</a>
</p>
<p>Soylatte <a href='http://landonf.bikemonkey.org/static/soylatte/'>http://landonf.bikemonkey.org/static/soylatte/</a>
</p>
<p>Gildas Cuisinier <a href='http://www.hikage.be/'>http://www.hikage.be/</a>
</p>
<p>JPackage <a href='http://www.jpackage.org/'>http://www.jpackage.org</a>
</p>
<p>JServ <a href='http://linux.about.com/cs/linux101/g/jserv.htm'>http://linux.about.com/cs/linux101/g/jserv.htm</a>
</p>
<p>OpenJDK <a href='http://openjdk.java.net/'>http://openjdk.java.net/</a>
</p>
<p>IcedTea <a href='http://icedtea.classpath.org/'>http://icedtea.classpath.org</a>
</p>
<p>Harmony <a href='http://harmony.apache.org/'>http://harmony.apache.org/</a>
</p>
<p>JRocket et OpenJDK <a href='http://en.wikipedia.org/wiki/JRockit'>http://en.wikipedia.org/wiki/JRockit</a>
</p>
<p>Projet Zero <a href='http://openjdk.java.net/projects/zero/'>http://openjdk.java.net/projects/zero/</a>
</p>
<p>Liste des contributeurs OpenJDK <a href='http://db.openjdk.java.net/people'>http://db.openjdk.java.net/people</a>
</p>
<p>Pack decouverte Java 7 et plus chez Oracle <a href='http://download.oracle.com/technetwork/java/java7-kit.zip'>http://download.oracle.com/technetwork/java/java7-kit.zip</a>
</p>
<p>Julien Ponge sur Fork/Join <a href='http://www.oracle.com/technetwork/articles/java/fork-join-422606.html'>http://www.oracle.com/technetwork/articles/java/fork-join-422606.html</a>
</p>
<strong>Nous contacter</strong>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>&nbsp;</p>
