---
title: 'Les Cast Codeurs Podcast - Episode 46 - Le blog qui valait 3 milliards'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 46
mp3_length: 40953770
---
<p>Enregistré le 20 septembre 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-46.mp3'>LesCastCodeurs-Episode–46.mp3</a>
</p>
<h2 id='news'>News</h2>
<h3 id='jamesgosling'>James Gosling</h3>
<p>James Gosling frole la mort et en parle
</p>
<ul>
	<li><a href='http://nighthacks.com/roller/jag/entry/i_m_alive'>http://nighthacks.com/roller/jag/entry/i_m_alive</a></li>
	<li><a href='http://nighthacks.com/roller/jag/entry/some_more_detail'>http://nighthacks.com/roller/jag/entry/some_more_detail</a></li>
</ul>
<p>Sergey Brin on Parkinson <a href='http://too.blogspot.com/2008/09/lrrk2.html'>http://too.blogspot.com/2008/09/lrrk2.html</a>
</p>
<p>Nouveau Job de James Gosling <a href='http://nighthacks.com/roller/jag/entry/i_ve_moved_again'>http://nighthacks.com/roller/jag/entry/i_ve_moved_again</a>
</p>
<h3 id='jugsummercamp'>Jug summer camp</h3>
<a href='http://www.jugsummercamp.org/'>http://www.jugsummercamp.org/</a>
<h3 id='closures'>Closures</h3>
<p>La proposition des closures <a href='http://mail.openjdk.java.net/pipermail/lambda-dev/2011-September/003936.html'>http://mail.openjdk.java.net/pipermail/lambda-dev/2011-September/003936.html</a>
</p>
<p>Brian Goetz <a href='http://www.briangoetz.com/'>http://www.briangoetz.com/</a>
</p>
<h3 id='campagne42eme.com'>Campagne 42eme.com</h3>
<p>Le site de la campagne <a href='http://42eme.com'>http://42eme.com</a>
</p>
<h3 id='google'>Google +</h3>
<p>Google + ouvre ses APIs <a href='http://googleplusplatform.blogspot.com/2011/09/getting-started-on-google-api.html'>http://googleplusplatform.blogspot.com/2011/09/getting-started-on-google-api.html</a>
</p>
<p>Le site pour les developeurs <a href='https://developers.google.com/+/'>https://developers.google.com/+/</a>
</p>
<h3 id='googleappengine'>Google App Engine</h3>
<p>Google App Engine change ses prix <a href='http://glaforge.appspot.com/article/google-app-engine-s-new-pricing-model'>http://glaforge.appspot.com/article/google-app-engine-s-new-pricing-model</a>
</p>
<p>Quelques examples de changement de prix <a href='http://groups.google.com/group/google-appengine/browse_thread/thread/a1b7c68db2243932?pli=1'>http://groups.google.com/group/google-appengine/browse_thread/thread/a1b7c68db2243932?pli=1</a>
</p>
<h3 id='cloudfoundry'>Cloud Foundry</h3>
<p>Patrick Chanezon <a href='http://www.chanezon.com/pat/cv/'>http://www.chanezon.com/pat/cv/</a>
</p>
<p>Micro cloud foundry <a href='https://www.cloudfoundry.com/micro'>https://www.cloudfoundry.com/micro</a>
</p>
<p>Annoncement <a href='http://blog.cloudfoundry.com/post/9331377393/we-shrunk-the-cloud-introducing-micro-cloud-foundry'>http://blog.cloudfoundry.com/post/9331377393/we-shrunk-the-cloud-introducing-micro-cloud-foundry</a>
</p>
<h3 id='brevetsdanslemobile'>Brevets dans le mobile</h3>
<p>Google rachète des brevets a Motorola et les redonne / vend a HTC pour contrer les attaques d’Apple <a href='http://www.slashgear.com/htc-sues-apple-using-google-motorola-patents-07177865/'>http://www.slashgear.com/htc-sues-apple-using-google-motorola-patents-07177865/</a>
</p>
<p>HP abandonne la TouchPad <a href='http://www.itespresso.fr/hp-abandonne-la-touchpad-mais-pas-forcement-les-tablettes-46139.html'>http://www.itespresso.fr/hp-abandonne-la-touchpad-mais-pas-forcement-les-tablettes-46139.html</a>
</p>
<p>La nouvelle strategy d’HP <a href='http://online.wsj.com/article/SB10001424053111903461304576526810536821404.html'>http://online.wsj.com/article/SB10001424053111903461304576526810536821404.html</a>
</p>
<p>BeOS <a href='http://fr.wikipedia.org/wiki/BeOS'>http://fr.wikipedia.org/wiki/BeOS</a>
</p>
<p>Apple bloque la Samsung Galaxy Tab 10.1 <a href='http://www.lefigaro.fr/societes/2011/09/09/04015-20110909ARTFIG00457-apple-fait-interdire-les-galaxy-tab-de-samsung-en-allemagne.php'>http://www.lefigaro.fr/societes/2011/09/09/04015-20110909ARTFIG00457-apple-fait-interdire-les-galaxy-tab-de-samsung-en-allemagne.php</a>
</p>
<h2 id='lesmainsdanslecambouis'>Les mains dans le cambouis</h2>
<p>Flash of unstyled content <a href='http://en.wikipedia.org/wiki/Flash_of_unstyled_content'>http://en.wikipedia.org/wiki/Flash_of_unstyled_content</a>
</p>
<h2 id='lesconferences'>Les conferences</h2>
<p>OpenWorldForum 22 et 23 septembre à Paris <a href='http://www.openworldforum.org/'>http://www.openworldforum.org/</a>
</p>
<p>JavaOne 2011 du 2 au 6 octobre à San Francisco <a href='http://www.oracle.com/javaone/index.html'>http://www.oracle.com/javaone/index.html</a>
</p>
<p>Soft shake Geneve 3 et 4 octobre <a href='http://soft-shake.ch/'>http://soft-shake.ch/</a>
</p>
<p>Riviera Dev les 20 et 21 octobre à Sophia Antipolis <a href='http://rivieradev.fr/'>http://rivieradev.fr/</a>
</p>
<p>SpringOne2GX les 25 au 28 octobre <a href='http://springone2gx.com/conference/chicago/2011/10/home'>http://springone2gx.com/conference/chicago/2011/10/home</a>
</p>
<p>JUDCon 31 octobre–1er novembre à Londres <a href='http://www.jboss.org/events/JUDCon.html'>http://www.jboss.org/events/JUDCon.html</a>
</p>
<p>Devoxx 14 au 18 novembre à Anvers <a href='http://www.devoxx.com/display/DV11/Home'>http://www.devoxx.com/display/DV11/Home</a>
</p>
<h2 id='bibliotheque'>Bibliotheque</h2>
<p>Apache Maven 2eme édition aux éditions Pearson <a href='http://www.pearson.fr/livre/?GCOI=27440100487310'>http://www.pearson.fr/livre/?GCOI=27440100487310</a>
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
