---
title: 'Les Cast Codeurs Podcast - Episode 36 - Interview sur l&#039;Open Source des par et pour Les Cast Codeurs'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 36
mp3_length: 52844280
---
<div>
<p>Enregistre le 8 mars 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-36.mp3'>LesCastCodeurs-Episode-36.mp3</a>
</p>
<div><strong>Guillaume</strong></div>
<div>Groovy <a href='http://groovy.codehaus.org/'>http://groovy.codehaus.org/</a></div>
<div>Gaelyk <a href='http://gaelyk.appspot.com/'>http://gaelyk.appspot.com/</a></div>
<div>Grails <a href='http://www.grails.org/'>http://www.grails.org/</a></div>
<div>Springsource <a href='http://www.springsource.com/'>http://www.springsource.com/</a></div>
<p>VMWare <a href='http://www.vmware.com/fr/'>http://www.vmware.com/fr/</a>
</p>
<div><strong>Emmanuel</strong></div>
<div>JBoss <a href='http://www.jboss.com/'>http://www.jboss.com/</a></div>
<div>Red Hat <a href='http://www.fr.redhat.com/'>http://www.fr.redhat.com/</a></div>
<div>Hibernate * <a href='http://www.hibernate.org/'>http://www.hibernate.org/</a></div>
<div>Seam <a href='http://seamframework.org/'>http://seamframework.org/</a></div>
<div>JBoss AS <a href='http://www.jboss.org/jbossas'>http://www.jboss.org/jbossas</a></div>
<p>Infinispan <a href='http://www.jboss.org/infinispan'>http://www.jboss.org/infinispan</a>
</p>
<div><strong>Vincent</strong></div>
<div>XWiki <a href='http://www.xwiki.com'>http://www.xwiki.com</a></div>
<div>Cactus <a href='http://jakarta.apache.org/cactus/'>http://jakarta.apache.org/cactus/</a></div>
<p>Cargo <a href='http://cargo.codehaus.org/'>http://cargo.codehaus.org/</a>
</p>
<div><strong>Licences</strong></div>
<div>ASL <a href='http://www.apache.org/licenses/'>http://www.apache.org/licenses/</a></div>
<div>BSD <a href='http://fr.wikipedia.org/wiki/Licence_BSD'>http://fr.wikipedia.org/wiki/Licence_BSD</a></div>
<p>LGPL <a href='http://www.gnu.org/licenses/lgpl.html'>http://www.gnu.org/licenses/lgpl.html</a>
</p>
<strong>Nous contacter</strong>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
</div>
</div>
