---
title: 'Les Cast Codeurs Podcast - Episode 41 - Interview d&#039;Etienne Juliot sur Eclipse'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 41
mp3_length: 58046421
---
<p>Enregistre le 17 juin 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-41.mp3'>LesCastCodeurs-Episode-41.mp3</a>
</p>
<div>Etienne Juliot <a href='http://twitter.com/#!/ejuliot'>http://twitter.com/ejuliot</a></div>
<div>Obeo <a href='http://obeo.fr'>http://obeo.fr</a></div>
<div>Eclipse <a href='http://www.eclipse.org/'>http://www.eclipse.org/</a></div>
<p>MDA <a href='http://en.wikipedia.org/wiki/Model-driven_architecture'>http://en.wikipedia.org/wiki/Model-driven_architecture</a>
</p>
<div><a href='http://www.blackducksoftware.com/'>http://www.blackducksoftware.com/</a></div>
<div>Apache <a href='http://www.apache.org/'>http://www.apache.org/</a></div>
<div>Eclipse Indigo <a href='http://www.eclipse.org/indigo/'>http://www.eclipse.org/indigo/</a></div>
<div>Eclipse Gemini <a href='http://www.eclipse.org/gemini/'>http://www.eclipse.org/gemini/</a></div>
<div>Eclipse Virgo <a href='http://www.eclipse.org/virgo/'>http://www.eclipse.org/virgo/</a></div>
<div><a href='http://dash.eclipse.org/'>http://dash.eclipse.org/</a></div>
<div>Eclipse Jetty <a href='http://www.eclipse.org/jetty/'>http://www.eclipse.org/jetty/</a></div>
<div>Eclipse EclipseLink <a href='http://www.eclipse.org/eclipselink/'>http://www.eclipse.org/eclipselink/</a></div>
<div>Eclipse ECF <a href='http://www.eclipse.org/ecf/'>http://www.eclipse.org/ecf/</a></div>
<div>Eclipse RAP <a href='http://www.eclipse.org/rap/'>http://www.eclipse.org/rap/</a></div>
<div>SCA <a href='http://en.wikipedia.org/wiki/Service_Component_Architecture'>http://en.wikipedia.org/wiki/Service_Component_Architecture</a></div>
<p>SDO <a href='http://en.wikipedia.org/wiki/Service_Data_Objects'>http://en.wikipedia.org/wiki/Service_Data_Objects</a>
</p>
<div>Hudson <a href='http://mmilinkov.wordpress.com/2011/05/04/hudson-now-at-eclipse/'>http://mmilinkov.wordpress.com/2011/05/04/hudson-now-at-eclipse/</a></div>
<div>Jenkins <a href='http://jenkins-ci.org/'>http://jenkins-ci.org/</a></div>
<div>Eclipse Tycho <a href='http://www.eclipse.org/tycho/'>http://www.eclipse.org/tycho/</a></div>
<div>Eclipse Mylyn <a href='http://www.eclipse.org/mylyn/'>http://www.eclipse.org/mylyn/</a></div>
<div>Eclipse eGit <a href='http://www.eclipse.org/egit/'>http://www.eclipse.org/egit/</a></div>
<div>Eclipse jGit <a href='http://www.eclipse.org/jgit/'>http://www.eclipse.org/jgit/</a></div>
<div>Eclipse Intent <a href='http://wiki.eclipse.org/Intent'>http://wiki.eclipse.org/Intent</a></div>
<div>Eclipse Acceleo <a href='http://www.eclipse.org/acceleo/'>http://www.eclipse.org/acceleo/</a></div>
<div>Forte <a href='http://en.wikipedia.org/wiki/Forte_4GL'>http://en.wikipedia.org/wiki/Forte_4GL</a></div>
<div>JugSummerCamp <a href='http://sites.google.com/site/jugsummercamp/'>http://sites.google.com/site/jugsummercamp/</a></div>
<p>Eclipse IDE <a href='http://www.eclipse.org/home/categories/index.php?category=ide'>http://www.eclipse.org/home/categories/index.php?category=ide</a>
</p>
<div>Eclipse WTP <a href='http://www.eclipse.org/webtools/'>http://www.eclipse.org/webtools/</a></div>
<div>IntelliJ IDEA <a href='http://www.jetbrains.com/idea/'>http://www.jetbrains.com/idea/</a></div>
<div>NetBeans <a href='http://netbeans.org/'>http://netbeans.org/</a></div>
<div>Eclipse Orion <a href='http://www.eclipse.org/orion/'>http://www.eclipse.org/orion/</a></div>
<div>jQuery <a href='http://jquery.com/'>http://jquery.com/</a></div>
<div>Eclipse P2 <a href='http://www.eclipse.org/equinox/p2/'>http://www.eclipse.org/equinox/p2/</a></div>
<div>Eclipse 3.7</div>
<div>Eclipse WindowBuilder <a href='http://www.eclipse.org/windowbuilder/'>http://www.eclipse.org/windowbuilder/</a></div>
<div>NetBeans Matisse <a href='http://netbeans.org/features/java/swing.html'>http://netbeans.org/features/java/swing.html</a></div>
<div>Eclipse E4 <a href='http://www.eclipse.org/e4/'>http://www.eclipse.org/e4/</a></div>
<div>Erich Gamma <a href='http://en.wikipedia.org/wiki/Erich_Gamma'>http://en.wikipedia.org/wiki/Erich_Gamma</a></div>
<div>Jazz <a href='https://jazz.net/'>https://jazz.net/</a></div>
<p>eXo IDE <a href='http://www.exoplatform.com/company/en/resource-viewer/Getting-Started-Guide/discovering-exo-cloud-ide'>http://www.exoplatform.com/company/en/resource-viewer/Getting-Started-Guide/discovering-exo-cloud-ide</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<div>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
