---
title: 'Les Cast Codeurs Podcast - Episode 40 - What&#039;s Next Paris et la permission de minuit'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 40
mp3_length: 33383530
---
<p>Enregistre le 14 juin 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-40.mp3'>LesCastCodeurs-Episode-40.mp3</a>
</p>
<div><strong>News</strong></div>
<div>Skype racheté par Microsoft <a href='http://gigaom.com/2011/05/09/why-microsoft-is-buying-skype-for-8-billion/'>http://gigaom.com/2011/05/09/why-microsoft-is-buying-skype-for-8-billion/</a></div>
<div>Apple WWDC <a href='http://developer.apple.com/wwdc/'>http://developer.apple.com/wwdc/</a></div>
<div>iCloud <a href='http://en.wikipedia.org/wiki/ICloud'>http://en.wikipedia.org/wiki/ICloud</a></div>
<div>Mac OS X Lion <a href='http://en.wikipedia.org/wiki/Mac_OS_X_Lion'>http://en.wikipedia.org/wiki/Mac_OS_X_Lion</a></div>
<div>MobileMe <a href='http://en.wikipedia.org/wiki/MobileMe'>http://en.wikipedia.org/wiki/MobileMe</a></div>
<div>Windows 8 <a href='http://www.engadget.com/2011/06/01/microsoft-unveils-windows-8-tablet-prototypes/'>http://www.engadget.com/2011/06/01/microsoft-unveils-windows-8-tablet-prototypes/</a></div>
<div>iOS 5 <a href='http://www.apple.com/ios/ios5/'>http://www.apple.com/ios/ios5/</a></div>
<div>Terracotta racheté par Software AG <a href='http://www.theregister.co.uk/2011/05/23/software_ag_buys_terracotta/'>http://www.theregister.co.uk/2011/05/23/software_ag_buys_terracotta/</a></div>
<div>Java 7 <a href='http://www.theserverside.com/news/thread.tss?thread_id=62443'>http://www.theserverside.com/news/thread.tss?thread_id=62443</a></div>
<div>JavaFX 2 <a href='http://javafx.com/roadmap/'>http://javafx.com/roadmap/</a></div>
<div>Ouverture du JCP JSR-348 <a href='http://java.developpez.com/actu/32176/Java-Oracle-veut-faire-evoluer-le-Java-Community-Process-vers-plus-de-transparence-de-reactivite-et-d-agilite/'>http://java.developpez.com/actu/32176/Java-Oracle-veut-faire-evoluer-le-Java-Community-Process-vers-plus-de-transparence-de-reactivite-et-d-agilite/</a></div>
<div>JRockit gratuit <a href='http://java.developpez.com/actu/32336/Java-la-machine-virtuelle-JRockit-d-Oracle-devient-gratuite-pour-le-developpement-et-l-utilisation-interne-en-production/'>http://java.developpez.com/actu/32336/Java-la-machine-virtuelle-JRockit-d-Oracle-devient-gratuite-pour-le-developpement-et-l-utilisation-interne-en-production/</a></div>
<div>Open Office propose par Oracle a la fondation Apache <a href='http://adtmag.com/articles/2011/06/16/oracle-code-contribution-to-openoffice.aspx'>http://adtmag.com/articles/2011/06/16/oracle-code-contribution-to-openoffice.aspx</a></div>
<div>Jenkins rejoint la fondation SPI</div>
<div>Erich Gamma rejoint Microsoft Visual Studio <a href='http://www.infoq.com/news/2011/06/Erich-Gamma-Visual-Studio'>http://www.infoq.com/news/2011/06/Erich-Gamma-Visual-Studio</a></div>
<p>Linux dans un navigateur <a href='http://www.webmonkey.com/2011/05/yes-virginia-that-is-linux-running-on-javascript/'>http://www.webmonkey.com/2011/05/yes-virginia-that-is-linux-running-on-javascript/</a> <a href='http://bellard.org/jslinux/'>http://bellard.org/jslinux/</a>
</p>
<div><strong>What's Next</strong></div>
<div>What's Next <a href='http://www.whatsnextparis.com/'>http://www.whatsnextparis.com/</a></div>
<div>Zenika <a href='http://www.zenika.com/'>http://www.zenika.com/</a></div>
<div>CloudFoundry <a href='http://www.cloudfoundry.com/'>http://www.cloudfoundry.com/</a></div>
<div>Eclipse Orion <a href='http://www.eclipse.org/orion/'>http://www.eclipse.org/orion/</a></div>
<div>eXo Cloud IDE <a href='http://www.exoplatform.com/company/en/resource-viewer/Getting-Started-Guide/discovering-exo-cloud-ide'>http://www.exoplatform.com/company/en/resource-viewer/Getting-Started-Guide/discovering-exo-cloud-ide</a></div>
<div>WebSocket <a href='http://en.wikipedia.org/wiki/WebSockets'>http://en.wikipedia.org/wiki/WebSockets</a></div>
<div>Neal Gafter <a href='http://twitter.com/#!/gafter'>http://twitter.com/#!/gafter</a></div>
<div>Flex <a href='http://www.adobe.com/products/flex/'>http://www.adobe.com/products/flex/</a></div>
<div>BreizhCamp <a href='http://www.breizhcamp.org/'>http://www.breizhcamp.org/</a></div>
<div>Universite du SI <a href='http://www.universite-du-si.com/'>http://www.universite-du-si.com/</a></div>
<div>Eclipse DemoCamp <a href='http://wiki.eclipse.org/Eclipse_DemoCamps_Indigo_2011'>http://wiki.eclipse.org/Eclipse_DemoCamps_Indigo_2011</a></div>
<p>JUG Summer Camp <a href='http://sites.google.com/site/jugsummercamp/'>http://sites.google.com/site/jugsummercamp/</a>
</p>
<div><strong>Nous contacter</strong></div>
<div>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a></div>
<div>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a></div>
<div>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></div>
<p>Flattr-ez nous sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<div>"if you see kat" sample sous license Creative Commons <a href='http://creativecommons.org/licenses/sampling+/1.0/'>http://creativecommons.org/licenses/sampling+/1.0/</a></div>
<div><a href='http://www.freesound.org/samplesViewSingle.php?id=41021'>http://www.freesound.org/samplesViewSingle.php?id=41021</a></div>
