---
title: 'Les Cast Codeurs Podcasts - Episodes 50 - L&#039;anniversaire!'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 50
mp3_length: 41037616
---
<p>Enregistré le 13 decembre 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-50.mp3'>LesCastCodeurs-Episode–50.mp3</a>
</p>
<p>Vous pouvez retrouver une <a href='http://www.slideshare.net/emmanuelbernard/50e-des-cast-codeurs'>copie des slides sur Slideshare.net</a>.
</p>
<h3 id='les45castcodeurs'>Les 4,5 Castcodeurs</h3>
<ul>
	<li>“Cool”</li>
	<li>Eponyme</li>
	<li>Clown</li>
	<li>Dr Love</li>
	<li>Mini me</li>
</ul>
<h3 id='unptitcoupdegenerique'>Un p’tit coup de generique ?</h3>
<h3 id='lescastcodeursenchiffres'>Les Cast Codeurs en chiffres</h3>
<ul>
	<li>50 épisodes</li>
	<li>1er episode il y a 2 ans 8 mois et 1 jour</li>
	<li>85% de français</li>
	<li>et non, pas encore 85% “des” français !</li>
	<li>9440 téléchargements par mois</li>
	<li>267,42 Go sur disque dur (excluant les backups)</li>
	<li>85 blagues de Guillaume</li>
	<li>Le mot “xwiki” prononcé 5 fois par épisode en moyenne</li>
	<li>5h de Maven (c’est long)</li>
	<li>Entre 4h et 8h de travail (mixage, upload…) par √©pisode</li>
	<li>1 communauté</li>
</ul>
<h3 id='pourquoifait-onlescastcodeurs'>Pourquoi fait-on les cast codeurs?</h3>
<h3 id='pourquoicoutez-vouslescastcodeurs'>Pourquoi écoutez-vous les Cast Codeurs?</h3>
<ol>
	<li>Besoin d’amis</li>
	<li>Je n’écoute pas en fait</li>
	<li>Ca m’aide à m’endormir</li>
	<li>Pour la couverture des nouvelles</li>
	<li>Pour les interview sur les technos spécifiques</li>
	<li>Parce que vous racontez n’importe quoi on peut pas vous laisser dire ces choses de manière impunie</li>
</ol>
<h3 id='quites-vous'>Qui êtes-vous?</h3>
<ol>
	<li>Indep</li>
	<li>Petite boîte tech</li>
	<li>Essessedeuzie</li>
	<li>Editeur logiciel</li>
	<li>Tech dans une boîte “normale”</li>
	<li>Public ou para-public</li>
	<li>Etudiants</li>
</ol>
<h3 id='bilananne2011'>Bilan année 2011</h3>
<ul>
	<li>Scala Kotlin Ceylon Dart Fantom</li>
	<li>cloudfoundry openshift Google App Engine</li>
	<li>programming motherfucker</li>
	<li>Mobile (procès, android, iOS, WebOS)</li>
	<li>JSR–348</li>
	<li>La grolle!</li>
	<li>GitHub</li>
	<li>jenkins vs hudson</li>
</ul>
<h3 id='lafindunerepourlopen-source'>La fin d’une ère pour l’open-source ?</h3>
<h3 id='etvousquest-cequivousamarquen2011'>Et vous, qu’est-ce qui vous a marqué en 2011 ?</h3>
<h3 id='aideznousprdire2012'>Aidez nous à prédire 2012?</h3>
<h3 id='quellangagevatuerjava'>Quel langage va tuer Java ?</h3>
<ol>
	<li>Groovy</li>
	<li>Grovvy</li>
	<li>Grrrrovy</li>
	<li>Grou Vi</li>
	<li>Grrrr Ouvy</li>
	<li>Gr OooVI</li>
	<li>GROUVI</li>
	<li>GrOuVy</li>
	<li>D’autres idées ?</li>
</ol>
<h3 id='dansquellanguagecodezvous'>Dans quel language codez vous?</h3>
<ol>
	<li>Java</li>
	<li>Groovy</li>
	<li>Scala</li>
	<li>Python</li>
	<li>Perl</li>
	<li>C</li>
	<li>C++</li>
	<li>Powerpoint (le code, c’est sale !)</li>
</ol>
<h3 id='questcequiseracoolen2012'>Qu’est ce qui sera “cool” en 2012 ?</h3>
<ol>
	<li>XWiki, Groovy et¬†Hibernate OGM, Jenkins of course…</li>
	<li>Des mitaines</li>
	<li>Le dernier film de Chuck Norris</li>
</ol>
<h3 id='quiremplaceraspring'>Qui remplacera Spring ?</h3>
<ul>
	<li>Java EE</li>
</ul>
<h3 id='quelwikidominera2012'>Quel wiki dominera 2012 ?</h3>
<ol>
	<li>Twiki</li>
	<li>DocuWiki</li>
	<li>XWiki</li>
	<li>Friki</li>
	<li>Eponyme</li>
	<li>Git-Wiki</li>
	<li>Gollum</li>
	<li>JSP</li>
	<li>ZWiki</li>
	<li>Atlassian Confluence</li>
	<li>eXo Wiki</li>
</ol>
<p>Page sponsorisée par la société XWiki
</p>
<h3 id='lefwkwebdufutur'>Le fwk web du futur</h3>
<ol>
	<li>Grails</li>
	<li>Wicket</li>
	<li>GWT</li>
	<li>Hamlets</li>
	<li>IceFaces</li>
	<li>JSF</li>
	<li>JBoss Seam</li>
	<li>Apache Shale</li>
	<li>Play !</li>
	<li>Spring MVC</li>
	<li>Vaadin</li>
	<li>WebWorks</li>
	<li>Struts 3</li>
	<li>Stripes</li>
	<li>Spring Webflow</li>
	<li>Flex</li>
	<li>Tapestry</li>
	<li>Rails</li>
	<li>add your own</li>
</ol>
<h3 id='etvousquavez-vousenviededcouvrirouapprofondiren2012'>Et vous, qu’avez-vous envie de découvrir ou approfondir en 2012 ?</h3>
<h3 id='devoxxfrance'>Devoxx France</h3>
<p>Cool, bon, bah on se revoit pour Devoxx France avec des bières Atlassian
</p>
<h3 id='allerencoreunptitcoupdegnrique'>Aller, encore un p’tit coup de générique ?</h3>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
