---
title: 'Les Cast Codeurs Podcast - Episode 45 - Methodes agiles avec Jean-Laurent de Morlhon et Arnaud Heritier'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 45
mp3_length: 55835954
---
<p>Enregistré le 25 aout 2011
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-45.mp3'>LesCastCodeurs-Episode–45.mp3</a>
</p>
<h2 id='invits'>Invités</h2>
<h3 id='jean-laurentdemorlhon'>Jean-Laurent de Morlhon</h3>
<p>Blog : <a href='http://blog.xebia.fr/author/jlmorlhon'>http://blog.xebia.fr/author/jlmorlhon</a>
</p>
<p>Blog (bis) : <a href='http://morlhon.net/blog'>http://morlhon.net/blog</a>
</p>
<p>twitter : <a href='http://twitter.com/morlhon'>@morlhon</a>
</p>
<p>email : jeanlaurent@morlhon.net
</p>
<p>Xebia <a href='http://www.xebia.fr/'>http://www.xebia.fr/</a>
</p>
<h3 id='arnaudhritier'>Arnaud Héritier</h3>
<p>Blog : <a href='http://blog.aheritier.net'>http://blog.aheritier.net</a>
</p>
<p>Twitter : <a href='http://twitter.com/aheritier'>@aheritier</a>
</p>
<p>eXo Platform <a href='http://www.exoplatform.com'>http://www.exoplatform.com</a>
</p>
<h2 id='methodesagiles'>Methodes agiles</h2>
<p>Agile Manifesto <a href='http://agilemanifesto.org/iso/fr/'>http://agilemanifesto.org/iso/fr/</a>
</p>
<p>eXtreme Programming <a href='http://fr.wikipedia.org/wiki/Extreme_programming'>http://fr.wikipedia.org/wiki/Extreme_programming</a>
</p>
<p>Test Driven Development <a href='http://fr.wikipedia.org/wiki/Test_Driven_Development'>http://fr.wikipedia.org/wiki/Test_Driven_Development</a>
</p>
<p>Pair Programming <a href='http://en.wikipedia.org/wiki/Pair_programming'>http://en.wikipedia.org/wiki/Pair_programming</a>
</p>
<p>Bouquin/ebook sur XP <a href='http://www.amazon.fr/Extreme-Programming-Kent-Beck/dp/2744014338'>http://www.amazon.fr/Extreme-Programming-Kent-Beck/dp/2744014338</a>
</p>
<p>Scrum <a href='http://fr.wikipedia.org/wiki/Scrum_(méthode)'>http://fr.wikipedia.org/wiki/Scrum_(méthode)</a>
</p>
<p>Scrum Alliance <a href='http://www.scrumalliance.org/'>http://www.scrumalliance.org/</a>
</p>
<p>Scrum <a href='http://scrum.org'>http://scrum.org</a>
</p>
<p>Bouquin/ebook sur Scrum <a href='http://www.infoq.com/minibooks/scrum-xp-from-the-trenches'>http://www.infoq.com/minibooks/scrum-xp-from-the-trenches</a>
</p>
<p>(Rational) Unified Process <a href='http://en.wikipedia.org/wiki/Unified_Process'>http://en.wikipedia.org/wiki/Unified_Process</a>
</p>
<p>Kanban <a href='http://en.wikipedia.org/wiki/Kanban'>http://en.wikipedia.org/wiki/Kanban</a>
</p>
<p>Bouquin qui parle Scrum &amp; Kanban <a href='http://www.infoq.com/minibooks/kanban-scrum-minibook'>http://www.infoq.com/minibooks/kanban-scrum-minibook</a>
</p>
<p>Programming Motherfucker <a href='http://oppugn.us/posts/1300784321.html'>http://oppugn.us/posts/1300784321.html</a>
</p>
<p>Article de ZedShaw (le type derriere Programming MF) sur la communauté ruby <a href='http://techcrunch.com/2008/01/01/zed-shaw-puts-the-smack-down-on-the-rails-community/'>http://techcrunch.com/2008/01/01/zed-shaw-puts-the-smack-down-on-the-rails-community/</a>
</p>
<p>Software Carftmanship <a href='http://manifesto.softwarecraftsmanship.org/'>http://manifesto.softwarecraftsmanship.org/</a>
</p>
<p>Article sur le craftsmanship <a href='http://blog.xebia.fr/2011/01/31/software-craftsmanship-en-pratique/'>http://blog.xebia.fr/2011/01/31/software-craftsmanship-en-pratique/</a>
</p>
<p>The standish group <a href='http://blog.standishgroup.com/'>http://blog.standishgroup.com/</a>
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
