---
title: 'Les Cast Codeurs Podcast - Episode 56 - Interview Ceylon avec Stephane Epardaud et Emmanuel Bernard'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 56
mp3_length: 55342214
---
<p>Enregistré le 27 mars 2012
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-56.mp3'>LesCastCodeurs-Episode–56.mp3</a>
</p>
<h2 id='interview'>Interview</h2>
<p>Julien Ponge
</p>
<ul>
	<li><a href='http://julien.ponge.info/'>Site</a></li>
	<li><a href='https://twitter.com/jponge'>@jponge</a></li>
	<li><a href='http://izpack.org/'>izpack</a></li>
</ul>
<p>Stephane Epardaud
</p>
<ul>
	<li><a href='http://stephane.epardaud.fr/'>Site</a></li>
	<li><a href='https://profiles.google.com/stephane.epardaud'>Google+</a></li>
</ul>
<p>Emmanuel Bernard
</p>
<ul>
	<li>Site <a href='http://emmanuelbernard.com'>http://emmanuelbernard.com</a></li>
	<li>Blog <a href='http://blog.emmanuelbernard.com'>http://blog.emmanuelbernard.com</a></li>
	<li><a href='https://twitter.com/emmanuelbernard'>@emmanuelbernard</a></li>
</ul>
<h3 id='ceylon'>Ceylon</h3>
<a href='http://ceylon-lang.org/'>Ceylon</a>
<a href='https://github.com/ceylon'>Ceylon sur GitHub</a>
<a href='http://www.redhat.com/'>Red Hat</a>
<h3 id='leslangagesdelajvm'>Les langages de la JVM</h3>
<a href='http://www.beanshell.org/'>Bean Shell</a>
<a href='http://www.mozilla.org/rhino/'>Rhino</a>
<a href='http://www.jython.org/'>Jython</a>
<a href='http://groovy.codehaus.org/'>Groovy</a>
<a href='http://jruby.org/'>JRuby</a>
<a href='http://clojure.org/'>clojure</a>
<a href='http://www.scala-lang.org/'>Scala</a>
<a href='http://fantom.org/'>Fantom</a>
<a href='http://gosu-lang.org/'>Gosu</a>
<a href='http://confluence.jetbrains.net/display/Kotlin/Welcome'>Kotlin</a>
<a href='http://ceylon-lang.org'>Ceylon</a>
<h3 id='ceylonintro'>Ceylon Intro</h3>
<a href='http://ceylon-lang.org'>Ceylon</a>
<a href='http://ceylon-lang.org/blog/2012/03/20/ceylon-m2-minitel/'>Ceylon M2 Minitel</a>
<h3 id='syntaxeetdetails'>Syntaxe et details</h3>
<a href='http://ceylon-lang.org/documentation/1.0/reference/interoperability/java-from-ceylon/'>Interoperabilite Java</a>
<a href='http://torquebox.org/'>Torquebox</a>
<a href='http://immutant.org/'>Immutant</a>
<a href='http://ceylon-lang.org/documentation/1.0/tour/named-arguments/#more_about_named_arguments'>Builder syntax</a>
<a href='http://en.wikipedia.org/wiki/Javac'>Javac</a>
<a href='http://asm.ow2.org/'>ASM</a>
<a href='http://ceylon-lang.org/blog/2011/12/08/let-it-work/'>AST de Javac et comment on l’utilise en Ceylon</a>
<a href='http://openjdk.java.net/projects/jigsaw/'>Jigsaw</a>
<a href='https://docs.jboss.org/author/display/MODULES/Home'>JBoss Modules</a>
<a href='http://en.wikipedia.org/wiki/Dart_(programming_language)'>Google Dart</a>
<h3 id='outils'>Outils</h3>
<a href='http://www.serli.com/'>Serli</a>
<h3 id='ecosystemeetfuture'>Ecosysteme et future</h3>
<a href='http://ceylon-lang.org/documentation/current/roadmap/'>Roadmap</a>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
