---
title: 'Les Cast Codeurs Podcast - Episode 54 - Interview Dojo toolkit avec Emmanuel Tissandier'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 54
mp3_length: 48265779
---
<p>Enregistré le 24 février 2012
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-54.mp3'>LesCastCodeurs-Episode–54.mp3</a>
</p>
<h2 id='interview'>Interview</h2>
<a href='http://www.devoxx.com/display/DV11/Emmanuel+Tissandier'>http://www.devoxx.com/display/DV11/Emmanuel+Tissandier</a>
<a href='http://en.wikipedia.org/wiki/Windows_Presentation_Foundation'>WPF</a>
<a href='http://www.ibm.com/fr/fr/'>IBM</a>
<a href='http://www-01.ibm.com/software/websphere/ilog/'>iLog</a>
<a href='http://dojotoolkit.org/'>DOJO Toolkit</a>
<a href='http://nodejs.org/'>Node.js</a>
<a href='http://requirejs.org/docs/whyamd.html'>AMD</a>
<a href='http://www-01.ibm.com/software/rational/'>Rational</a>
<a href='http://maqetta.org/'>Maqetta</a>
<a href='http://dojofoundation.org/'>Dojo fondation</a>
<a href='http://dojotoolkit.org/reference-guide/#dijit'>Dijit</a>
<a href='http://aptana.com/'>Aptana</a>
<a href='http://dojotoolkit.org/reference-guide/util/doh.html'>Doh</a>
<a href='http://phonegap.com/'>Phonegap</a>
<a href='http://dojoserverfaces.org/'>DojoServerFaces</a>
<a href='http://www.dojofaces.org/'>Dojo Faces</a>
<a href='http://jquery.com/'>jQuery</a>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
