---
title: 'Les Cast Codeurs Podcast - Episode 51 - iOS et le mobile avec Jean-François Grang (premiere partie)'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 51
mp3_length: 35467978
---
<p>Enregistré le 2 janvier 2012
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-51.mp3'>LesCastCodeurs-Episode–51.mp3</a>
</p>
<h2 id='interview'>Interview</h2>
<h3 id='jean-franoisgrang'>Jean-François Grang</h3>
<a href='http://twitter.com/jfgrang'>@jfgrang</a>
<a href='http://octo.com'>Octo</a>
<a href='http://itunes.com/apps/itimesheet'>iTimeSheet</a>
<p>Les articles sur le mobile sur le blog d’OCTO : <a href='http://blog.octo.com/tag/mobilite'>http://blog.octo.com/tag/mobilite</a>
</p>
<h3 id='lemarch'>Le marché</h3>
<a href='http://www.apple.com/iphone/'>iPhone</a>
<a href='http://en.wikipedia.org/wiki/IOS'>iOS</a>
<a href='http://www.omnigroup.com/'>Omnigroup</a>
<a href='http://culturedcode.com/things/'>Things</a>
<a href='http://www.lautoentrepreneur.fr/'>L’auto-entrepreneunariat</a>
<a href='http://www.apple.com/iphone/business/apps/'>Apple business portal</a>
<a href='http://www.appaloosa-store.com/'>Appaloosa</a>
<h3 id='latechnique'>La technique</h3>
<a href='http://clang.llvm.org/docs/AutomaticReferenceCounting.html'>Automatic Reference Counting</a>
<a href='http://en.wikipedia.org/wiki/OpenGL_ES'>OpenGL ES</a>
<a href='http://developer.apple.com/xcode/'>XCode</a>
<a href='http://developer.apple.com/technologies/tools/'>Survol des outils Apple</a>
<a href='http://en.wikipedia.org/wiki/GNU_Compiler_Collection'>GCC</a>
<a href='http://en.wikipedia.org/wiki/LLVM'>LLVM</a>
<a href='http://www.jetbrains.com/objc/'>JetBrains AppCode</a>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
