---
title: 'Les Cast Codeurs Podcast - Episode 57 - En direct de Devoxx France 2012'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 57
mp3_length: 42201457
---
<p>Enregistré le 20 avril 2012
</p>
<p>Téléchargement de l’épisode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-57.mp3'>LesCastCodeurs-Episode–57.mp3</a>
</p>
<h2 id='sessionlescastcodeurs'>Session les cast codeurs</h2>
<a href='http://www.slideshare.net/emmanuelbernard/les-cast-codeurs-devoxx-france-2012'>Les slides de la session Les Cast Codeurs</a>
<a href='http://atlassian.fr'>Un grand merci à Atlassian pour les bières</a>
<a href='http://devoxx.fr'>Devoxx France</a>
<a href='http://devoxx.fr/display/FR12/Agenda'>Agenda</a>
<a href='http://www.duchess-france.org/'>Duchess France</a>
<a href='http://www.code-story.net/'>http://www.code-story.net/</a>
<a href='https://github.com/dgageot/CodeStoryDevoxx'>Le code de l’application Code Story</a>
<p>Merci aux polos rouges et à l’année prochaine.
</p>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
