---
title: 'Les Cast Codeurs Podcast - Episode 55 - La TVA est en sus'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 55
mp3_length: 48231507
---
<p>Enregistré le 6 mars 2012
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-55.mp3'>LesCastCodeurs-Episode–55.mp3</a>
</p>
<h2 id='news'>News</h2>
<h3 id='java'>Java</h3>
<p>La fin de vie de Java FX 1.x annoncée (dec 2008- dec 2012) <a href='https://blogs.oracle.com/javafx/entry/javafx_1_2_and_javafx'>https://blogs.oracle.com/javafx/entry/javafx_1_2_and_javafx</a>
</p>
<p>Griffon <a href='http://docs.codehaus.org/display/GROOVY/Griffon'>http://docs.codehaus.org/display/GROOVY/Griffon</a>
</p>
<p>La fin de vie de Java 6 clarifiée <a href='https://blogs.oracle.com/henrik/entry/updated_java_6_eol_date'>https://blogs.oracle.com/henrik/entry/updated_java_6_eol_date</a>
</p>
<p>Jenkins hosts son propre repo maven <a href='http://repo.jenkins-ci.org'>http://repo.jenkins-ci.org</a>
</p>
<h3 id='langagesalternatifs'>Langages alternatifs</h3>
<p>Sortie de Akka 2.0 <a href='http://blog.typesafe.com/introducing-akka-20-2756'>http://blog.typesafe.com/introducing-akka-20-2756</a>
</p>
<p>Spring integration Scala DSL <a href='http://jaxenter.com/springsource-announces-scala-dsl-for-spring-framework-41251.html'>http://jaxenter.com/springsource-announces-scala-dsl-for-spring-framework-41251.html</a>
</p>
<h3 id='nosql'>NoSQL</h3>
<p>Spring Hadoop <a href='http://blog.springsource.org/2012/02/29/introducing-spring-hadoop/'>http://blog.springsource.org/2012/02/29/introducing-spring-hadoop/</a>
</p>
<p>Spring Android <a href='http://www.springsource.org/spring-android'>http://www.springsource.org/spring-android</a>
</p>
<h3 id='diversinternet'>Divers / Internet</h3>
<p>SPDY draft <a href='https://tools.ietf.org/html/draft-mbelshe-httpbis-spdy-00'>https://tools.ietf.org/html/draft-mbelshe-httpbis-spdy-00</a>
</p>
<p>GitHub hacké, merci Rails <a href='http://www.extremetech.com/computing/120981-github-hacked-millions-of-projects-at-risk-of-being-modified-or-deleted'>http://www.extremetech.com/computing/120981-github-hacked-millions-of-projects-at-risk-of-being-modified-or-deleted</a>
</p>
<p>Sortie de Spock 0.6 <a href='http://spock-framework.readthedocs.org/en/latest/index.html'>http://spock-framework.readthedocs.org/en/latest/index.html</a>
</p>
<h3 id='devoxxfrance'>Devoxx France</h3>
<p>Les organisateurs lachent les chevaux… le programme <a href='http://devoxx.fr/display/FR12/Devoxxians'>http://devoxx.fr/display/FR12/Devoxxians</a>
</p>
<p>On peut s’inscrire <a href='http://devoxx.fr/display/FR12/Inscription'>http://devoxx.fr/display/FR12/Inscription</a>
</p>
<h3 id='lesgeeketlapolitique'>Les geek et la politique</h3>
<p>Message de <a href='http://twitter.com/Piwai'>@Piwaï</a>
</p>
<p>Serait-ce sortir du contexte des castcodeurs que de vous parler d’un Hackaton sur le thème Hack the elections,
</p>
<p>qui aura lieu le 17 et 18 mars sur Paris ?
</p>
<p>En deux mots : <a href='http://www.voxe.org'>Voxe.org</a> (association, politiquement neutre, bisounours inside)
</p>
<p>organise un hackaton pour construire des applis autour de son API Rest.
</p>
<p>Plutôt que d’en faire 3 tonnes, je vous laisse lire le détail : <a href='http://checkthis.com/bg5g'>http://checkthis.com/bg5g</a>
</p>
<h2 id='discussionsurleprofiling'>Discussion sur le profiling</h2>
<ul>
	<li>JProfiler <a href='http://www.ej-technologies.com/products/jprofiler/overview.html'>http://www.ej-technologies.com/products/jprofiler/overview.html</a></li>
	<li>OProfile <a href='http://oprofile.sourceforge.net/news/'>http://oprofile.sourceforge.net/news/</a></li>
	<li>YourKit <a href='http://www.yourkit.com/'>http://www.yourkit.com/</a></li>
	<li>Byteman <a href='http://www.jboss.org/byteman'>http://www.jboss.org/byteman</a></li>
	<li>Java Melody <a href='http://code.google.com/p/javamelody/'>http://code.google.com/p/javamelody/</a></li>
</ul>
<h2 id='lesmainsdanslecambouisoutilsdelpisode'>Les mains dans le cambouis &amp; outils de l’épisode</h2>
<p>Le repertoire courant dans vos titres en ligne de commande <a href='http://blog.emmanuelbernard.com/2012/02/customize-titles-of-your-terminal-window/'>http://blog.emmanuelbernard.com/2012/02/customize-titles-of-your-terminal-window/</a>
</p>
<p>Edition de lignes de commande <a href='http://www.math.utah.edu/docs/info/features_7.html'>http://www.math.utah.edu/docs/info/features_7.html</a>
</p>
<h2 id='jugetconferences'>JUG et Conferences</h2>
<ul>
	<li>Hackergarten <a href='http://hackergarten-paris.eventbrite.com/'>http://hackergarten-paris.eventbrite.com/</a></li>
	<li>Jenkins User Conférence (Au Marriott, le 17 avril, veille de devoxxFr) <a href='http://www.cloudbees.com/jenkins-user-conference-2012-paris.cb'>http://www.cloudbees.com/jenkins-user-conference-2012-paris.cb</a></li>
	<li>Devoxx France : <a href='http://devoxx.fr'>http://devoxx.fr</a></li>
	<li>Mix-IT : 26 Avril <a href='http://www.mix-it.fr/'>http://www.mix-it.fr/</a></li>
	<li>Breizh Camp <a href='http://www.breizhcamp.org/call-for-paper'>http://www.breizhcamp.org/call-for-paper</a></li>
</ul>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
