---
title: 'Les Cast Codeurs Podcast - Episode 52 - iOS et le mobile avec Jean-François Grang (deuxieme partie)'
author: 'Emmanuel Bernard'
layout: blog-post
episode: 52
mp3_length: 40714572
---
<p>Enregistré le 2 janvier 2012
</p>
<p>Telechargement de l’episode <a href='http://traffic.libsyn.com/lescastcodeurs/LesCastCodeurs-Episode-52.mp3'>LesCastCodeurs-Episode–52.mp3</a>
</p>
<h2 id='interview'>Interview</h2>
<h3 id='jean-franoisgrang'>Jean-François Grang</h3>
<a href='http://twitter.com/jfgrang'>@jfgrang</a>
<a href='http://octo.com'>Octo</a>
<a href='http://itunes.com/apps/itimesheet'>iTimeSheet</a>
<p>Les articles sur le mobile sur le blog d’OCTO : <a href='http://blog.octo.com/tag/mobilite'>http://blog.octo.com/tag/mobilite</a>
</p>
<h3 id='linteractionaveclerestedusietdesapplisjavaenparticulier'>L’interaction avec le reste du SI et des applis Java en particulier</h3>
<a href='https://github.com/johnezang/JSONKit'>JSON Kit</a>
<a href='http://stig.github.com/json-framework/'>SBJson</a>
<a href='http://gabriel.github.com/gh-unit/'>GHUnit</a>
<a href='http://www.sente.ch/software/ocunit/'>OCUnit</a>
<a href='http://ocmock.org/'>OCMock</a>
<h3 id='linterfaceutilisateuretautre'>L’interface utilisateur et autre</h3>
<a href='http://www.apple.com/icloud/'>iCloud</a>
<a href='http://www.apple.com/iphone/features/siri.html'>Siri</a>
<a href='http://www.usievents.com/'>USI</a>
<a href='http://www.patentlyapple.com/'>Patently Apple</a>
<h2 id='nouscontacter'>Nous contacter</h2>
<p>Contactez-nous via twitter <a href='http://twitter.com/lescastcodeurs'>http://twitter.com/lescastcodeurs</a>
</p>
<p>sur le groupe Google <a href='http://groups.google.com/group/lescastcodeurs'>http://groups.google.com/group/lescastcodeurs</a>
</p>
<p>ou sur le site web <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a>
</p>
<p>Flattr-ez nous (dons) sur <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com/</a></p>
