---
title: Licence
layout: default
---
.page-header
  %h1 #{page.title}


%img{:alt=>'Licence Creative Commons', :style=>'border-width:0', :src=>'https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png'}
%br
%br
%p
  Les épisodes du podcast Les Cast Codeurs sont publiés sous les termes de la
  %a{:href=>'https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr'}
    Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de Modification 4.0 International.
%p
  Nous vous encourageons à distribuer nos podcasts librement tant que vous l'attribuez à
  %i
    Les Cast Codeurs
  et donnez un lien vers
  %a{:href=>'https://lescastcodeurs.com'}
    https://lescastcodeurs.com.
  Vous n'êtes pas autorisé à distribuer nos podcasts à des fins commerciales.
  Vous n'êtes pas autorisé à créer d'œuvre dérivée de nos podcasts.
%p
  Pour plus d'information et le texte entier de la licence, rendez-vous sur le site Creative Commons:
  %a{:href=>'https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.fr'}
    https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.fr
%p
  Si vous avez besoin d'une licence plus adaptée, expliquez nous votre cas en nous envoyant un email à
  %a{:href=>'mailto:commentaire@lescastcodeurs.com'}
    commentaire@lescastcodeurs.com
  pour en discuter.
