<header id="site-header">
  <nav id="site-nav" class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <span class="mr-auto"></span>
        <ul class="navbar-nav">
          {%- for path in site.header_pages -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </nav>
</header>
