---
---

$header-color: rgba(255, 255, 255, .75);
$header-color-hover: rgba(255, 255, 255, 1);
$header-background-color: #251509;
$heading-color: #997704;
$card-background-color: #eeeeee;
$link_color: #428bca;

//
// Layout
//

// https://medium.com/@mschenk22/bootstrap-4-footer-at-bottom-not-sticky-dynamic-footer-height-b37ccec837e2
body, wrapper {
  min-height: 100vh;
}

//
// Global
//

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $heading-color;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.10rem;
}

a {
  color: $link_color;
}

.btn-primary {
  background-color: $link_color !important;
}

// Youtube
iframe {
  display: block;
  border-style:none;
  margin: 1rem auto;
}

//
// Specific
//

// Permet d'avoir un meilleur rendu sur de très petits écrans
#site-header {
  .navbar-brand {
    margin-right: 0;
  }

  .navbar-toggler {
    padding-left: 0;
    padding-right: 0;
  }
}

#site-nav, #site-footer {
  color: $header-color !important;
  background-color: $header-background-color !important;

  a {
    color: $header-color !important;

    &:hover {
      color: $header-color-hover !important;
    }
  }

  .nav-icon a {
    padding-top: .25rem;
    font-size: larger;
  }
}

#site-footer {
  div {
    padding: .5rem 1rem .5rem;
  }
}

#site-sidebar .card,
#site-sidebar .card .list-group-item,
.jumbotron {
  background-color: $card-background-color !important;
}

.jumbotron {
  padding: 1rem 1rem;
  font-size: 150%;
}

//
// Utilities
//

.align-super {
  vertical-align: super;
}

.fs-1_5 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

//
// Colors
//
.piggy-pink { color: #f4abba; }
.black { color: black; }
.twitter-blue { color: #1da1f2; }
.google-group-blue { color: #4285f4; }
.apple-podcast-violet { color: #a84adc; }
.rss-orange { color: #ff6600; }
.mic-grey { color: #95a5a6; }
