---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

//
// Custom style for homepage
//

.home .home-logo {
  float: left;
  margin: 1rem 1rem 0 0;
}

.post-list-item {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
