$gridColumnWidth:75px;

@import "bootstrap";

$primary-color:#997704;

body {
  background-color: #997704;
  padding-top: 40px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size:100%;
  p {
    font-size:100%;
    line-height:1.15em;
  }
}

.container.content {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 8px #000;
  text-align: justify;
}

a.brand {
  margin-left: -15px !important;
}

.navbar-fixed-top {
  box-shadow: 0px 0px 4px #000;
}

hr.separator {
    height: 2px;
    background-color: #997704;
    color: #997704;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    margin-bottom:2.5em;
  }

h1, h2, h3 {
  color: $primary-color;
  margin-bottom:1em;
}

h1 {
  font-size:270%;
  line-height: 1em;
}

h2 {
  margin-top: 1em;
  line-height: 1em;
}

.prominent-box {
  p {
    font-size:120%;
  }
}

  
#tagline {
  background-image: url(/images/logo_carre_transparent_150height.png);
  background-repeat: no-repeat; 
  height:150px;
  margin-top: 50px; 
  padding-left: 150px;
}

#sidebar {
  font-size:80%;
  background: #d5cea6; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #d5cea6 0%, #f7f0cf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d5cea6), color-stop(100%,#f7f0cf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #d5cea6 0%,#f7f0cf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #d5cea6 0%,#f7f0cf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #d5cea6 0%,#f7f0cf 100%); /* IE10+ */
  background: linear-gradient(-45deg,  #d5cea6 0%,#f7f0cf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#f7f0cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  padding: 5px;
  border: solid #997704 1px;

  h1, h2 {
    margin-top:.7em;
    margin-bottom:.7em;
    margin-left: .2em;
  }

  hr {
    border: #997704 solid 1px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #element {
    padding-left:5px;
    padding-bottom:1em;
  }
}

.teammember {
  clear:both;
  margin-bottom: 2em;
}

.teamheader {
  margin-bottom: 2em;
  h2 {
    display:inline;
    margin-bottom:50px;
  }
  .teamlinks {
    display:inline;
    margin-left:2em;
  }
}

//Team page
.teammemberbio {
  float:left;
  font-size: 90%;
  display:inline;
  ul {
    list-style-position:inside;
  }
}

.teammemberphoto {
  float:left;
  margin: 0 20px 20px 0;
  display:inline;
}

//blog
.blogpost {
  h2 {
    padding-bottom: 0;
  }
}
.blogtagbar {
  display: inline;
    vertical-align: bottom;
    font-size:90%;
    color: #555555;
    a {
    text-decoration:none;
  }
  iframe {
    position:relative;
    top:7px;
  }
}

// Include responsive Bootstrap styles
//@import "bootstrap-responsive";
