.sidebar-module
  %h2 Nous soutenir
  %p
    %a{:href=>'https://www.patreon.com/LesCastCodeurs'}
      %img{:src=>'/images/services/patreon.png', :width=>'32px', :height=>'32px'}
      sur Patreon

.sidebar-module
  %h2 Syndication
  %p
    %a{:href=>'/episodes'}
      %img{:src=>'/images/list_32.png'}
      Liste des épisodes
  %p
    %a{:href=>'/podcast-rss'}
      %img{:src=>'/images/services/rss_32.png'}
      Feed
  %p
    %a{:href=>'https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675'}
      %img{:src=>'/images/services/itunes.jpg', :width=>'32px', :height=>'32px'}
      Souscrire dans iTunes
  %p
    %a{:href=>'/licence/'}
      %img{:src=>'/images/services/share_32.png'}
      Licence

-#.sidebar-module
-#  %h2 Sponsors
-#  %a{:href=>'https://www.cloudbees.com'}
-#    %img{:src=>'/images/promo/sponsors/cloudbees-112x75px.png', :width=>'112px', :height=>'75px'}
-#
.sidebar-module
  %h2 Contacts
  %p
    %a{:href=>'mailto:commentaire@lescastcodeurs.com'}
      %img{:src=>'/images/services/email_32.png'}
      Mail
  %p
    %a{:href=>'https://twitter.com/lescastcodeurs'}
      %img{:src=>'/images/services/twitter_32.png'}
      @lescastcodeurs
  %p
    %a{:href=>'/crowdcasting/'}
      %img{:src=>'/images/services/web_32.png'}
      Crowdcast

.sidebar-module
  %h2 Discuter
  %p
    %a{:href=>'https://groups.google.com/group/lescastcodeurs'}
      %img{:src=>'/images/services/google_groups.png', :width=>'32px', :height=>'32px'}
      Joindre le Google group
